.clsMainBody
{
	font-size: 12px;
	font-family: Tahoma, "MS Sans Serif", tahoma, Helvetica, sans-serif; 
	background-color:#CFDBE5;  
}
.clsAccountBody
{
  font-size:10px;
  font-family:Tahoma;
  color:white;
  background-color:#CFDBE5;
}

BODY
{
	font-size: 12px;
	font-family: Tahoma, "MS Sans Serif", tahoma, Helvetica, sans-serif; 
	background-color:#CFDBE5;  
  margin: 10;
  scrollbar-face-color: #003B8E;
  scrollbar-shadow-color: navy;
  scrollbar-highlight-color: white;
  scrollbar-3dlight-color: black;
  scrollbar-darkshadow-color: black;
  scrollbar-track-color:#688ABA; /*#20336A;*/
  scrollbar-arrow-color: #ADEF8C; /*#FFFFCE;  */
}


/* App Header */
.clsHeaderToolbar{
  font-family:Tahoma;
  font-size:8pt;
  background-color:#97CE21;
  color:#263406;
  filter:blur(add=1,direction=180,strength=2);
}

.clsApplicationHeader{
	position:absolute;
	font-family: "tahoma Black";
	font-size: 12pt;
	font-weight: bold;
	top:28px;
	left:300px;
	background-color:#97CE21;
	color:#04468D;
	filter:blur(add=1,direction=180,strength=2);
}

 .clsFixedPos{
	position:absolute;
}
    
.clsDockHeader{
/*	background-color:#CFDBE5; */
	background-color:#97CE21;
  font-family:Verdana;
  font-weight:bold;
  font-size:10pt;
  text-align:center;
  color:white;
  border:1px solid black;
  padding-right:-10px;
}
.clsDockMenuDiv{
	overflow-x:auto;
    overflow-y:auto;
}

.clsMenuBody {
  font-family:Tahoma, Arial;
  font-size:10pt;
  color:white;
  background-color:#003B8E;  
}

.clsTopLevelMenuItem{
    font-family:Tahoma, Arial;
    font-size:10pt;
    font-weight:bold;
    color:white;
    cursor:hand;
}



.clsMenuRoot{
}

.clsMenuRootText{
	font-weight:bold;
  font-size:10pt;
}
.clsTopLevelMenuGroupText {
	font-size:8pt;
    font-weight:bold;
    cursor:hand; 
} 

.clsMenuGroup {

}

.clsMenuGroupText{
	font-size:8pt;
    cursor:hand;    
}

.clsMenuLink {
    font-size:8pt;
/*    color: #7FFF00; */
    color:white;
    text-decoration:none;
    cursor:hand;
}
.clsMenuRow{
}
.clsMenuItemText{
	
}

.clsDrag{
  font-size:8pt;
  font-weight:bold;
/*  position:relative; */
  cursor:hand;
  dragable:true;
  dropable:true;
  color:white;
}
.clsDragHighlight{
  font-size:8pt;
  font-weight:bold;
/*  position:relative; */
  cursor:hand;
  dragable:true;
  dropable:true;
  color:#97CE21;
}
.clsDragDiv{
	position:absolute;
	font-size:8pt;
	font-weight:bold;
	cursor:hand;
	visibility : hidden;
  filter: alpha(opacity=50);  
}

