<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <!-- SERVICE CONFIG -->
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IAccountService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions"
          hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="524288"
          maxBufferSize="65536" maxConnections="10" maxReceivedMessageSize="65536">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IQuotingService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions"
          hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="524288"
          maxBufferSize="65536" maxConnections="10" maxReceivedMessageSize="65536">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IProductOfferingService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions"
          hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="524288"
          maxBufferSize="65536" maxConnections="10" maxReceivedMessageSize="65536">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </netTcpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IElectronicPaymentServices" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text"
          textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Basic" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" negotiateServiceCredential="true"
              establishSecurityContext="true" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IAddAccountEvents" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text"
          textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Basic" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" negotiateServiceCredential="true"
              establishSecurityContext="true" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IUpdateAccountEvents" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text"
          textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Basic" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" negotiateServiceCredential="true"
              establishSecurityContext="true" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IAccountService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text"
          textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" negotiateServiceCredential="true"
              algorithmSuite="Default" establishSecurityContext="true" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IContactUpdateEvents" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text"
          textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Basic" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" negotiateServiceCredential="true"
              establishSecurityContext="true" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IAccountCreation" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text"
          textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Basic" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" negotiateServiceCredential="true"
              establishSecurityContext="true" />
          </security>
        </binding>
        <binding name="WSHttpBinding_ISubscriptionService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxReceivedMessageSize="9999999"
          messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
          allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Basic" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" negotiateServiceCredential="true"
              establishSecurityContext="true" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IGroupSubscriptionService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxReceivedMessageSize="9999999"
          messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
          allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Basic" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" negotiateServiceCredential="true"
              establishSecurityContext="true" />
          </security>
        </binding>
        <binding name="WSHttpBinding_ITicketingService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text"
          textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" negotiateServiceCredential="true"
              algorithmSuite="Default" establishSecurityContext="true" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IProductCatalogService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxReceivedMessageSize="9999999"
          messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
          allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" negotiateServiceCredential="true"
              algorithmSuite="Default" establishSecurityContext="true" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IProductOfferingService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxReceivedMessageSize="9999999"
          messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
          allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Basic" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" negotiateServiceCredential="true"
              establishSecurityContext="true" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IPriceListService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxReceivedMessageSize="9999999"
          messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
          allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Basic" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" negotiateServiceCredential="true"
              establishSecurityContext="true" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IDisputeService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxReceivedMessageSize="9999999"
          messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
          allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Basic" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" negotiateServiceCredential="true"
              establishSecurityContext="true" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IUsmService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxReceivedMessageSize="9999999"
          messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
          allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Basic" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" negotiateServiceCredential="true"
              establishSecurityContext="true" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IMetraTech.Core.Services.DivisionManagementService"
          closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00"
          sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false"
          hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288"
          maxReceivedMessageSize="9999999" messageEncoding="Text" textEncoding="utf-8"
          useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Basic" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" negotiateServiceCredential="true" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IMetraTech.Core.Services.QuotingService"
          closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00"
          sendTimeout="00:10:00" bypassProxyOnLocal="false" transactionFlow="false"
          hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288"
          maxReceivedMessageSize="9999999" messageEncoding="Text" textEncoding="utf-8"
          useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Basic" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" negotiateServiceCredential="true" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IAccountService1" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text"
          textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" negotiateServiceCredential="true"
              algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IQuotingService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text"
          textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" negotiateServiceCredential="true"
              algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IProductOfferingService1" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text"
          textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" negotiateServiceCredential="true"
              algorithmSuite="Default" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="HTTP://localhost:8001/ELECTRONICPAYMENTSERVICES/RECURRINGPAYMENTSSERVICE"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IElectronicPaymentServices"
        contract="IRecurringPaymentsService" name="WSHttpBinding_IElectronicPaymentServices">
        <identity>
          <dns value="ActivityServicesCert" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8001/ElectronicPaymentServices/OneTimePaymentService"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IElectronicPaymentServices"
        contract="IOneTimePaymentService" name="WSHttpBinding_IElectronicPaymentServices">
        <identity>
          <dns value="ActivityServicesCert" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8001/AddAccountEvents" binding="wsHttpBinding"
        bindingConfiguration="WSHttpBinding_IAddAccountEvents" contract="IAddAccountEvents"
        name="BasicHttpBinding_IAddAccountEvents">
        <identity>
          <dns value="ActivityServicesCert" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8001/UpdateAccountEvents"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IUpdateAccountEvents"
        contract="IUpdateAccountEvents" name="BasicHttpBinding_IUpdateAccountEvents">
        <identity>
          <dns value="ActivityServicesCert" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8001/AccountService" binding="wsHttpBinding"
        bindingConfiguration="WSHttpBinding_IAccountService" contract="IAccountService"
        name="BasicHttpBinding_IAccountService">
        <identity>
          <dns value="ActivityServicesCert" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8001/ContactUpdateEvents"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IContactUpdateEvents"
        contract="IContactUpdateEvents" name="BasicHttpBinding_IContactUpdateEvents">
        <identity>
          <dns value="ActivityServicesCert" />
        </identity>
      </endpoint>
      <endpoint address="HTTP://localhost:8001/SUBSCRIPTIONSERVICE"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ISubscriptionService"
        contract="ISubscriptionService" name="WSHttpBinding_ISubscriptionService">
        <identity>
          <dns value="ActivityServicesCert" />
        </identity>
      </endpoint>
      <endpoint address="HTTP://localhost:8001/GROUPSUBSCRIPTIONSERVICE"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IGroupSubscriptionService"
        contract="IGroupSubscriptionService" name="WSHttpBinding_IGroupSubscriptionService">
        <identity>
          <dns value="ActivityServicesCert" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8001/AccountCreation" binding="wsHttpBinding"
        bindingConfiguration="WSHttpBinding_IAccountCreation" contract="IAccountCreation"
        name="WSHttpBinding_IAccountCreation">
        <identity>
          <dns value="ActivityServicesCert" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8001/TicketingService" binding="wsHttpBinding"
        bindingConfiguration="WSHttpBinding_IAccountService" contract="ITicketingService"
        name="BasicHttpBinding_ITicketingService">
        <identity>
          <dns value="ActivityServicesCert" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8001/ProductCatalogService"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IProductCatalogService"
        contract="IProductCatalogService" name="BasicHttpBinding_IProductCatalogService">
        <identity>
          <dns value="ActivityServicesCert" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8001/ProductOfferingService"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IProductOfferingService"
        contract="IProductOfferingService" name="WSHttpBinding_IProductOfferingService">
        <identity>
          <dns value="ActivityServicesCert" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8001/PriceListService" binding="wsHttpBinding"
        bindingConfiguration="WSHttpBinding_IPriceListService" contract="IPriceListService"
        name="WSHttpBinding_IPriceListService">
        <identity>
          <dns value="ActivityServicesCert" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8001/UsageHistoryService"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IPriceListService"
        contract="IUsageHistoryService" name="WSHttpBinding_IPriceListService">
        <identity>
          <dns value="ActivityServicesCert" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8001/ScheduleAdapterService"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IPriceListService"
        contract="IScheduleAdapterService" name="WSHttpBinding_IPriceListService">
        <identity>
          <dns value="ActivityServicesCert" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8001/AuthService" binding="wsHttpBinding"
        bindingConfiguration="WSHttpBinding_IPriceListService" contract="IAuthService"
        name="WSHttpBinding_IPriceListService">
        <identity>
          <dns value="ActivityServicesCert" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8001/DisputeService" binding="wsHttpBinding"
        bindingConfiguration="WSHttpBinding_IDisputeService" contract="IDisputeService"
        name="WSHttpBinding_IDisputeService">
        <identity>
          <dns value="ActivityServicesCert" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8001/UsmService" binding="wsHttpBinding"
        bindingConfiguration="WSHttpBinding_IUsmService" contract="IUsmService"
        name="WSHttpBinding_IUsmService">
        <identity>
          <dns value="ActivityServicesCert" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8001/DivisionManagementService"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IMetraTech.Core.Services.DivisionManagementService"
        contract="IDivisionManagementService" name="WSHttpBinding_IMetraTech.Core.Services.DivisionManagementService">
        <identity>
          <dns value="ActivityServicesCert" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8001/QuotingService" binding="wsHttpBinding"
        bindingConfiguration="WSHttpBinding_IMetraTech.Core.Services.QuotingService"
        contract="IQuotingService" name="WSHttpBinding_IMetraTech.Core.Services.QuotingService">
        <identity>
          <dns value="ActivityServicesCert" />
        </identity>
      </endpoint>
      <endpoint address="http://devtmploraw:8001/AccountService" binding="wsHttpBinding"
        bindingConfiguration="WSHttpBinding_IAccountService1" contract="AcountServiceReference.IAccountService"
        name="WSHttpBinding_IAccountService">
        <identity>
          <certificate encodedValue="AwAAAAEAAAAUAAAAudkKN006G2IEQBXucR4kLcGGzksgAAAAAQAAABsCAAAwggIXMIIBgKADAgECAhDn2PW4LDs/skqOXc0UV6ElMA0GCSqGSIb3DQEBBAUAMB8xHTAbBgNVBAMTFEFjdGl2aXR5U2VydmljZXNDZXJ0MB4XDTEwMDcyOTE1Mjc0OVoXDTM5MTIzMTIzNTk1OVowHzEdMBsGA1UEAxMUQWN0aXZpdHlTZXJ2aWNlc0NlcnQwgZ8wDQYJKoZIhvcNAQEBBQADgY0AMIGJAoGBAKevHiDZo1b+XsOOJ5COJqObrwlaF0DHVNFh8+c8OlxXPrdWCkVyoN1XeYUmX2Pxywk1lMQ/Y4s9J2UoND/08eeeWg1xH1ImZAUe/xjEA6Qz1WGTODI6T6A+9o5wg51vtQDWvTOr0Fr32Yxz9V+PilGVxjuQSNO+olhk7ITHQ6FnAgMBAAGjVDBSMFAGA1UdAQRJMEeAEIUyQY8m0yAOSi8eyn4Z93yhITAfMR0wGwYDVQQDExRBY3Rpdml0eVNlcnZpY2VzQ2VydIIQ59j1uCw7P7JKjl3NFFehJTANBgkqhkiG9w0BAQQFAAOBgQAjYQmgXVwW/pv6kwc5+xWZAHTY1SCXhNRVVcep9JPiC2L2YML0dXLGXU0hq+cAsZ3LYI0XAOkpQBbTivgfM+GDe80HqwfA/i9zzgqBjKwRhquUIaAppRQbU1SxpXdoLtu8dYSVTev2jTAr6vmjgh2R6ptp9Q0EIBt0w/qyfkBM2g==" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://devtmploraw:99/AccountService" binding="netTcpBinding"
        bindingConfiguration="NetTcpBinding_IAccountService" contract="AcountServiceReference.IAccountService"
        name="NetTcpBinding_IAccountService">
        <identity>
          <dns value="ActivityServicesCert" />
        </identity>
      </endpoint>
      <endpoint address="http://devtmploraw:8001/QuotingService" binding="wsHttpBinding"
        bindingConfiguration="WSHttpBinding_IQuotingService" contract="QuotingServiceReference.IQuotingService"
        name="WSHttpBinding_IQuotingService">
        <identity>
          <certificate encodedValue="AwAAAAEAAAAUAAAAudkKN006G2IEQBXucR4kLcGGzksgAAAAAQAAABsCAAAwggIXMIIBgKADAgECAhDn2PW4LDs/skqOXc0UV6ElMA0GCSqGSIb3DQEBBAUAMB8xHTAbBgNVBAMTFEFjdGl2aXR5U2VydmljZXNDZXJ0MB4XDTEwMDcyOTE1Mjc0OVoXDTM5MTIzMTIzNTk1OVowHzEdMBsGA1UEAxMUQWN0aXZpdHlTZXJ2aWNlc0NlcnQwgZ8wDQYJKoZIhvcNAQEBBQADgY0AMIGJAoGBAKevHiDZo1b+XsOOJ5COJqObrwlaF0DHVNFh8+c8OlxXPrdWCkVyoN1XeYUmX2Pxywk1lMQ/Y4s9J2UoND/08eeeWg1xH1ImZAUe/xjEA6Qz1WGTODI6T6A+9o5wg51vtQDWvTOr0Fr32Yxz9V+PilGVxjuQSNO+olhk7ITHQ6FnAgMBAAGjVDBSMFAGA1UdAQRJMEeAEIUyQY8m0yAOSi8eyn4Z93yhITAfMR0wGwYDVQQDExRBY3Rpdml0eVNlcnZpY2VzQ2VydIIQ59j1uCw7P7JKjl3NFFehJTANBgkqhkiG9w0BAQQFAAOBgQAjYQmgXVwW/pv6kwc5+xWZAHTY1SCXhNRVVcep9JPiC2L2YML0dXLGXU0hq+cAsZ3LYI0XAOkpQBbTivgfM+GDe80HqwfA/i9zzgqBjKwRhquUIaAppRQbU1SxpXdoLtu8dYSVTev2jTAr6vmjgh2R6ptp9Q0EIBt0w/qyfkBM2g==" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://devtmploraw:99/QuotingService" binding="netTcpBinding"
        bindingConfiguration="NetTcpBinding_IQuotingService" contract="QuotingServiceReference.IQuotingService"
        name="NetTcpBinding_IQuotingService">
        <identity>
          <dns value="ActivityServicesCert" />
        </identity>
      </endpoint>
      <endpoint address="http://devtmploraw:8001/ProductOfferingService"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IProductOfferingService1"
        contract="ProductOfferingServiceReference.IProductOfferingService"
        name="WSHttpBinding_IProductOfferingService1">
        <identity>
          <certificate encodedValue="AwAAAAEAAAAUAAAAudkKN006G2IEQBXucR4kLcGGzksgAAAAAQAAABsCAAAwggIXMIIBgKADAgECAhDn2PW4LDs/skqOXc0UV6ElMA0GCSqGSIb3DQEBBAUAMB8xHTAbBgNVBAMTFEFjdGl2aXR5U2VydmljZXNDZXJ0MB4XDTEwMDcyOTE1Mjc0OVoXDTM5MTIzMTIzNTk1OVowHzEdMBsGA1UEAxMUQWN0aXZpdHlTZXJ2aWNlc0NlcnQwgZ8wDQYJKoZIhvcNAQEBBQADgY0AMIGJAoGBAKevHiDZo1b+XsOOJ5COJqObrwlaF0DHVNFh8+c8OlxXPrdWCkVyoN1XeYUmX2Pxywk1lMQ/Y4s9J2UoND/08eeeWg1xH1ImZAUe/xjEA6Qz1WGTODI6T6A+9o5wg51vtQDWvTOr0Fr32Yxz9V+PilGVxjuQSNO+olhk7ITHQ6FnAgMBAAGjVDBSMFAGA1UdAQRJMEeAEIUyQY8m0yAOSi8eyn4Z93yhITAfMR0wGwYDVQQDExRBY3Rpdml0eVNlcnZpY2VzQ2VydIIQ59j1uCw7P7JKjl3NFFehJTANBgkqhkiG9w0BAQQFAAOBgQAjYQmgXVwW/pv6kwc5+xWZAHTY1SCXhNRVVcep9JPiC2L2YML0dXLGXU0hq+cAsZ3LYI0XAOkpQBbTivgfM+GDe80HqwfA/i9zzgqBjKwRhquUIaAppRQbU1SxpXdoLtu8dYSVTev2jTAr6vmjgh2R6ptp9Q0EIBt0w/qyfkBM2g==" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://devtmploraw:99/ProductOfferingService"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IProductOfferingService"
        contract="ProductOfferingServiceReference.IProductOfferingService"
        name="NetTcpBinding_IProductOfferingService">
        <identity>
          <dns value="ActivityServicesCert" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>
