html
{
  direction:rtl; 
}

body
{
  background-color:#FFF; 
  font:12px/1.5 tahoma,arial,helvetica,clean,sans-serif
  color:#000;
  direction:rtl;
}
#aspnetForm
{
  width:100%;
  height:100%;
}

.full
{
  width:100%;
  height:100%;
}

p
{
  margin: 5px;
}

/* icon styles */
.viewHierarchy
{
 background-image: url(/Res/Images/icons/folder_user.png) !important;
}
.templateHistory
{
 background-image: url(/Res/Images/icons/vcard.png) !important;
}
.account
{
  background-image: url(/Res/Images/icons/user.png) !important;
}
.system_user
{
  background-image: url(/Res/Images/icons/user_suit.png) !important;
}
.settings
{
  background-image: url(/Res/Images/icons/folder_wrench.png) !important;
}
.nav
{
  background-image: url(/Res/Images/icons/folder_go.png) !important;
}
.find
{
  background-image: url(/Res/Images/icons/find.png) !important;
}
.advancedFind
{
  background-image: url(/Res/Images/icons/page_white_find.png) !important;
}
.logout
{
  background-image: url(/Res/Images/icons/door_out.png) !important;
}
.help
{
  background-image: url(/Res/Images/icons/help.png) !important;
}
.add
{
  background-image: url(/Res/Images/icons/add.png) !important;
}
.close
{
  background-image: url(/Res/Images/icons/cancel.png) !important;
}
.refresh
{
  background-image: url(/Res/Images/icons/arrow_refresh.png) !important;
}
.onlineBill
{
  background-image: url(/Res/Images/icons/page_world.png) !important;
}
.manage
{
  background-image: url(/Res/Images/icons/user_go.png) !important;
}
.inlineSearch
{
  background-image: url(/Res/Images/icons/inline_search.png) !important;
	background-repeat : no-repeat !important;
	background-position : right !important;
}

table
{
  font:normal 11px tahoma, arial, helvetica, sans-serif;
}

input
{
  background: #FFFFFF url(/Res/Ext/resources/images/gray/form/text-bg.gif) repeat-x scroll 0pt;
  border: 1px solid #ddd;
  padding: 1px 3px;
  font:normal 11px tahoma, arial, helvetica, sans-serif;
}

.button
{
  background:transparent;
  font:normal 11px tahoma, arial, helvetica, sans-serif;
  padding-left:3px;
  padding-right:3px;
  cursor:pointer;
  margin:0;
  overflow:visible;
  width:auto;
}

.button:hover
{
  cursor:hand;
}

select
{
  background: #FFFFFF url(/Res/Ext/resources/images/gray/form/text-bg.gif) repeat-x scroll 0pt;
  border: 1px solid #ddd;
  padding: 1px 3px;
  font:normal 11px tahoma, arial, helvetica, sans-serif;
}

label
{
  font:normal 11px tahoma, arial, helvetica, sans-serif;
}

a
{
  font:normal 11px tahoma, arial, helvetica, sans-serif;
  color: navy;
}

a:hover
{
  font:normal 11px tahoma, arial, helvetica, sans-serif;
  color: black;
}


h1
{
  font-weight: bold;
  font-size: 18px;
  color: black;
  margin-top: 10px;
  margin-bottom: 40px;
}

h2
{
  font-weight: bold;
  font-size: 14px;
  color: black;
  margin-top: 15px;
  margin-bottom: 15px;
}

h3
{
  font-weight: bold;
  font-size: 10px;
  margin-top: 2px;
  margin-bottom: 2px;
}

HR
{
  height: 1px;
  background-color:#99BBE8;
  color:#99BBE8;
}

.Drop
{
  dropable: true;
  color: black;
  background-repeat: no-repeat;
  background-position: right;
}

.CaptionBar
{
  background: transparent url(/Res/Ext/resources/images/gray/panel/white-top-bottom.gif) repeat-x scroll 0pt -1px;
  border-bottom: 1px solid #ddd;
  color: #15428B;
  font-family: tahoma,arial,helvetica,clean,sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 15px; 
  padding: 5px 3px 4px 15px;
}

.FilterHeader
{
  padding: 3px 3px 3px 17px;
  font-size: 10px;
  font-family: Verdana, Arial Unicode MS, Lucida Sans Unicode, Tahoma, Verdana, Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: left;
  color: #FFFFFF;
  background-color: #877B6D;
}

.FilterFooter
{
  padding: 3px 3px 3px 17px;
  font-size: 10px;
  font-family: Verdana, Arial Unicode MS, Lucida Sans Unicode, Tahoma, Verdana, Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: left;
  color: #FFFFFF;
  background-color: #877B6D;
}

.SectionCaptionBar
{
  padding: 5px 8px 5px 8px;
  font-size: 12px;
  font-family: Verdana, Arial Unicode MS, Lucida Sans Unicode, Tahoma, Verdana, Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: left;
  color: #15428B;
}

.SmallText
{
  font-size: 9px;
}

.BigText
{
  font-size: 16px;
}

.ErrorMessage
{
  font-size: 11px;
  color: Red;
  border: 1px #ddd solid;
  background-color: #F6F6F6;
}

.ImportantMessage
{
  font-size: 11px;
  color: Black;
  border: 1px silver solid;
  background-color: #F6F6F6;
  background: #F6F6F6 url(/Res/Images/icons/exclamation.png) no-repeat 0px;
  background-position: top left;
  padding:2px;
  padding-left:20px;
}

.InfoMessage
{
  font-size: 11px;
  color: Black;
  border: 1px silver solid;
  background-color: #F6F6F6;
  background: #F6F6F6 url(/Res/Images/icons/information.png) no-repeat 0px;
  background-position: top left;
  padding:2px;
  padding-left:20px;
}

.ToolTip
{
  font-size: 10px;
  color: Black;
  border: 1px silver solid;
  background-color: #F6F6F6;
  background-position: top left;
  padding:2px;
}

.ErrorLabel
{
  font-size: 11px;
  color: Maroon;
}

.ErrorField
{
  width: 100%;
  font-size: 10px;
  padding:2px;
  padding-left:20px;
  border-bottom: 2px solid red;
  background: #F6F6F6 url(/Res/Images/icons/exclamation.png) no-repeat 0px;
}

.Container
{
  font-size: 123.1%;
  width: 100%;
  height: 100%;
}

.Buttons
{
  text-align:center;
}

.Header
{
  font-size: 11px;
  font-family: Arial;
  text-align: center;
  color: white;
  background-color: #215379;
  border-bottom: black solid 1px;
  border-left: #0057AF solid 1px;
  border-right: black solid 1px;
  border-top: #0057AF solid 1px;
}

TH A
{
  font-size: 11px;
  font-family: Arial;
  text-align: center;
  font-weight: bold;
  color: white; /*background-color: #007AE5;*/
}

TH A:Hover
{
  font-size: 11px;
  font-family: Arial;
  text-align: center;
  font-weight: bold;
  color: navy;
  background-color: #007AE5;
}

.Row
{
  background-color: #C1CBD7;
  color: black;
  font-family: Arial;
  font-size: 10px;
  font-weight: normal;
  padding-left: 3px;
  padding-right: 3px;
}

.AltRow
{
  background-color: #CFDBE5;
  color: black;
  font-family: Arial;
  font-size: 10px;
  font-weight: normal;
  padding-left: 3px;
  padding-right: 3px;
}

.SelectedRow
{
  background-color: #F6F6F6;
  color: black;
  font-family: Arial;
  font-size: 10px;
  font-weight: normal;
  padding-left: 3px;
  padding-right: 3px;
}

.Area
{
  background-color: #F6F6F6;
}

.activeAccountContainer
{
  width: 100%;
  font:normal 10px tahoma, arial, helvetica, sans-serif;
  background-color: white;
  padding: 0px;
  color: black;
  border: solid 1px silver;
}

.Inline
{
  display: inline;
}

/* main page background */
#MainContent
{
  background: url(/Res/Images/bg.png) repeat-x scroll 0pt -60px; 
  background-color: White;
}

#important-info
{
  background: url(/Res/Images/bg.png) repeat-x scroll 0pt -60px;
}

#msg-div
{
  position: absolute;
  left: 35%;
  top: 0px;
  width: 230px;
  z-index: 20000;
}

#north
{
  background: #1E4176 url(/Res/Images/header/hd-bg.gif) repeat-x scroll 0pt;
  border: 0pt none;
  padding-left: 3px;
  padding-top: 3px;
}

#north .title
{
  color: white;
  font-family: tahoma,arial,sans-serif;
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: normal;
  margin: 5px;
}

.LeftColumn
{
  float: left;
  width: 340px;
}

.RightColumn
{
  float: right;
  width: 340px;
}

input[readonly] 
{
  background: transparent;
  border: none;
  color: black;
	-moz-opacity: 1;
	opacity: 1;
}

input.x-static-text-field {
	background: transparent;
	border: none;
	color: black;
  -moz-opacity: 1;
  opacity: 1;
}

.x-form-dd-wrap-readonly
{
  padding-top: 3px;
  padding-left: 3px;
  line-height: 19px;
}

.ext-ie .x-form-dd-wrap-readonly
{
  padding-top: 0px;
  padding-left: 3px;
  line-height: 19px;
}
/**/
.x-form-item 
{
  font:11px tahoma, arial, helvetica, sans-serif !important;
}

.x-form-field
{
  font:11px tahoma, arial, helvetica, sans-serif !important;
}

.ext-ie .x-form-item 
{
  font:11px tahoma, arial, helvetica, sans-serif !important;
}

.ext-ie .x-form-field
{
  font:11px tahoma, arial, helvetica, sans-serif !important;
}

.x-form-item label 
{
  font:11px tahoma, arial, helvetica, sans-serif;
  padding: 0px 0px 0px 0px;
}

.x-form-item-label 
{
    padding: 3px 0px 0px 0px;
    vertical-align:middle;
} 
.ext-ie .x-form-field-wrap
{
  font:11px tahoma, arial, helvetica, sans-serif;
  padding: 0px 0px 0px 0px;
}

.ext-ie .x-form-item label  
{
  font:11px tahoma, arial, helvetica, sans-serif;
  padding: 3px 0px 0px 0px;
}

.x-form-text
{
  height:20px;
}

.ext-ie .x-form-text 
{
  font:11px tahoma, arial, helvetica, sans-serif;
  margin: 0px 0px 0px 0px !important;
  height:18px;
  padding-top:0px;
  padding-bottom:1px;
  background-repeat:no-repeat;
  background-position:right;   
}

.x-form-field-wrap .x-form-trigger
{
  height:19px;
}

.ext-ie .x-form-field-wrap .x-form-trigger
{
  height:17px;
}

.ext-gecko .x-form-text 
{
 font:11px tahoma, arial, helvetica, sans-serif;
 padding-bottom: 0;
 padding-top: 0;
 background-repeat:no-repeat;
 background-position:right;  
}

.ext-safari .x-form-text 
{
 font:11px tahoma, arial, helvetica, sans-serif;
 padding-bottom: 0;
 padding-top: 0;
 height:22px;
 background-repeat:no-repeat;
 background-position:right; 
}

.x-form-dd-wrap-readonly
{
  top:-3px;
  position:relative;
}

.ext-ie .x-form-dd-wrap-readonly
{
  top:0px;
  position:relative;
}

.ext-ie .x-form-dd-wrap
{
  padding-top: 3px;
}

.Caption
{
  text-align: right;
}

.CaptionRequired
{
  text-align: right;
  font-weight: bold !important;
}

.x-extra-space-readonly
{
  float:left;
  padding-left: 11px;
  line-height: 19px;
}

.x-extra-space
{
  float:left;
  padding-left: 5px;
}

.ext-ie .x-extra-space
{
  float:left;
  padding-left: 8px;
}

.dropDown
{
  padding-bottom:6px;
}
.mtpanel
{
  padding-bottom:10px;
  padding-left:10px;
}
.mtpanel-inner
{
  width:725px
}
.mtpanel-formicon {
    /*background-image:url(../Images/icons/application_form.png) !important;*/
}
.x-tbar-page-number
{
    width:40px !important;
    height:14px;
    }
    
/*
Portal styles
*/  
.portal_section
{
  width:625px;
  width:755px;
  padding: 3, 3, 3, 3;
  height: 18px;
  font:11px tahoma, arial, helvetica, sans-serif;
}  
.portal_section_title
{
    width:625px;
  padding: 3, 3, 3, 3;
  height: 18px;
  font:14px tahoma, arial, helvetica, sans-serif;
}
.portal_row
{
  width:750px;
}
.portal_column
{
  font-weight: bold;
  float:left;
  width:350px;
  height: 200px;
}

.portal_widget
{
  width:120px;
  font-weight: bold;
  float:left;
}
div.space-line {
  clear:both;
  margin:0;
  padding:0;
  width:auto;
}
.widget_wrapper
{
  float:left;
}
.column_wrapper
{
  width:140px;
  float:left;
}

