<?xml version="1.0"?>
<MetraTech>
  <MenuGroup>
    <name>Configuration</name>

    <item>
      <name>View Hierarchy</name>
      <link>/MPM/default/dialog/MTFleXML/editxml_extensions.asp?xmlFile=/config/viewinfo/view_hierarchy.xml&amp;Schema=/MPM/default/dialog/MTFleXML/schema/pipeline/ViewHierarchySchema.xml</link>
      <target>fmeMain</target>
    </item>

    <item>
      <name>Service-To-Stage-Map</name>
      <link>/MPM/default/dialog/MTFleXML/editxml_extensions.asp?xmlFile=/config/pipeline/servicetostagemap.xml&amp;Schema=/MPM/default/dialog/MTFleXML/schema/pipeline/ServiceToStageMapSchema.xml</link>
      <target>fmeMain</target>
    </item>
    
    <item>
      <name>Configuration Options</name>
      <link>/MPM/default/dialog/MTFleXML/editxml_extensions.asp?xmlFile=/config/paymentserver/ConfigurationOptions.xml&amp;Schema=/MPM/default/dialog/MTFleXML/Schema/PaymentServer/ConfigurationOptionsSchema.xml</link>
      <target>fmeMain</target>
    </item>
    
    <item>
      <name>VeriSign Configuration Options</name>
      <link>/MPM/default/dialog/MTFleXML/editxml_extensions.asp?xmlFile=/config/paymentserver/signio.xml&amp;Schema=/MPM/default/dialog/MTFleXML/Schema/PaymentServer/SignioSchema.xml</link>
      <target>fmeMain</target>
    </item>
  </MenuGroup>
  <MenuGroup>
    <name>Product Views</name>
         
    <item>
      <name>Create New Product View</name>
      <link>/MPM/default/dialog/MSIX/CreateProductView.asp</link>
      <target>fmeMain</target>
      <icon>menu_link_new.gif</icon>
    </item>
        
    <AUTODETECT>ProductViews</AUTODETECT>
  </MenuGroup>

</MetraTech>