.GridCellAlt{
	BACKGROUND-COLOR: #EEEEEE;
	COLOR: black;
	FONT-FAMILY: Arial;
	FONT-SIZE: 10px;
	FONT-WEIGHT: normal;
	PADDING-LEFT: 3px;
	PADDING-RIGHT: 3px;
}
.GridCell{
	BACKGROUND-COLOR: #FFFFFF;
	COLOR: black;
	FONT-FAMILY: Arial;
	FONT-SIZE: 10px;
	FONT-WEIGHT: normal;
	PADDING-LEFT: 3px;
	PADDING-RIGHT: 3px;
}
.GridHeader{
	font-size: 12px; 
	font-family: Arial Unicode MS, Lucida Sans Unicode, Tahoma, "MS Sans Serif", Arial, Helvetica, sans-serif;
	text-align: center;
	color: black; 
	background-color: #CCDEF6; 
	border:solid 1px #98C0F4;
}
a.GridHeaderA:hover{
	COLOR : #ADEF8C;
	text-decoration: none;
}
a.GridHeaderA{
	COLOR : black;
	text-decoration: none;
}

