.clsMenuBody
{
  font-family: Arial Unicode MS, Lucida Sans Unicode, Tahoma, Arial;
  font-size: 10pt;
  color: black;
  padding-top: -3px;
  padding-left: -3px;
  background-color: #D2E0F2;
}

clsMenuLink:hover
{
  color: navy;
}

.clsTopLevelMenuItem
{
  font-family: Arial Unicode MS, Lucida Sans Unicode, Tahoma, Arial;
  font-size: 10pt;
  font-weight: bold;
  color: black;
  cursor: hand;
}

.clsMenuRoot
{
}

.clsMenuRootText
{
  font-weight: bold;
  font-size: 10pt;
}
.clsTopLevelMenuGroupText
{
  font-size: 8pt;
  font-weight: bold;
  cursor: hand;
}

.clsMenuGroup
{
}

.clsMenuGroupText
{
  font-size: 8pt;
  cursor: hand;
}

.clsMenuLink
{
  font-size: 8pt;
  color: black;
  text-decoration: none;
  cursor: hand;
}

.clsMenuRow
{
}

.clsMenuItemText
{
}

.TreeContainer
{
  border:solid 1px #99BBE8;
  background-color:#F0F0F0;
  padding:5px;
  height:100%;
}