<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--   User application and configured property settings go here.-->
    <!--   Example: <add key="settingName" value="settingValue"/> -->
  </appSettings>
  <!-- SERVICE CONFIG -->
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>

        <binding name="WSHttpBinding_IEntityInstanceService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" negotiateServiceCredential="true" algorithmSuite="Default" establishSecurityContext="true"/>
          </security>
        </binding>

        <binding name="WSHttpBinding_IMetadataService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" negotiateServiceCredential="true" algorithmSuite="Default" establishSecurityContext="true"/>
          </security>
        </binding>

        <binding name="WSHttpBinding_IRepositoryService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" negotiateServiceCredential="true" algorithmSuite="Default" establishSecurityContext="true"/>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>



      <endpoint address="http://localhost:8001/EntityInstanceService" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IEntityInstanceService" contract="IEntityInstanceService" name="BasicHttpBinding_IEntityInstanceService">
        <identity>
          <dns value="ActivityServicesCert"/>
        </identity>
      </endpoint>

      <endpoint address="http://localhost:8001/MetadataService" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IMetadataService" contract="IMetadataService" name="BasicHttpBinding_IEntityInstanceService">
        <identity>
          <dns value="ActivityServicesCert"/>
        </identity>
      </endpoint>

      <endpoint address="http://localhost:8001/RepositoryService" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IRepositoryService" contract="IRepositoryService" name="BasicHttpBinding_IRepositoryService">
        <identity>
          <dns value="ActivityServicesCert"/>
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>
