# ignore the output directories
output/

# except these, they come from Sencha
!RMP/UI/Res/Ext/docs/output
!RMP/UI/Res/Ext/examples/docs/output

Database/
BBXService/
RMP/Bin/
RMP/*.txt
RMP/MTLog.Be.txt
/**/[Bb]in
/**/[Tt]emp
/**/*.resources

_MetraNet_*
sessions.bin
sessionkeys.xml
