[submodule "RMP/Extensions/MvmAmp"]
	path = RMP/Extensions/MvmAmp
	url = https://github.com/MetraTech/RMP-Extensions-MvmAmp.git
[submodule "RMP/Extensions/MvmCore"]
	path = RMP/Extensions/MvmCore
	url = https://github.com/MetraTech/RMP-Extensions-MvmCore.git
[submodule "CoreQA"]
	path = CoreQA
	url = https://github.com/MetraTech/CoreQA.git
[submodule "MvmCore"]
	path = MvmCore
	url = https://github.com/MetraTech/RMP-Extensions-MvmCore_Internal.git
[submodule "TestsDatabase"]
	path = TestsDatabase
	url = https://github.com/MetraTech/RMP-Extensions-TestsDatabase_Internal.git
[submodule "ICE"]
	path = ICE
	url = https://github.com/MetraTech/RMP-Extensions-ICE_Internal.git
