<?xml version="1.0" encoding="utf-8" ?>
<config>

  <usings>
    <using>System</using>
    <using>System.Collections</using>
    <using>System.Collections.Generic</using>
    <using>System.Data</using>
    <using>System.Data.Linq</using>
    <using>System.Data.SqlClient</using>
    <using>System.IO</using>
    <using>System.Linq</using>
    <using>System.Runtime.Serialization</using>
    <using>System.Text</using>
    <using>System.Xml</using>
    <using>Lexicons</using>
  </usings>
  t_pv_ldperfSimplePV
  t_pv_FlatRecurringCharge
  t_be_ldp_aud_calllogentry
  t_be_ldp_aud_calllogreason
  <tables>
    
     <table>
      <name>t_be_ldp_aud_calllogentry</name>
      <index>
        <col></col>
      </index>
    </table>
    
     <table>
      <name> t_be_ldp_aud_calllogreason</name>
      <index>
        <col></col>
      </index>
    </table>
    
    <table>
      <name>t_acc_usage</name>
      <index>
        <col></col>
      </index>
    </table>
    
    <table>
      <name>t_pv_ldperfSimplePV</name>
      <index>
        <col></col>
      </index>
    </table>

    <table>
      <name>t_pv_FlatRecurringCharge</name>
      <index>
        <col></col>
      </index>
    </table>

    <table>
      <name>t_acc_usage_interval</name>
       <index>
        <col></col>
      </index>
    </table>
    <table>
      <name>t_acc_usage_cycle</name>
      <index>
        <col></col>
      </index>
    </table>
    <table>
      <name>t_usage_cycle</name>
      <index>
        <col></col>
      </index>
    </table>
    <table>
      <name>t_account</name>
      <index>
        <col></col>
      </index>
    </table>
    <table>
      <name>t_account_mapper</name>
      <index>
        <col></col>
      </index>
    </table>
    <table>
      <name>t_account_state</name>
      <index>
        <col></col>
      </index>
    </table>
    <table>
      <name>t_account_state_history</name>
      <index>
        <col></col>
      </index>
    </table>
    <table>
      <name>t_account_type</name>
      <index>
        <col></col>
      </index>
    </table>
    <table>
      <name>t_account_ancestor</name>
      <index>
        <col></col>
      </index>
    </table>
    <table>
      <name>t_av_internal</name>
      <index>
        <col></col>
      </index>
    </table>
    <table>
      <name>t_av_contact</name>
      <index>
        <col></col>
      </index>
    </table>
    <table>
      <name>t_dm_account</name>
      <index>
        <col></col>
      </index>
    </table>
    <table>
      <name>t_dm_account_ancestor</name>
      <index>
        <col></col>
      </index>
    </table>
    <table>
      <name>t_capability_instance</name>
      <index>
        <col></col>
      </index>
    </table>
    <table>
      <name>t_path_capability</name>
      <index>
        <col></col>
      </index>
    </table>
    <table>
      <name>t_enum_capability</name>
      <index>
        <col></col>
      </index>
    </table>
    <table>
      <name>t_partition</name>
      <index>
        <col></col>
      </index>
    </table>
    <table>
      <name>t_payment_redirection</name>
      <index>
        <col></col>
      </index>
    </table>
    <table>
      <name>t_payment_redir_history</name>
      <index>
        <col></col>
      </index>
    </table>
    <table>
      <name>t_policy_role</name>
      <index>
        <col></col>
      </index>
    </table>
    <table>
      <name>t_principal_policy</name>
      <index>
        <col></col>
      </index>
    </table>
    <table>
      <name>t_prod_view</name>
      <index>
        <col></col>
      </index>
    </table>
    <table>
      <name>t_profile</name>
      <index>
        <col></col>
      </index>
    </table>
    <table>
      <name>t_role</name>
      <index>
        <col></col>
      </index>
    </table>
    <table>
      <name>t_site_user</name>
      <index>
        <col></col>
      </index>
    </table>
    <table>
      <name>t_usage_interval</name>
      <index>
        <col></col>
      </index>
    </table>
    <table>
      <name>t_user_credentials</name>
      <index>
        <col></col>
      </index>
    </table>
    
    <table>
      <name>t_sub</name>
      <index>
        <col>id_acc</col>
      </index>
    </table>
    
    <table>
      <name>t_sub_history</name>
      <index>
        <col>id_sub</col>
      </index>
    </table>


  </tables>
</config>