/* COLOR GUIDE 
gold: ff9900
*/

/* START ELEMENT STYLES */

a:link, a:visited {
	color:#ff9900
}
a:hover {
	color:#ff9900
}
h1, h2, h3, h4, h5, h6 {
	color:#ff9900
}
input:hover, textarea:hover, select:hover {
	color: #ff9900
}

/* END ELEMENT STYLES */

/* START GLOBAL LAYOUT */

#nav a:hover {
	color:#ff9900
}
#headernav a:hover {
	color:#ff9900
}
#subnav a:hover {
	color:#ff9900
}
.button a:hover {
	color:#ff9900;
	text-decoration:none;
}
.bullets li {
	background:url("../imgs/bullet-gold.gif") left 1px no-repeat;
}
.boxheader {
	color:#ff9900
}
/* END GLOBAL LAYOUT */
