/* COLOR GUIDE 
purple: 800080
*/

/* START ELEMENT STYLES */

a:link, a:visited {
	color:#800080
}
a:hover {
	color:#800080
}
h1, h2, h3, h4, h5, h6 {
	color:#800080
}
input:hover, textarea:hover, select:hover {
	color: #800080
}

/* END ELEMENT STYLES */

/* START GLOBAL LAYOUT */

#nav a:hover {
	color:#800080
}
#headernav a:hover {
	color:#800080
}
#subnav a:hover {
	color:#800080
}
.button a:hover {
	color:#800080;
	text-decoration:none;
}
.bullets li {
	background:url("../imgs/bullet-purple.gif") left 1px no-repeat;
}
.boxheader {
	color:#800080
}

/* END GLOBAL LAYOUT */
