@model MetraNet.Models.SpecCharacteristicValueModel

@{
  ViewBag.Title = ViewContext.HttpContext.GetGlobalResourceObject("Resource", "TEXT_TITLE_EDIT_PROPERTY");
  Layout = "~/Views/Shared/_PageLayout.cshtml";
}

@if (Session["EntityID"] == null)
{
  <div class="CaptionBar">
  @ViewBag.Title           
  </div>
}
<br/>
@Html.Partial("_PropertyForm")