.GridCellAlt{
	BACKGROUND-COLOR: #CFDBE5;
	COLOR: black;
	FONT-FAMILY: Arial;
	FONT-SIZE: 10px;
	FONT-WEIGHT: normal;
}
.GridCell{
	BACKGROUND-COLOR: #C1CBD7;
	COLOR: black;
	FONT-FAMILY: Arial;
	FONT-SIZE: 10px;
	FONT-WEIGHT: normal;
}
.GridHeader{
	font-size: 12px; 
	font-family: Tahoma, "MS Sans Serif", Arial, Helvetica, sans-serif;
	text-align: center;
	color: white; 
	background-color: #007AE5; 
	BORDER-BOTTOM: black solid 1px;
	BORDER-LEFT: #0057AF solid 1px;
	BORDER-RIGHT: black solid 1px;
	BORDER-TOP: #0057AF solid 1px;
}
a.GridHeaderA:hover{
	COLOR : #ADEF8C;
	text-decoration: none;
}
a.GridHeaderA{
	COLOR : white;
	text-decoration: none;
}

