<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="MASPerfLoggingConfig" type="MetraTech.ActivityServices.Configuration.MASPerfLoggingConfig, MetraTech.ActivityServices.Configuration"/>
	</configSections>

  <!-- 
      This configures the operation timing logging in the MetraNet ActivityServices host.  
      To enable a service, add a <Service> element to the <Services> colleciton with the same name as the service endpoint and set enabled = true.
      If no operations are defined, all operations are timed when the service is enabled.
      If an operation is added to the <Operations> element within the service, only that operation will be timed.
      This config file is monitored so any change will have an immediate impact when the file is saved.
  -->
  <MASPerfLoggingConfig />
</configuration>
