--
-- Script generated by Schema Compare for Oracle 3.0.7.736 on 1/19/2015 10:14:57 AM
--
SET DEFINE OFF

CREATE TABLE netmeter.t_localized_items_type (
  id_local_type NUMBER(*,0) NOT NULL,
  local_type_description NVARCHAR2(255) NOT NULL,
  CONSTRAINT pk_t_localized_items_type PRIMARY KEY (id_local_type)
);

COMMENT ON TABLE netmeter.t_localized_items_type IS 'Dictionary table for t_localized_items.id_local_type colum. Contains id localization type and their description';

COMMENT ON COLUMN netmeter.t_localized_items_type.id_local_type IS 'Primary key.';

COMMENT ON COLUMN netmeter.t_localized_items_type.local_type_description IS 'Description type';

CREATE TABLE netmeter.t_localized_items (
  id_local_type NUMBER(*,0) NOT NULL,
  id_item NUMBER(*,0) NOT NULL,
  id_item_second_key NUMBER(*,0) DEFAULT -1 NOT NULL,
  id_lang_code NUMBER(*,0) NOT NULL,
  tx_name NVARCHAR2(255),
  tx_desc NVARCHAR2(2000),
  CONSTRAINT pk_t_localized_items PRIMARY KEY (id_local_type,id_item,id_item_second_key,id_lang_code),
  CONSTRAINT fk_localize_to_t_language FOREIGN KEY (id_lang_code) REFERENCES netmeter.t_language (id_lang_code),
  CONSTRAINT fk_local_to_local_items_type FOREIGN KEY (id_local_type) REFERENCES netmeter.t_localized_items_type (id_local_type)
);

COMMENT ON TABLE netmeter.t_localized_items IS 'The t_localized_items table contains the localized DisplayName and Description of entyties (for example t_recevent, t_composite_capability_type, t_atomic_capability_type tables) for the languages supported by the MetraTech platform.(Package:Pipeline) ';

COMMENT ON COLUMN netmeter.t_localized_items.id_local_type IS 'Composite key: This is foreign key to t_localized_items_type.';

COMMENT ON COLUMN netmeter.t_localized_items.id_item IS 'Composite key: Localize identifier. This is foreign key to t_recevent and other tables (see constraints)';

COMMENT ON COLUMN netmeter.t_localized_items.id_item_second_key IS 'Composite key: Second localize identifier. This is foreign key, for example, to t_compositor (it is atomoc capability) and other tables with composite PK. In case second key is not used set -1 as default value';

COMMENT ON COLUMN netmeter.t_localized_items.id_lang_code IS 'Composite key: Language identifier displayed on the MetraNet Presentation Server';

COMMENT ON COLUMN netmeter.t_localized_items.tx_name IS 'The localized DisplayName';

COMMENT ON COLUMN netmeter.t_localized_items.tx_desc IS 'The localized DEscription';

ALTER TABLE netmeter.t_billgroup_member_tmp ADD (id_partition NUMBER(10));

ALTER TABLE netmeter.t_billgroup_member_tmp MODIFY (tx_name NVARCHAR2(255));

ALTER TABLE netmeter.t_ep_recurring ADD (c_isliabilityproduct CHAR NOT NULL,c_revenuecode NVARCHAR2(128),c_deferredrevenuecode NVARCHAR2(128));

COMMENT ON COLUMN netmeter.t_ep_recurring.c_isliabilityproduct IS 'Shows is this a liability product';

COMMENT ON COLUMN netmeter.t_ep_recurring.c_revenuecode IS 'Revenue Code for product';

COMMENT ON COLUMN netmeter.t_ep_recurring.c_deferredrevenuecode IS 'Deferred Revenue Code for product';

ALTER TABLE netmeter.subscriptionsbymonth ADD (reportingcurrency NVARCHAR2(3));

CREATE TABLE netmeter.t_notification_event_types (
  id_notification_event_type NUMBER(10) NOT NULL,
  notification_event_name NVARCHAR2(255) NOT NULL,
  CONSTRAINT pk_t_notification_event_types PRIMARY KEY (id_notification_event_type)
);

CREATE TABLE netmeter.t_notification_events (
  id_notification_event NUMBER(20) NOT NULL,
  id_notification_event_type NUMBER(10) NOT NULL,
  notification_event_prop_values NVARCHAR2(2000) NOT NULL,
  id_partition NUMBER(10),
  dt_crt DATE NOT NULL,
  CONSTRAINT pk_t_notification_events PRIMARY KEY (id_notification_event),
  CONSTRAINT fk_t_notification_events FOREIGN KEY (id_notification_event_type) REFERENCES netmeter.t_notification_event_types (id_notification_event_type)
);

CREATE TABLE netmeter.t_notification_event_consumers (
  id_not_evnt_consumer NUMBER(20) NOT NULL,
  id_notification_event NUMBER(20) NOT NULL,
  id_acc NUMBER(10) NOT NULL,
  dt_crt DATE NOT NULL,
  CONSTRAINT pk_t_notification_evnt_consmrs PRIMARY KEY (id_not_evnt_consumer),
  CONSTRAINT fk_t_notification_evnt_consmrs FOREIGN KEY (id_notification_event) REFERENCES netmeter.t_notification_events (id_notification_event)
);

DROP TABLE netmeter.all_rcs;

CREATE TABLE netmeter.all_rcs (
  instanceid VARCHAR2(64 BYTE),
  subscriptionid NUMBER(*,0) NOT NULL,
  payerid NUMBER(*,0) NOT NULL,
  payeeid NUMBER(*,0) NOT NULL,
  startdate DATE,
  enddate DATE,
  actiontype NVARCHAR2(255),
  currency NVARCHAR2(3),
  prorateddailyrate NUMBER(22,10),
  dailyrate NUMBER(22,10),
  rate NUMBER(22,10),
  productofferingid NUMBER(*,0),
  priceableitemtemplateid NUMBER(*,0),
  priceableiteminstanceid NUMBER(*,0),
  subscriptionstartdate DATE,
  subscriptionenddate DATE,
  mrr NUMBER(22,10)
);

ALTER TABLE netmeter.t_approvals ADD (c_partitionid NUMBER(10) DEFAULT 1 NOT NULL);

ALTER TABLE netmeter.t_ep_usage ADD (c_isliabilityproduct CHAR,c_revenuecode NVARCHAR2(128),c_deferredrevenuecode NVARCHAR2(128));

COMMENT ON COLUMN netmeter.t_ep_usage.c_isliabilityproduct IS 'Shows is this a liability product';

COMMENT ON COLUMN netmeter.t_ep_usage.c_revenuecode IS 'Revenue Code for product';

COMMENT ON COLUMN netmeter.t_ep_usage.c_deferredrevenuecode IS 'Deferred Revenue Code for product';

CREATE TABLE netmeter.rg_temp_1802080148_1 (
  instanceid NVARCHAR2(64) NOT NULL,
  metranetid NUMBER(*,0) NOT NULL,
  accounttype NVARCHAR2(200) NOT NULL,
  externalid NVARCHAR2(255) NOT NULL,
  externalidspace NVARCHAR2(40),
  firstname NVARCHAR2(40),
  middlename NVARCHAR2(1),
  lastname NVARCHAR2(40),
  company NVARCHAR2(255),
  currency NVARCHAR2(10),
  city NVARCHAR2(40),
  state NVARCHAR2(40),
  zipcode NVARCHAR2(40),
  email NVARCHAR2(100),
  country NVARCHAR2(100),
  phone NVARCHAR2(40),
  hierarchymetranetid NUMBER(*,0) NOT NULL,
  hierarchyaccounttype NVARCHAR2(200),
  hierarchyexternalid NVARCHAR2(255) NOT NULL,
  hierarchyexternalidspace NVARCHAR2(40),
  hierarchyfirstname NVARCHAR2(40),
  hierarchymiddlename NVARCHAR2(1),
  hierarchylastname NVARCHAR2(40),
  hierarchycompany NVARCHAR2(255),
  hierarchycurrency NVARCHAR2(10),
  hierarchycity NVARCHAR2(40),
  hierarchystate NVARCHAR2(40),
  hierarchyzipcode NVARCHAR2(40),
  hierarchycountry NVARCHAR2(100),
  hierarchyemail NVARCHAR2(100),
  hierarchyphone NVARCHAR2(40),
  startdate DATE,
  enddate DATE,
  CONSTRAINT RG_TEMP_1802080148_8 PRIMARY KEY (instanceid,metranetid) USING INDEX (CREATE UNIQUE INDEX netmeter.rg_temp_1802080148_9 ON netmeter.rg_temp_1802080148_1(instanceid,metranetid)    )
);

INSERT INTO netmeter.rg_temp_1802080148_1(instanceid,metranetid,accounttype,externalid,externalidspace,firstname,middlename,lastname,company,currency,city,state,zipcode,email,country,phone,hierarchymetranetid,hierarchyaccounttype,hierarchyexternalid,hierarchyexternalidspace,hierarchyfirstname,hierarchymiddlename,hierarchylastname,hierarchycompany,hierarchycurrency,hierarchycity,hierarchystate,hierarchyzipcode,hierarchycountry,hierarchyemail,hierarchyphone,startdate,enddate) SELECT instanceid,metranetid,accounttype,externalid,externalidspace,firstname,SUBSTR(middlename, 0, LEAST(LENGTH(middlename), 1)),lastname,company,currency,city,state,zipcode,email,country,phone,hierarchymetranetid,hierarchyaccounttype,hierarchyexternalid,hierarchyexternalidspace,hierarchyfirstname,hierarchymiddlename,hierarchylastname,hierarchycompany,hierarchycurrency,hierarchycity,hierarchystate,hierarchyzipcode,hierarchycountry,hierarchyemail,hierarchyphone,NULL,NULL FROM netmeter.customer;

DROP TABLE netmeter.customer;

ALTER TABLE netmeter.rg_temp_1802080148_1 RENAME TO customer;

ALTER TABLE netmeter.customer RENAME CONSTRAINT RG_TEMP_1802080148_8 TO pk_customer;

ALTER INDEX netmeter.rg_temp_1802080148_9 RENAME TO PK_CUSTOMER;

COMMENT ON TABLE netmeter.customer IS 'Contains summary customer information';

COMMENT ON COLUMN netmeter.customer.instanceid IS 'The MetraNet instance from which the data originated';

COMMENT ON COLUMN netmeter.customer.metranetid IS 'The internal MetraNet account identifier';

COMMENT ON COLUMN netmeter.customer.accounttype IS 'The account type';

COMMENT ON COLUMN netmeter.customer.externalid IS 'The external account identifier (from t_account_mapper)';

COMMENT ON COLUMN netmeter.customer.externalidspace IS 'The namespace for the ExternalId.';

COMMENT ON COLUMN netmeter.customer.firstname IS 'The first name of the billing contact';

COMMENT ON COLUMN netmeter.customer.middlename IS 'The middle initial of the billing contact.';

COMMENT ON COLUMN netmeter.customer.lastname IS 'The last name of the billing contact';

COMMENT ON COLUMN netmeter.customer.company IS 'The company name for the billing contact';

COMMENT ON COLUMN netmeter.customer.currency IS 'The currency name for the billing contact';

COMMENT ON COLUMN netmeter.customer.city IS 'The city the customer is located in for the billing contact';

COMMENT ON COLUMN netmeter.customer.state IS 'The state the customer is located in for the billing contact';

COMMENT ON COLUMN netmeter.customer.zipcode IS 'The zip code that the customer is located in for the billing contact';

COMMENT ON COLUMN netmeter.customer.email IS 'The email address for the billing contact';

COMMENT ON COLUMN netmeter.customer.country IS 'The country that the customer is located in for the billing contact';

COMMENT ON COLUMN netmeter.customer.phone IS 'The phone number for the billing contact';

COMMENT ON COLUMN netmeter.customer.hierarchymetranetid IS 'The internal MetraNet account identifier for the top-level hierarchy account';

COMMENT ON COLUMN netmeter.customer.hierarchyaccounttype IS 'The account type of the top-level hierarchy account';

COMMENT ON COLUMN netmeter.customer.hierarchyexternalid IS 'The external account identifier (from t_account_mapper) of the top-level hierarchy account';

COMMENT ON COLUMN netmeter.customer.hierarchyexternalidspace IS 'The namespace for the ExternalId of the top-level hierarchy account';

COMMENT ON COLUMN netmeter.customer.hierarchyfirstname IS 'The first name of the billing contact of the top-level hierarchy account';

COMMENT ON COLUMN netmeter.customer.hierarchymiddlename IS 'The middle initial of the billing contact of the top-level hierarchy account';

COMMENT ON COLUMN netmeter.customer.hierarchylastname IS 'The last name of the billing contact of the top-level hierarchy account';

COMMENT ON COLUMN netmeter.customer.hierarchycompany IS 'The company name for the billing contact of the top-level hierarchy account';

COMMENT ON COLUMN netmeter.customer.hierarchycurrency IS 'The currency the customer is located in for the billing contact of the top-level hierarchy account';

COMMENT ON COLUMN netmeter.customer.hierarchycity IS 'The city the customer is located in for the billing contact of the top-level hierarchy account';

COMMENT ON COLUMN netmeter.customer.hierarchystate IS 'The state the customer is located in for the billing contact of the top-level hierarchy account';

COMMENT ON COLUMN netmeter.customer.hierarchyzipcode IS 'The zip code that the customer is located in for the billing contact of the top-level hierarchy account';

COMMENT ON COLUMN netmeter.customer.hierarchycountry IS 'The country that the customer is located in for the billing contact of the top-level hierarchy account';

COMMENT ON COLUMN netmeter.customer.hierarchyemail IS 'The email address for the billing contact of the top-level hierarchy account';

COMMENT ON COLUMN netmeter.customer.hierarchyphone IS 'The phone number for the billing contact of the top-level hierarchy account';

CREATE TABLE netmeter.t_message_mapping (
  id_message NUMBER(10) NOT NULL,
  id_origin_message NUMBER(10) NOT NULL,
  CONSTRAINT pk_t_message_mapping PRIMARY KEY (id_origin_message)
);

CREATE TABLE netmeter.tmp_previous_two_months (
  instanceid VARCHAR2(64 BYTE),
  "YEAR" NUMBER(*,0),
  "MONTH" NUMBER(*,0),
  firstdayofmonth DATE,
  lastdayofmonth DATE
);

ALTER TABLE netmeter.t_ep_discount ADD (c_isliabilityproduct CHAR,c_revenuecode NVARCHAR2(128),c_deferredrevenuecode NVARCHAR2(128));

COMMENT ON COLUMN netmeter.t_ep_discount.c_isliabilityproduct IS 'Shows is this a liability product';

COMMENT ON COLUMN netmeter.t_ep_discount.c_revenuecode IS 'Revenue Code for product';

COMMENT ON COLUMN netmeter.t_ep_discount.c_deferredrevenuecode IS 'Deferred Revenue Code for product';

DROP TABLE netmeter.all_rcs_linked;

CREATE TABLE netmeter.all_rcs_linked (
  instanceid VARCHAR2(64 BYTE),
  subscriptionid NUMBER(*,0) NOT NULL,
  payerid NUMBER(*,0) NOT NULL,
  payeeid NUMBER(*,0) NOT NULL,
  startdate DATE,
  enddate DATE,
  actiontype NVARCHAR2(255),
  currency NVARCHAR2(3),
  prorateddailyrate NUMBER(22,10),
  dailyrate NUMBER(22,10),
  rate NUMBER(22,10),
  productofferingid NUMBER(*,0),
  priceableitemtemplateid NUMBER(*,0),
  priceableiteminstanceid NUMBER(*,0),
  subscriptionstartdate DATE,
  subscriptionenddate DATE,
  mrr NUMBER(22,10),
  oldrate NUMBER(22,10),
  olddailyrate NUMBER(22,10),
  oldprorateddailyrate NUMBER(22,10),
  oldsubscriptionstartdate DATE,
  oldsubscriptionenddate DATE
);

DROP TABLE netmeter.sum_rcs_by_month;

CREATE TABLE netmeter.sum_rcs_by_month (
  instanceid VARCHAR2(64 BYTE),
  subscriptionid NUMBER(*,0) NOT NULL,
  priceableitemtemplateid NUMBER(*,0),
  priceableiteminstanceid NUMBER(*,0),
  currency NVARCHAR2(3),
  "YEAR" NUMBER(*,0),
  "MONTH" NUMBER(*,0),
  daysinmonth NUMBER(*,0),
  daysactiveinmonth NUMBER(*,0),
  totalamount NUMBER(22,10),
  oldamount NUMBER(22,10),
  newamount NUMBER(22,10)
);

CREATE TABLE netmeter.subscriptionparticipants (
  instanceid NVARCHAR2(64),
  productofferingid NUMBER(*,0) NOT NULL,
  "YEAR" NUMBER(*,0) NOT NULL,
  "MONTH" NUMBER(*,0) NOT NULL,
  totalparticipants NUMBER(*,0) NOT NULL,
  distincthierarchies NUMBER(*,0) NOT NULL,
  newparticipants NUMBER(*,0) NOT NULL,
  unsubscribedparticipants NUMBER(*,0) NOT NULL
);

ALTER TABLE netmeter.t_ep_unit_dependent_recurring ADD (c_isliabilityproduct CHAR NOT NULL,c_revenuecode NVARCHAR2(128),c_deferredrevenuecode NVARCHAR2(128));

COMMENT ON COLUMN netmeter.t_ep_unit_dependent_recurring.c_isliabilityproduct IS 'Shows is this a liability product';

COMMENT ON COLUMN netmeter.t_ep_unit_dependent_recurring.c_revenuecode IS 'Revenue Code for product';

COMMENT ON COLUMN netmeter.t_ep_unit_dependent_recurring.c_deferredrevenuecode IS 'Deferred Revenue Code for product';

ALTER TABLE netmeter.t_billgroup_tmp ADD (id_partition NUMBER(10));

ALTER TABLE netmeter.t_billgroup_tmp MODIFY (tx_name NVARCHAR2(255),tx_description NVARCHAR2(2000));

DROP TABLE netmeter.tmp_accs;

CREATE TABLE netmeter.tmp_accs (
  id_ancestor NUMBER(*,0) NOT NULL,
  id_descendent NUMBER(*,0) NOT NULL
);

DROP TABLE netmeter.all_rcs_by_month;

CREATE TABLE netmeter.all_rcs_by_month (
  instanceid VARCHAR2(64 BYTE),
  subscriptionid NUMBER(*,0) NOT NULL,
  productofferingid NUMBER(*,0),
  priceableitemtemplateid NUMBER(*,0),
  priceableiteminstanceid NUMBER(*,0),
  subscriptionstartdate DATE,
  subscriptionenddate DATE,
  currency NVARCHAR2(3),
  actiontype NVARCHAR2(255),
  "YEAR" NUMBER(*,0),
  "MONTH" NUMBER(*,0),
  dailyrate NUMBER(22,10),
  rate NUMBER(22,10),
  olddailyrate NUMBER(22,10),
  oldrate NUMBER(22,10),
  oldprorateddailyrate NUMBER(22,10),
  oldsubscriptionstartdate DATE,
  oldsubscriptionenddate DATE,
  days NUMBER(*,0)
);

ALTER TABLE netmeter.t_billgroup ADD (id_partition NUMBER(10));

ALTER TABLE netmeter.t_billgroup MODIFY (tx_name NVARCHAR2(255));

ALTER TABLE netmeter.t_ep_nonrecurring ADD (c_isliabilityproduct CHAR NOT NULL,c_revenuecode NVARCHAR2(128),c_deferredrevenuecode NVARCHAR2(128));

COMMENT ON COLUMN netmeter.t_ep_nonrecurring.c_isliabilityproduct IS 'Shows is this a liability product';

COMMENT ON COLUMN netmeter.t_ep_nonrecurring.c_revenuecode IS 'Revenue Code for product';

COMMENT ON COLUMN netmeter.t_ep_nonrecurring.c_deferredrevenuecode IS 'Deferred Revenue Code for product';

COMMENT ON COLUMN netmeter.t_acc_tmpl_types.all_types IS 'The value indicating the designated account templates model: 0  old model (template is applicable to the accounts of a specific type), 1  All Types model (template is applicable to all accounts regardless theirs types).';

DROP TABLE netmeter.t_aj_percentdiscount_nocond;

DROP TABLE netmeter.t_aj_percentdiscount;

DROP TABLE netmeter.t_aj_flatdiscount;

DROP TABLE netmeter.t_aj_flatdiscount_nocond;

ALTER PROCEDURE netmeter.upsertdescription COMPILE;

CREATE OR REPLACE procedure netmeter.InsertBaseProps(
				id_lang_code int,
				a_kind t_base_props.n_kind%type,
				a_approved t_base_props.b_approved%type,
        a_archive t_base_props.b_archive%type,
        a_nm_name t_base_props.nm_name%type,
        a_nm_desc t_base_props.nm_desc%type,
        a_nm_display_name t_base_props.nm_display_name%type,
        a_id_prop out int,
		id_display_name out int,
		id_display_desc out int)
				as
        id_name t_base_props.n_name%type;
				begin
					UpsertDescription(id_lang_code, a_nm_display_name, NULL, id_display_name) ;
					UpsertDescription(id_lang_code, a_nm_name, NULL, id_name) ;
					UpsertDescription(id_lang_code, a_nm_desc, NULL, id_display_desc) ;
					insert into t_base_props (id_prop, n_kind, n_name, n_desc,nm_name,nm_desc,b_approved,b_archive,
					n_display_name, nm_display_name) values
					(seq_t_base_props.nextval, a_kind, id_name, id_display_desc, a_nm_name,a_nm_desc,a_approved,a_archive,
					id_display_name,a_nm_display_name);
					select seq_t_base_props.currval into a_id_prop from dual;
				end;
/

CREATE OR REPLACE procedure netmeter.AddCounterParamType
          (id_lang_code int,
		   temp_n_kind int,
          nm_name nvarchar2,
          id_counter_type t_counter_params_metadata.id_counter_meta%type,
          nm_param_type t_counter_params_metadata.paramtype%type,
          nm_param_dbtype t_counter_params_metadata.DBtype%type,
          id_prop OUT int)
      as
				identity_value t_counter_params_metadata.id_prop%type;
				id_display_name int;
				id_display_desc int;
      BEGIN
				InsertBaseProps(id_lang_code, temp_n_kind, 'N', 'N', nm_name, NULL, NULL, identity_value, id_display_name, id_display_desc);

				INSERT INTO t_counter_params_metadata
					(id_prop, id_counter_meta, ParamType, DBType)
				VALUES
					(identity_value, id_counter_type, nm_param_type, nm_param_dbtype);
		        id_prop := identity_value;
			END;
/

CREATE OR REPLACE PROCEDURE netmeter.AddApproval(
    SubmittedDate DATE,
    SubmitterId NUMBER,
    ChangeType  VARCHAR2,
    ChangeDetails BLOB,
    ItemDisplayName             VARCHAR2 DEFAULT '',
    UniqueItemId                VARCHAR2,
    user_comment                VARCHAR2 DEFAULT '',
    CurrentState                VARCHAR,
    PartitionId                 NUMBER DEFAULT 1,
    AllowMultiplePendingChanges NUMBER,
    IdApproval OUT INT,
    Status OUT INT )
AS
  PendingChangeCount INT;
  SQLError           INT;
BEGIN
  IF (AllowMultiplePendingChanges <> 1) THEN
    BEGIN
      SELECT COUNT(*) INTO PendingChangeCount FROM t_approvals
      WHERE
        c_changetype                 = ChangeType
      AND c_UniqueItemId             = UniqueItemId
      AND c_CurrentState             = 'Pending';
      IF (NVL(PendingChangeCount,0) <> 0) THEN
        BEGIN
          IdApproval := 0 ;
          Status     := -1;
          /* Multiple pending changes are not allowed for this change type */
          RETURN;
        END ;
      END IF;
    END;
  END IF;
  INSERT INTO t_approvals (id_approval, c_SubmittedDate, c_SubmitterId, c_ChangeType, c_ChangeDetails, c_ApproverId, c_ChangeLastModifiedDate,
        c_ItemDisplayName, c_UniqueItemId, c_Comment, c_CurrentState, c_PartitionId)
      VALUES
      (SEQ_T_APPROVAL.NextVal, SubmittedDate, SubmitterId, ChangeType, ChangeDetails, NULL, NULL, ItemDisplayName,
        UniqueItemId, user_comment, CurrentState, PartitionId);
  SQLError    := SQLCODE;
  IF SQLError <> 0 THEN
    BEGIN
      Status := -1;
      RETURN;
    END;
  ELSE
    BEGIN
      Status := 0;
      SELECT SEQ_T_APPROVAL.CURRVAL INTO IdApproval FROM dual;
    END;
  END IF;
END;
/

CREATE OR REPLACE procedure netmeter.UpdateBaseProps(
				a_id_prop t_base_props.id_prop%type,
				a_id_lang int,
				a_nm_name t_base_props.nm_name%type,
				a_nm_desc t_base_props.nm_desc%type,
				a_nm_display_name t_base_props.nm_display_name%type,
				updated_id_display_name OUT int,
				updated_id_display_desc OUT int)
				AS
				old_id_name t_base_props.n_name%type;
				id_name t_base_props.n_name%type;
				old_id_desc t_base_props.n_desc%type;
				old_id_display_name t_base_props.n_display_name%type;
				BEGIN
					begin
						SELECT n_name, n_desc, n_display_name
						into old_id_name, old_id_desc, old_id_display_name
						from t_base_props where id_prop = a_id_prop;
					exception
						when no_data_found then
							null;
					end;
					UpsertDescription(a_id_lang, a_nm_name, old_id_name, id_name);
					UpsertDescription(a_id_lang, a_nm_desc, old_id_desc, updated_id_display_desc);
					UpsertDescription(a_id_lang, a_nm_display_name, old_id_display_name, updated_id_display_name);
					UPDATE t_base_props
					SET n_name = id_name, n_desc = updated_id_display_desc, n_display_name = updated_id_display_name,
							nm_name = a_nm_name, nm_desc = a_nm_desc, nm_display_name = a_nm_display_name
					WHERE id_prop = a_id_prop;
				END;
/

CREATE OR REPLACE PROCEDURE netmeter.UpdateCounterPropDef(
        id_lang_code int,
        temp_id_prop int,
        nm_name nvarchar2,
        nm_display_name nvarchar2,
        id_pi int,
        nm_servicedefprop nvarchar2,
        nm_preferredcountertype nvarchar2,
        n_order int)
      AS
        identity_value int;
        id_locale int;
        id_dummy int;
		updated_id_display_name int;
		updated_id_display_desc int;
      BEGIN
		UpdateBaseProps(temp_id_prop, id_lang_code, nm_name, NULL, nm_display_name, updated_id_display_name, updated_id_display_desc);
        UPDATE t_counterpropdef
		SET nm_servicedefprop = nm_servicedefprop,
		n_order = n_order,
		nm_preferredcountertype = nm_preferredcountertype
		WHERE id_prop = temp_id_prop;
      END;
/

ALTER PACKAGE netmeter.dbo COMPILE;

CREATE OR REPLACE procedure netmeter.CanExecuteEventDeps (
   p_dt_now               date,
   p_id_instances         varchar2,
   lang_code              int,
   p_result         out   sys_refcursor
)
as
   exec_deps   int;
begin

   delete from	tmp_deps;
   exec_deps := dbo.GetEventExecutionDeps(p_dt_now, p_id_instances);                                                            /*  */

  open p_result for
    select
      orig_evt.tx_name OriginalEventName,
      orig_evt.tx_display_name OriginalEventDisplayName,
      COALESCE(loc.tx_name, evt.tx_display_name) EventDisplayName,
      evt.tx_type EventType,
      deps.OriginalInstanceID,
      deps.EventID,
      deps.EventName,
      deps.InstanceID,
      deps.ArgIntervalID,
      deps.ArgStartDate,
      deps.ArgEndDate,
      deps.Status,
      /*  the corrective action that must occur */
      CASE deps.Status WHEN 'NotYetRun' THEN 'Execute'
                       WHEN 'Failed' THEN 'Reverse'
                       WHEN 'ReadyToRun' THEN 'Cancel'
                       WHEN 'Reversing' THEN 'TryAgainLater'
                       ELSE 'Unknown' END AS Action,
      nvl(deps.BillGroupName, N'Not Available') BillGroupName
    FROM
    (
      SELECT
        MIN(deps_inner.id_orig_instance) OriginalInstanceID,
        deps_inner.id_event EventID,
        deps_inner.tx_name EventName,
        deps_inner.id_instance InstanceID,
        deps_inner.id_arg_interval ArgIntervalID,
        deps_inner.dt_arg_start ArgStartDate,
        deps_inner.dt_arg_end ArgEndDate,
        deps_inner.tx_status Status,
        bg.tx_name as BillGroupName
      FROM  tmp_deps deps_inner
          /* table(exec_deps) deps_inner */
      LEFT OUTER JOIN t_billgroup bg
        ON bg.id_billgroup = deps_inner.id_billgroup
      WHERE
        /* excludes input instances */
        (deps_inner.id_instance NOT IN ( select column_value
                      from table(dbo.csvtoint(p_id_instances)))
            OR deps_inner.id_instance IS NULL) AND
        /* only look at deps that need an action to be taken */
        deps_inner.tx_status NOT IN ('Succeeded', 'ReadyToRun', 'Running')
      GROUP BY
        deps_inner.id_instance,
        deps_inner.id_event,
        deps_inner.tx_name,
        deps_inner.id_arg_interval,
        deps_inner.dt_arg_start,
        deps_inner.dt_arg_end,
        deps_inner.tx_status,
        bg.tx_name
    ) deps
    INNER JOIN t_recevent evt ON evt.id_event = deps.EventID
    INNER JOIN t_recevent_inst orig_inst
      ON orig_inst.id_instance = deps.OriginalInstanceID
    INNER JOIN t_recevent orig_evt ON orig_evt.id_event = orig_inst.id_event
    LEFT OUTER JOIN t_localized_items loc on (id_local_type = 1  /*Adapter type*/ AND id_lang_code = lang_code AND evt.id_event=loc.id_item);

end CanExecuteEventDeps;
/

CREATE OR REPLACE PROCEDURE netmeter.CANEXECUTEEVENTS(dt_now DATE, id_instances VARCHAR2, lang_code int, res out sys_refcursor)
AS
BEGIN

  /*  */
  /* initially all instances are considered okay */
  /* a succession of queries attempt to find a problem with executing them */
  /*  */

  execute immediate 'truncate table t_CanExecuteEventsTempTbl';
  
  /* builds up a table from the comma separated list of instance IDs */

  INSERT INTO t_CanExecuteEventsTempTbl
  SELECT
    args.COLUMN_VALUE,
    COALESCE(loc.tx_name, evt.tx_display_name) tx_display_name,
    'OK'
  FROM table(cast(dbo.CSVToInt(CANEXECUTEEVENTS.id_instances) as  tab_id_instance)) args
  INNER JOIN t_recevent_inst inst ON inst.id_instance = args.COLUMN_VALUE
  INNER JOIN t_recevent evt ON evt.id_event = inst.id_event
  LEFT OUTER JOIN t_localized_items loc on (id_local_type = 1  /*Adapter type*/ AND id_lang_code = lang_code AND evt.id_event=loc.id_item);

  /* is the event not active */
  UPDATE t_CanExecuteEventsTempTbl results
  SET tx_reason = 'EventNotActive'
  where exists
  (
  SELECT 'X'
  FROM t_recevent_inst inst , t_recevent evt
  WHERE
  inst.id_instance = results.id_instance
  AND
  evt.id_event = inst.id_event
  AND
    /* event is NOT active */
    evt.dt_activated > CanExecuteEvents.dt_now AND
    (evt.dt_deactivated IS NOT NULL OR CanExecuteEvents.dt_now >= evt.dt_deactivated)
   );

  /* is the instance in an invalid state */
    for data in (
		  select results.rowid as r_rowid, inst.tx_status as i_inst_tx_status
		  FROM t_CanExecuteEventsTempTbl results, t_recevent_inst inst
		  WHERE   inst.id_instance = results.id_instance and
		  inst.tx_status NOT IN ('NotYetRun', 'ReadyToRun')
	    )
    loop
        UPDATE t_CanExecuteEventsTempTbl results
          SET tx_reason = data.i_inst_tx_status
          where rowid = data.r_rowid;
    end loop;



  /* is the interval hard closed */
  UPDATE t_CanExecuteEventsTempTbl results
  SET tx_reason = 'HardClosed'
  where exists (
  SELECT 'X'
  FROM t_recevent_inst inst,t_usage_interval ui
  WHERE
  inst.id_instance = results.id_instance AND
  ui.id_interval = inst.id_arg_interval AND
    ui.tx_interval_status = 'H'
    );
    
  open res for
  SELECT
    id_instance InstanceID,
    tx_display_name EventDisplayName,
    tx_reason Reason
  FROM t_CanExecuteEventsTempTbl;
  COMMIT;
END;
/

CREATE OR REPLACE procedure netmeter.UpdateCounterInstance
		    (
				p_id_lang_code int,
				p_id_prop t_base_props.id_prop%type,
				counter_type_id t_counter.id_counter_type%type,
				nm_name_in t_base_props.nm_name%type,
				nm_desc_in t_base_props.nm_desc%type)
			  as
				updated_id_display_name int;
				updated_id_display_desc int;
			  begin
				UpdateBaseProps (p_id_prop, p_id_lang_code, NULL, nm_desc_in, NULL, updated_id_display_name, updated_id_display_desc);
				UPDATE t_base_props SET nm_name = nm_name_in,nm_desc = nm_desc_in
				WHERE
				id_prop = p_id_prop;
				UPDATE t_counter
				SET id_counter_type = counter_type_id
				WHERE id_prop = p_id_prop;
 			  end;
/

ALTER FUNCTION netmeter.table_exists COMPILE;

ALTER PROCEDURE netmeter.exec_ddl COMPILE;

CREATE OR REPLACE PROCEDURE
 netmeter.CreateAnalyticsDataMart(p_dt_now date, p_id_run int, p_nm_currency nvarchar2, p_nm_instance nvarchar2, p_n_months int, p_STAGINGDB_prefix nvarchar2)
   AUTHID CURRENT_USER
IS
  l_tmp_tbl varchar2(61);
  l_count number;
  l_billTo number;
BEGIN

if (p_id_run is not null) then
	INSERT INTO t_recevent_run_details (id_run, id_detail, dt_crt, tx_type, tx_detail) VALUES (p_id_run, seq_t_recevent_run_details.NEXTVAL,sysdate, 'Debug', 'Cleaning out temporary tables');
end if;

l_tmp_tbl := UPPER('tmp_accs');
IF (TABLE_EXISTS(l_tmp_tbl)) THEN
    EXEC_DDL('DROP TABLE ' || l_tmp_tbl); END IF; l_tmp_tbl := UPPER('all_rcs'); IF (TABLE_EXISTS(l_tmp_tbl)) THEN
    EXEC_DDL('DROP TABLE ' || l_tmp_tbl); END IF; l_tmp_tbl := UPPER('all_rcs_linked'); IF (TABLE_EXISTS(l_tmp_tbl)) THEN
    EXEC_DDL('DROP TABLE ' || l_tmp_tbl); END IF; l_tmp_tbl := UPPER('all_rcs_by_month'); IF (TABLE_EXISTS(l_tmp_tbl)) THEN
    EXEC_DDL('DROP TABLE ' || l_tmp_tbl); END IF; l_tmp_tbl := UPPER('sum_rcs_by_month'); IF (TABLE_EXISTS(l_tmp_tbl)) THEN
    EXEC_DDL('DROP TABLE ' || l_tmp_tbl); END IF; l_tmp_tbl := UPPER('tmp_previous_two_months'); IF (TABLE_EXISTS(l_tmp_tbl)) THEN
    EXEC_DDL('DROP TABLE ' || l_tmp_tbl); END IF;


execute immediate 'create table tmp_accs (id_ancestor int not null, id_descendent int not null)';

execute immediate 'create table all_rcs (InstanceId varchar2(64), SubscriptionId int not null, PayerId int not null, PayeeId int not null, StartDate date, EndDate date, ActionType nvarchar2(255), Currency nvarchar2(3), ProratedDailyRate number(22,10), DailyRate number(22,10), Rate number(22,10), ProductOfferingId int, PriceableItemTemplateId int, PriceableItemInstanceId int, SubscriptionStartDate date, SubscriptionEndDate date, MRR number(22,10))';

execute immediate 'create table all_rcs_linked (InstanceId varchar2(64), SubscriptionId int not null, PayerId int not null, PayeeId int not null, StartDate date, EndDate date, ActionType nvarchar2(255), Currency nvarchar2(3), ProratedDailyRate number(22,10), DailyRate number(22,10), Rate number(22,10), ProductOfferingId int, PriceableItemTemplateId int, PriceableItemInstanceId int, SubscriptionStartDate date, SubscriptionEndDate date, MRR number(22,10), OldRate number(22,10), OldDailyRate number(22,10), OldProratedDailyRate number(22,10), OldSubscriptionStartDate date, OldSubscriptionEndDate date)';

execute immediate 'create table all_rcs_by_month (InstanceId varchar2(64), SubscriptionId int not null, ProductOfferingId int, PriceableItemTemplateId int, PriceableItemInstanceId int, SubscriptionStartDate date, SubscriptionEndDate date, Currency nvarchar2(3), ActionType nvarchar2(255), Year int, Month int, DailyRate number(22,10), Rate number(22,10), OldDailyRate number(22,10), OldRate number(22,10), OldProratedDailyRate number(22,10), OldSubscriptionStartDate date, OldSubscriptionEndDate date, Days int)';

execute immediate 'create table sum_rcs_by_month (InstanceId varchar2(64), SubscriptionId int not null, PriceableItemTemplateId int, PriceableItemInstanceId int, Currency nvarchar2(3), Year int, Month int, DaysInMonth int, DaysActiveInMonth int, TotalAmount number(22,10), OldAmount number(22,10), NewAmount number(22,10))';

execute immediate 'create table tmp_previous_two_months (InstanceId varchar2(64), Year int, Month int, FirstDayOfMonth date, LastDayOfMonth date)';

execute immediate 'create or replace procedure CreateADMInternal (p_dt_now date, p_id_run int, p_nm_currency nvarchar2, p_nm_instance nvarchar2, p_n_months int, p_STAGINGDB_prefix nvarchar2)
   AUTHID CURRENT_USER
IS
BEGIN

if (p_id_run is not null) then
	INSERT INTO t_recevent_run_details (id_run, id_detail, dt_crt, tx_type, tx_detail) VALUES (p_id_run, seq_t_recevent_run_details.NEXTVAL, sysdate, ''Debug'', ''Starting Analytics DataMart'');
END IF;

if (p_id_run is not null) then
	INSERT INTO t_recevent_run_details (id_run, id_detail, dt_crt, tx_type, tx_detail) VALUES (p_id_run, seq_t_recevent_run_details.NEXTVAL, sysdate, ''Debug'', ''Flushing Analytics datamart tables'');
END IF;
end;';

execute immediate ('TRUNCATE TABLE Customer');
execute immediate ('TRUNCATE TABLE SalesRep');
execute immediate ('TRUNCATE TABLE SubscriptionsByMonth');
execute immediate ('TRUNCATE TABLE SubscriptionUnits');
execute immediate ('TRUNCATE TABLE SubscriptionSummary');
execute immediate ('TRUNCATE TABLE CurrencyExchangeMonthly');
execute immediate ('TRUNCATE TABLE ProductOffering');
execute immediate ('TRUNCATE TABLE SubscriptionParticipants');

if (p_id_run is not null) then
	INSERT INTO t_recevent_run_details (id_run, id_detail, dt_crt, tx_type, tx_detail) VALUES (p_id_run, seq_t_recevent_run_details.NEXTVAL,sysdate, 'Info', 'Generating Customers DataMart');
END IF;


/* customers datamart */
insert into tmp_accs (id_ancestor, id_descendent)
select * from (
with root_accts as
(
	select /* corporate accounts */
	a.id_acc
	from t_account a
	inner join t_account_type t on t.id_type = a.id_type
	where 1=1
	and t.b_iscorporate = 1
	and t.b_isvisibleinhierarchy = 1
),
tmp_corps as
(
select
r.id_acc id_ancestor, aa.id_descendent, aa.num_generations
from root_accts r
inner join t_account_ancestor aa on aa.id_ancestor = r.id_acc and p_dt_now between aa.vt_start and aa.vt_end
where 1=1
),
my_gens as
(
	select
	id_descendent, max(num_generations) num_generations
	from tmp_corps
	group by id_descendent
)
select
max(a.id_ancestor) id_ancestor, a.id_descendent
from tmp_corps a
inner join my_gens g on a.id_descendent = g.id_descendent and a.num_generations = g.num_generations
where 1=1
group by a.id_descendent
) a;

select count(1) into l_count from tmp_accs;

if (p_id_run is not null) then
	 INSERT INTO t_recevent_run_details (id_run, id_detail, dt_crt, tx_type, tx_detail) VALUES (p_id_run, seq_t_recevent_run_details.NEXTVAL,sysdate, 'Debug', 'Found Corporate Hierarchy Accounts: ' || nvl(l_count, 0));
END IF;

insert into tmp_accs (id_ancestor, id_descendent)
select * from (
with root_accts as
(
	select
	aa.id_descendent id_acc
	from t_account_ancestor aa
	inner join t_account a on a.id_acc = aa.id_descendent
	inner join t_account_type t on t.id_type = a.id_type and (t.b_iscorporate = 0 or t.b_isvisibleinhierarchy = 0)
	where 1=1
	and p_dt_now between aa.vt_start and aa.vt_end
	and aa.id_ancestor = 1
	and aa.num_generations = 1
	and aa.b_children = 'Y'
)
select
r.id_acc id_ancestor, aa.id_descendent
from root_accts r
inner join t_account_ancestor aa on aa.id_ancestor = r.id_acc and p_dt_now between aa.vt_start and aa.vt_end
left outer join tmp_accs a on aa.id_descendent = a.id_descendent
where 1=1
and a.id_descendent is null
) a;

select count(1) into l_count from tmp_accs;

if (p_id_run is not null) then
	INSERT INTO t_recevent_run_details (id_run, id_detail, dt_crt, tx_type, tx_detail) VALUES (p_id_run, seq_t_recevent_run_details.NEXTVAL,sysdate, 'Debug', 'Added Non-Corporate Hierarchy Accounts, Total Now: ' || nvl(l_count, 0));
END IF;

/* non-corporate nodes without hierarchy */
insert into tmp_accs (id_ancestor, id_descendent)
select
a.id_acc, a.id_acc
from t_account a
left outer join tmp_accs b on a.id_acc = b.id_descendent
inner join t_account_ancestor aa on aa.id_descendent = a.id_acc and p_dt_now between aa.vt_start and aa.vt_end and aa.id_ancestor = 1 and aa.num_generations > 0
where 1=1
and b.id_descendent is null
;

select count(1) into l_count from tmp_accs;

if (p_id_run is not null) then
	INSERT INTO t_recevent_run_details (id_run, id_detail, dt_crt, tx_type, tx_detail) VALUES (p_id_run, seq_t_recevent_run_details.NEXTVAL,sysdate, 'Debug', 'Added Non-Corporate Non-Hierarchy Accounts, Total Now: ' || nvl(l_count, 0));
END IF;

/* unrooted nodes */
insert into tmp_accs (id_ancestor, id_descendent)
select * from (
with tmp_unrooted as
(
select
aa.id_ancestor, aa.id_descendent, aa.num_generations
from t_account a
left outer join tmp_accs b on a.id_acc = b.id_descendent
inner join t_account_ancestor aa on aa.id_descendent = a.id_acc and p_dt_now between aa.vt_start and aa.vt_end
where 1=1
and b.id_descendent is null
),
my_unrooted as
(
	select id_descendent, max(num_generations) num_generations
	from tmp_unrooted
	group by id_descendent
)
select
b.id_ancestor, b.id_descendent
from my_unrooted a
inner join tmp_unrooted b on a.id_descendent = b.id_descendent and a.num_generations = b.num_generations
where 1=1
) a;

select count(1) into l_count from tmp_accs;

if (p_id_run is not null) then
	INSERT INTO t_recevent_run_details (id_run, id_detail, dt_crt, tx_type, tx_detail) VALUES (p_id_run, seq_t_recevent_run_details.NEXTVAL,sysdate, 'Debug', 'Added Non-Rooted Accounts, Total Now: ' || nvl(l_count, 0));
END IF;


select id_enum_data into l_billTo from t_enum_data where upper(nm_enum_data) = 'METRATECH.COM/ACCOUNTCREATION/CONTACTTYPE/BILL-TO';

insert into Customer
		(InstanceId,
		MetraNetId,
		AccountType,
		ExternalId,
		ExternalIdSpace,
		FirstName,
		MiddleName,
		LastName,
		Company,
		Currency,
		City,
		State,
		ZipCode,
		Country,
		Email,
		Phone,
		HierarchyMetraNetId,
		HierarchyAccountType,
		HierarchyExternalId,
		HierarchyExternalIdSpace,
		HierarchyFirstName,
		HierarchyMiddleName,
		HierarchyLastName,
		HierarchyCompany,
		HierarchyCurrency,
		HierarchyCity,
		HierarchyState,
		HierarchyZipCode,
		HierarchyCountry,
		HierarchyEmail,
		HierarchyPhone,
		StartDate,
		EndDate)
select
		InstanceId,
		MetraNetId,
		AccountType,
		ExternalId,
		ExternalIdSpace,
		FirstName,
		MiddleName,
		LastName,
		Company,
		Currency,
		City,
		State,
		ZipCode,
		Country,
		Email,
		Phone,
		HierarchyMetraNetId,
		HierarchyAccountType,
		HierarchyExternalId,
		HierarchyExternalIdSpace,
		HierarchyFirstName,
		HierarchyMiddleName,
		HierarchyLastName,
		HierarchyCompany,
		HierarchyCurrency,
		HierarchyCity,
		HierarchyState,
		HierarchyZipCode,
		HierarchyCountry,
		HierarchyEmail,
		HierarchyPhone,
		StartDate,
		EndDate
from (select
p_nm_instance as InstanceId,
c.id_acc as MetraNetId,
ct.name as AccountType,
cam.nm_login as ExternalId,
cam.nm_space as ExternalIdSpace,
cav.c_firstname as FirstName,
cav.c_middleinitial as MiddleName,
cav.c_lastname as LastName,
cav.c_company as Company,
cavi.c_currency as Currency,
cav.c_city as City,
cav.c_state as State,
cav.c_zip as ZipCode,
substr(ted2.nm_enum_data,20,100) as Country,
cav.c_email as Email,
cav.c_phonenumber as Phone,
p.id_acc as HierarchyMetraNetId,
pt.name as HierarchyAccountType,
pam.nm_login as HierarchyExternalId,
pam.nm_space as HierarchyExternalIdSpace,
pav.c_firstname as HierarchyFirstName,
pav.c_middleinitial as HierarchyMiddleName,
pav.c_lastname as HierarchyLastName,
pav.c_company as HierarchyCompany,
pavi.c_currency as HierarchyCurrency,
pav.c_city as HierarchyCity,
pav.c_state as HierarchyState,
pav.c_zip as HierarchyZipCode,
substr(ted3.nm_enum_data,20,100) as HierarchyCountry,
pav.c_email as HierarchyEmail,
pav.c_phonenumber as HierarchyPhone,
c.dt_crt as StartDate,
case when UPPER(state.status) != 'AC' then state.vt_start else state.vt_end end as EndDate,
DENSE_RANK() OVER (PARTITION BY c.id_acc, p.id_acc ORDER BY cam.nm_space, pam.nm_space) as priority_col
from tmp_accs r
inner join t_account c on c.id_acc = r.id_descendent
inner join t_account_state state on state.id_acc = c.id_acc
inner join t_account_type ct on ct.id_type = c.id_type
inner join t_account_mapper cam on cam.id_acc = c.id_acc and cam.nm_space not in ('ar')
left outer join t_av_internal cavi on cavi.id_acc = c.id_acc
left outer join t_av_contact cav on c.id_acc = cav.id_acc and cav.c_contactType = l_billTo
left outer join t_enum_data ted2 on ted2.id_enum_data = cav.c_country
inner join t_account p on p.id_acc = r.id_ancestor
inner join t_account_type pt on pt.id_type = p.id_type
inner join t_account_mapper pam on pam.id_acc = p.id_acc and pam.nm_space not in ('ar')
left outer join t_av_internal pavi on pavi.id_acc = p.id_acc
left outer join t_av_contact pav on p.id_acc = pav.id_acc and pav.c_contactType = l_billTo
left outer join t_enum_data ted3 on ted3.id_enum_data = pav.c_country
where 1=1
) a
where 1=1
and a.priority_col = 1;

select count(1) into l_count from Customer;

if (p_id_run is not null) then
	INSERT INTO t_recevent_run_details (id_run, id_detail, dt_crt, tx_type, tx_detail) VALUES (p_id_run, seq_t_recevent_run_details.NEXTVAL,sysdate, 'Info', 'Customers: ' || nvl(l_count, 0));
	INSERT INTO t_recevent_run_details (id_run, id_detail, dt_crt, tx_type, tx_detail) VALUES (p_id_run, seq_t_recevent_run_details.NEXTVAL,sysdate, 'Info', 'Generating SalesRep DataMart');
END IF;

/* sales reps */
insert into SalesRep
(	InstanceId,
	MetraNetId,
	ExternalId,
	CustomerId,
	Percentage,
	RelationshipType)
select p_nm_instance as InstanceId,
tao.id_owner as MetraNetId,
am.nm_login as ExternalId,
tao.id_owned as CustomerId,
tao.n_percent as Percentage,
substr(ted.nm_enum_data,37, 100) as RelationshipType
from t_acc_ownership tao
inner join t_enum_data ted on ted.id_enum_data = tao.id_relation_type
inner join t_account_mapper am on am.id_acc = tao.id_owner and am.nm_space = 'system_user'
where 1=1
and p_dt_now between tao.vt_start and tao.vt_end
;

select count(1) into l_count from SalesRep;

if (p_id_run is not null) then
	INSERT INTO t_recevent_run_details (id_run, id_detail, dt_crt, tx_type, tx_detail) VALUES (p_id_run, seq_t_recevent_run_details.NEXTVAL,sysdate, 'Info', 'Sales Reps: ' || nvl(l_count, 0));
	INSERT INTO t_recevent_run_details (id_run, id_detail, dt_crt, tx_type, tx_detail) VALUES (p_id_run, seq_t_recevent_run_details.NEXTVAL,sysdate, 'Info', 'Generating CurrencyExchangeMonthly DataMart');
END IF;

insert into CurrencyExchangeMonthly
(	InstanceId,
	StartDate,
	EndDate,
	SourceCurrency,
	TargetCurrency,
	ExchangeRate
)
select p_nm_instance,
	nvl(vt_start, dbo.mtmindate()),
	nvl(vt_end, dbo.mtmaxdate()),
	nm_country_source,
	nm_country_target,
	c_Exchange_Rate
from t_vw_adm_exchange_rates
;
select count(1) into l_count from CurrencyExchangeMonthly;

if (p_id_run is not null) then
	INSERT INTO t_recevent_run_details (id_run, id_detail, dt_crt, tx_type, tx_detail) VALUES (p_id_run, seq_t_recevent_run_details.NEXTVAL,sysdate, 'Info', 'Currency Exchange Rates: ' || nvl(l_count, 0));
	INSERT INTO t_recevent_run_details (id_run, id_detail, dt_crt, tx_type, tx_detail) VALUES (p_id_run, seq_t_recevent_run_details.NEXTVAL,sysdate, 'Info', 'Generating SubscriptionsByMonth DataMart');
END IF;

insert into all_rcs
(InstanceId,
SubscriptionId,
PayerId,
PayeeId,
StartDate,
EndDate,
ActionType,
Currency,
ProratedDailyRate,
DailyRate,
Rate,
ProductOfferingId,
PriceableItemTemplateId,
PriceableItemInstanceId,
SubscriptionStartDate,
SubscriptionEndDate,
MRR
)
select * from (
with my_pis as
(
select distinct
sub.id_sub,
sub.id_acc,
sub.id_po,
plm.id_pi_template,
plm.id_pi_instance,
sub.vt_start,
sub.vt_end
from t_sub sub
inner join t_pl_map plm on plm.id_po = sub.id_po and plm.id_paramtable is null and plm.id_sub is null
inner join t_recur tr on tr.id_prop = plm.id_pi_instance
where 1=1
and sub.id_group is null
union
select distinct
sub.id_sub,
mbr.id_acc,
sub.id_po,
plm.id_pi_template,
plm.id_pi_instance,
mbr.vt_start,
mbr.vt_end
from t_gsubmember mbr
inner join t_sub sub on sub.id_group = mbr.id_group
inner join t_pl_map plm on plm.id_po = sub.id_po and plm.id_paramtable is null and plm.id_sub is null
inner join t_recur tr on tr.id_prop = plm.id_pi_instance and tr.b_charge_per_participant = 'Y'
where 1=1
union
select distinct
sub.id_sub,
grm.id_acc,
sub.id_po,
plm.id_pi_template,
plm.id_pi_instance,
grm.vt_start,
grm.vt_end
from t_gsubmember mbr
inner join t_sub sub on sub.id_group = mbr.id_group
inner join t_pl_map plm on plm.id_po = sub.id_po and plm.id_paramtable is null and plm.id_sub is null
inner join t_recur tr on tr.id_prop = plm.id_pi_instance and tr.b_charge_per_participant = 'N'
inner join t_gsub_recur_map grm on grm.id_prop = tr.id_prop and grm.tt_end = dbo.mtmaxdate()
where 1=1
)
select
*
from (
select
p_nm_instance as InstanceId,
svc.id_sub as SubscriptionId,
au.id_acc as PayerId,
au.id_payee as PayeeId,
pv.c_ProratedIntervalStart as StartDate,
pv.c_ProratedIntervalEnd as EndDate,
pv.c_RCActionType as ActionType,
au.am_currency as Currency,
pv.c_ProratedDailyRate as ProratedDailyRate,
case when pv.c_prorateddays = 0 then au.amount else au.amount/pv.c_prorateddays end as DailyRate,
pv.c_RCAmount as Rate,
au.id_prod as ProductOfferingId,
au.id_pi_template as PriceableItemTemplateId,
au.id_pi_instance as PriceableItemInstanceId,
svc.vt_start as SubscriptionStartDate,
svc.vt_end as SubscriptionEndDate,
au.amount as MRR
from t_usage_interval tui
inner join t_pv_flatrecurringcharge pv on tui.id_interval = pv.id_usage_interval
inner join t_acc_usage au on au.id_usage_interval = pv.id_usage_interval and au.id_sess = pv.id_sess
inner join my_pis svc on svc.id_po = au.id_prod and svc.id_pi_template = au.id_pi_template and svc.id_pi_instance = au.id_pi_instance and svc.id_acc = au.id_payee
						and svc.id_sub = pv.c__SubscriptionID
where 1=1
and au.amount <> 0.0
union all
select
p_nm_instance as InstanceId,
svc.id_sub as SubscriptionId,
au.id_acc as PayerId,
au.id_payee as PayeeId,
pv.c_ProratedIntervalStart as StartDate,
pv.c_ProratedIntervalEnd as EndDate,
pv.c_RCActionType as ActionType,
au.am_currency as Currency,
pv.c_ProratedDailyRate as ProratedDailyRate,
case when pv.c_prorateddays = 0 then au.amount else au.amount/pv.c_prorateddays end as DailyRate,
pv.c_RCAmount as Rate,
au.id_prod as ProductOfferingId,
au.id_pi_template as PriceableItemTemplateId,
au.id_pi_instance as PriceableItemInstanceId,
svc.vt_start as SubscriptionStartDate,
svc.vt_end as SubscriptionEndDate,
au.amount as MRR
from t_usage_interval tui
inner join t_pv_udrecurringcharge pv on tui.id_interval = pv.id_usage_interval
inner join t_acc_usage au on au.id_usage_interval = pv.id_usage_interval and au.id_sess = pv.id_sess
inner join my_pis svc on svc.id_po = au.id_prod and svc.id_pi_template = au.id_pi_template and svc.id_pi_instance = au.id_pi_instance and svc.id_acc = au.id_payee
						and svc.id_sub = pv.c__SubscriptionID
where 1=1
and au.amount <> 0.0
) A
) a;

select count(1) into l_count from all_rcs;

if (p_id_run is not null) then
	INSERT INTO t_recevent_run_details (id_run, id_detail, dt_crt, tx_type, tx_detail) VALUES (p_id_run, seq_t_recevent_run_details.NEXTVAL,sysdate, 'Debug', 'Found RCs: ' || nvl(l_count, 0));
END IF;

execute immediate 'create index idx_all_rcs on all_rcs (InstanceId, SubscriptionId, PayeeId, PriceableItemTemplateId, PriceableItemInstanceId, StartDate, EndDate, ActionType, Currency)';

if (p_id_run is not null) then
	INSERT INTO t_recevent_run_details (id_run, id_detail, dt_crt, tx_type, tx_detail) VALUES (p_id_run, seq_t_recevent_run_details.NEXTVAL,sysdate, 'Debug', 'Created index for RC linkage');
END IF;

insert into all_rcs_linked
(InstanceId,
SubscriptionId,
PayerId,
PayeeId,
StartDate,
EndDate,
ActionType,
Currency,
ProratedDailyRate,
DailyRate,
Rate,
ProductOfferingId,
PriceableItemTemplateId,
PriceableItemInstanceId,
SubscriptionStartDate,
SubscriptionEndDate,
MRR,
OldRate,
OldDailyRate,
OldProratedDailyRate,
OldSubscriptionStartDate,
OldSubscriptionEndDate
)
select
crc.*,
prc.Rate as OldRate,
prc.DailyRate as OldDailyRate,
prc.ProratedDailyRate as OldProratedDailyRate,
prc.SubscriptionStartDate as OldSubscriptionStartDate,
prc.SubscriptionEndDate as OldSubscriptionEndDate
from all_rcs crc
left outer join all_rcs prc on  crc.InstanceId = prc.InstanceId
                             and crc.SubscriptionId = prc.SubscriptionId
                             and crc.PayeeId = prc.PayeeId
                             and crc.PriceableItemTemplateId = prc.PriceableItemTemplateId
                             and crc.PriceableItemInstanceId = prc.PriceableItemInstanceId
							 and crc.Currency = prc.Currency
                             and prc.EndDate = crc.StartDate - (1/(24*60*60))
                             and prc.ActionType = crc.ActionType
                             and crc.ActionType IN ('Advance','Arrears')
where 1=1
;

select count(1) into l_count from all_rcs_linked;

if (p_id_run is not null) then
	INSERT INTO t_recevent_run_details (id_run, id_detail, dt_crt, tx_type, tx_detail) VALUES (p_id_run, seq_t_recevent_run_details.NEXTVAL,sysdate, 'Debug', 'Found Linked RCs: ' || nvl(l_count, 0));
END IF;

execute immediate 'create index idx_all_rcs_linked on all_rcs_linked (InstanceId, SubscriptionId, PriceableItemTemplateId, PriceableItemInstanceId, StartDate, EndDate)';

if (p_id_run is not null) then
	INSERT INTO t_recevent_run_details (id_run, id_detail, dt_crt, tx_type, tx_detail) VALUES (p_id_run, seq_t_recevent_run_details.NEXTVAL,sysdate, 'Debug', 'Created index for linked RCs');
END IF;

insert into all_rcs_by_month
(
InstanceId,
SubscriptionId,
ProductOfferingId,
PriceableItemTemplateId,
PriceableItemInstanceId,
SubscriptionStartDate,
SubscriptionEndDate,
Currency,
ActionType,
Year,
Month,
DailyRate,
Rate,
OldDailyRate,
OldRate,
OldProratedDailyRate,
OldSubscriptionStartDate,
OldSubscriptionEndDate,
Days
)
select
*
from
(
WITH MONTHS AS (
  SELECT LEVEL-1 AS num
  FROM DUAL
  CONNECT BY LEVEL <= 12
)
select
rcs.InstanceId,
rcs.SubscriptionId,
rcs.ProductOfferingId,
rcs.PriceableItemTemplateId,
rcs.PriceableItemInstanceId,
rcs.SubscriptionStartDate,
rcs.SubscriptionEndDate,
rcs.Currency,
case when months.num <> 0 then to_nchar('NotInitial') else rcs.ActionType end as ActionType,
extract(year from add_months(rcs.startdate, months.num)) as Year,
extract(month from add_months(rcs.startdate, months.num)) as Month,
rcs.DailyRate,
rcs.Rate,
rcs.OldDailyRate,
rcs.OldRate,
rcs.OldProratedDailyRate,
rcs.OldSubscriptionStartDate,
rcs.OldSubscriptionEndDate,
case when months_between(trunc(rcs.enddate,'mon'), trunc(rcs.startdate,'mon')) = months.num then extract(day from rcs.enddate) - case when months.num = 0 then (extract(day from rcs.startdate) - 1) else 0 end
	 else case when extract(month from add_months(rcs.startdate, months.num)) in (4,6,9,11) then 30
	           when extract(month from add_months(rcs.startdate, months.num)) = 2 then case when mod(extract(year from add_months(rcs.startdate, months.num)), 400) = 0 then 29
																					  when mod(extract(year from add_months(rcs.startdate, months.num)), 100) = 0 then 28
																					  when mod(extract(year from add_months(rcs.startdate, months.num)), 4)   = 0 then 29
																					  else 28
																				 end
			   else 31
		  end
		  - case when months.num <> 0 then 0
				 else (extract(day from rcs.startdate) - 1)
			end
end as Days
from all_rcs_linked rcs
inner join months on months.num between 0 and months_between(trunc(rcs.enddate,'mon'), trunc(rcs.startdate,'mon'))
where 1=1
) a;

select count(1) into l_count from all_rcs_by_month;

if (p_id_run is not null) then
	INSERT INTO t_recevent_run_details (id_run, id_detail, dt_crt, tx_type, tx_detail) VALUES (p_id_run, seq_t_recevent_run_details.NEXTVAL,sysdate, 'Debug', 'Found RCs by month: ' || nvl(l_count, 0));
END IF;

insert into sum_rcs_by_month
(
InstanceId,
SubscriptionId,
PriceableItemTemplateId,
PriceableItemInstanceId,
Currency,
Year,
Month,
DaysInMonth,
DaysActiveInMonth,
TotalAmount,
OldAmount,
NewAmount
)
select
rcs.InstanceId,
rcs.SubscriptionId,
rcs.PriceableItemTemplateId,
rcs.PriceableItemInstanceId,
rcs.Currency,
rcs.Year,
rcs.Month,
case when rcs.Month in (4,6,9,11) then 30 when rcs.Month = 2 then case when mod(rcs.Year, 400) = 0 then 29 when mod(rcs.Year, 100) = 0 then 28 when mod(rcs.Year, 4) = 0 then 29 else 28 end else 31 end as DaysInMonth,
max(rcs.Days) as DaysActiveInMonth,
sum(cast(rcs.DailyRate*rcs.Days as numeric(18,6))) as TotalAmount,
sum(case when rcs.OldRate is null then cast(rcs.DailyRate*rcs.Days as numeric(18,6))
		 when rcs.Rate = rcs.OldRate then cast(rcs.DailyRate*rcs.Days as numeric(18,6))
         when rcs.DailyRate = 0 then cast(rcs.DailyRate*rcs.Days as numeric(18,6))
         else cast((rcs.DailyRate*rcs.Days)*(cast(rcs.OldRate/rcs.Rate as numeric(29,17))) as numeric(18,6))
    end) as OldAmount,
sum(case when rcs.OldSubscriptionEndDate is null then rcs.DailyRate*rcs.Days else 0 end) as NewAmount
from all_rcs_by_month rcs
where 1=1
group by
rcs.InstanceId,
rcs.SubscriptionId,
rcs.Currency,
rcs.PriceableItemTemplateId,
rcs.PriceableItemInstanceId,
rcs.Year,
rcs.Month
;

select count(1) into l_count from sum_rcs_by_month;

if (p_id_run is not null) then
	INSERT INTO t_recevent_run_details (id_run, id_detail, dt_crt, tx_type, tx_detail) VALUES (p_id_run, seq_t_recevent_run_details.NEXTVAL,sysdate, 'Debug', 'Summarized RCs by month: ' || nvl(l_count, 0));
END IF;

execute immediate 'create index idx_monthly_rcs on sum_rcs_by_month (InstanceId, SubscriptionId, PriceableItemTemplateId, PriceableItemInstanceId, Year, Month, Currency)';

if (p_id_run is not null) then
	INSERT INTO t_recevent_run_details (id_run, id_detail, dt_crt, tx_type, tx_detail) VALUES (p_id_run, seq_t_recevent_run_details.NEXTVAL,sysdate, 'Debug', 'Created index for summarized subscriptions');
END IF;

if (p_id_run is not null) then
	INSERT INTO t_recevent_run_details (id_run, id_detail, dt_crt, tx_type, tx_detail) VALUES (p_id_run, seq_t_recevent_run_details.NEXTVAL,sysdate, 'Debug', 'Created index for exchange rates');
END IF;

insert into SubscriptionsByMonth
(	InstanceId,
	SubscriptionId,
	Year,
	Month,
	Currency,
	MRR,
	MRRPrimaryCurrency,
	MRRNew,
	MRRNewPrimaryCurrency,
	MRRBase,
	MRRBasePrimaryCurrency,
	MRRRenewal,
	MRRRenewalPrimaryCurrency,
	MRRPriceChange,
	MRRPriceChangePrimaryCurrency,
	MRRChurn,
	MRRChurnPrimaryCurrency,
	MRRCancelation,
	MRRCancelationPrimaryCurrency,
	SubscriptionRevenue,
	SubscriptionRevPrimaryCurrency,
	DaysInMonth,
	DaysActiveInMonth,
	ReportingCurrency
)
select cMonth.InstanceId,
	cMonth.SubscriptionId,
	cMonth.Year,
	cMonth.Month,
	cMonth.Currency,
	cMonth.TotalAmount as MRR,
	cMonth.TotalAmount*(case when p_nm_currency <> cMonth.Currency then exc.ExchangeRate else 1.0 end) as MRRPrimaryCurrency,
	cMonth.NewAmount as MRRNew,
	cMonth.NewAmount*(case when p_nm_currency <> cMonth.Currency then exc.ExchangeRate else 1.0 end) as MRRNewPrimaryCurrency,
	nvl(pMonth.TotalAmount,0) as MRRBase,
	nvl(pMonth.TotalAmount,0)*(case when p_nm_currency <> cMonth.Currency then exc.ExchangeRate else 1.0 end) as MRRBasePrimaryCurrency,
	0 as MRRRenewal,
	0*(case when p_nm_currency <> cMonth.Currency then exc.ExchangeRate else 1.0 end) as MRRRenewalPrimaryCurrency,
	(cMonth.TotalAmount - cMonth.OldAmount) as MRRPriceChange,
	(cMonth.TotalAmount - cMonth.OldAmount)*(case when p_nm_currency <> cMonth.Currency then exc.ExchangeRate else 1.0 end) as MRRPriceChangePrimaryCurrency,
	0 as MRRChurn,
	0*(case when p_nm_currency <> cMonth.Currency then exc.ExchangeRate else 1.0 end) as MRRChurnPrimaryCurrency,
	0 as MRRCancelation,
	0*(case when p_nm_currency <> cMonth.Currency then exc.ExchangeRate else 1.0 end) as MRRCancelationPrimaryCurrency,
	0 as SubscriptionRevenue,
	0*(case when p_nm_currency <> cMonth.Currency then exc.ExchangeRate else 1.0 end) as SubscriptionRevPrimaryCurrency,
	cMonth.DaysInMonth,
	cMonth.DaysActiveInMonth,
	p_nm_currency
from sum_rcs_by_month cMonth
left outer join sum_rcs_by_month pMonth on  cMonth.InstanceId = pMonth.InstanceId
										 and cMonth.SubscriptionId = pMonth.SubscriptionId
										 and cMonth.PriceableItemTemplateId = pMonth.PriceableItemTemplateId
										 and cMonth.PriceableItemInstanceId = pMonth.PriceableItemInstanceId
										 and cMonth.Currency = pMonth.Currency
										 and case when cMonth.Month = 1 then cMonth.Year - 1 else cMonth.Year end = pMonth.Year
										 and case when cMonth.Month = 1 then 12 else cMonth.Month - 1 end = pMonth.Month
left outer join CurrencyExchangeMonthly exc on exc.InstanceId = cMonth.InstanceId and exc.SourceCurrency = cMonth.Currency and exc.TargetCurrency = p_nm_currency and p_dt_now between exc.StartDate and exc.EndDate
where 1=1
;

select count(1) into l_count from SubscriptionsByMonth;

if (p_id_run is not null) then
	INSERT INTO t_recevent_run_details (id_run, id_detail, dt_crt, tx_type, tx_detail) VALUES (p_id_run, seq_t_recevent_run_details.NEXTVAL,sysdate, 'Info', 'Subscriptions by month: ' || nvl(l_count, 0));
	INSERT INTO t_recevent_run_details (id_run, id_detail, dt_crt, tx_type, tx_detail) VALUES (p_id_run, seq_t_recevent_run_details.NEXTVAL,sysdate, 'Info', 'Generating SubscriptionSummary DataMart');
END IF;

insert into SubscriptionSummary
(	InstanceId,
	ProductOfferingId,
	Year,
	Month,
	TotalParticipants,
	DistinctHierarchies,
	NewParticipants,
	MRRPrimaryCurrency,
	MRRNewPrimaryCurrency,
	MRRBasePrimaryCurrency,
	MRRRenewalPrimaryCurrency,
	MRRPriceChangePrimaryCurrency,
	MRRChurnPrimaryCurrency,
	MRRCancelationPrimaryCurrency,
	SubscriptionRevPrimaryCurrency,
	DaysInMonth)
select
mrr.InstanceId,
sub.id_po as ProductOfferingId,
mrr.Year,
mrr.Month,
count(1) as TotalParticipants,
count(distinct cust.HierarchyMetraNetId) as DistinctHierarchies,
sum(case when (p_dt_now - sub.vt_start) <= 30 then 1 else 0 end) as NewParticipants,
sum(mrr.MRRPrimaryCurrency) as MRRPrimaryCurrency,
sum(mrr.MRRNewPrimaryCurrency) as MRRNewPrimaryCurrency,
sum(mrr.MRRBasePrimaryCurrency) as MRRBasePrimaryCurrency,
sum(mrr.MRRRenewalPrimaryCurrency) as MRRRenewalPrimaryCurrency,
sum(mrr.MRRPriceChangePrimaryCurrency) as MRRPriceChangePrimaryCurrency,
sum(mrr.MRRChurnPrimaryCurrency) as MRRChurnPrimaryCurrency,
sum(mrr.MRRCancelationPrimaryCurrency) as MRRCancelationPrimaryCurrency,
sum(mrr.SubscriptionRevPrimaryCurrency) as SubscriptionRevPrimaryCurrency,
mrr.DaysInMonth
from SubscriptionsByMonth mrr
inner join t_sub sub on sub.id_sub = mrr.SubscriptionId
inner join Customer cust on cust.InstanceId = mrr.InstanceId and cust.MetraNetId = sub.id_acc
where 1=1
group by mrr.InstanceId, mrr.Year, mrr.Month, sub.id_po, mrr.DaysInMonth
;

select count(1) into l_count from SubscriptionSummary;

if (p_id_run is not null) then
	INSERT INTO t_recevent_run_details (id_run, id_detail, dt_crt, tx_type, tx_detail) VALUES (p_id_run, seq_t_recevent_run_details.NEXTVAL,sysdate, 'Info', 'Subscription summaries: ' || nvl(l_count, 0));
	INSERT INTO t_recevent_run_details (id_run, id_detail, dt_crt, tx_type, tx_detail) VALUES (p_id_run, seq_t_recevent_run_details.NEXTVAL,sysdate, 'Info', 'Generating SubscriptionUnits DataMart');
END IF;

/* NOTE: this is UDRC''s not decision counters */
insert into SubscriptionUnits
(	InstanceId,
	SubscriptionId,
	StartDate,
	EndDate,
	UdrcId,
	UdrcName,
	UnitName,
	Units
)
select p_nm_instance as InstanceId,
rv.id_sub as SubscriptionId,
rv.vt_start as StartDate,
rv.vt_end as EndDate,
bp.id_prop as UdrcId,
nvl(bp.nm_display_name, bp.nm_name) as UdrcName,
nvl(rc.nm_unit_display_name, rc.nm_unit_name) as UnitName,
rv.n_value as Units
from t_recur_value rv
inner join t_base_props bp on bp.id_prop = rv.id_prop
inner join t_recur rc on rc.id_prop = rv.id_prop
where 1=1
and rv.tt_end = dbo.mtmaxdate()
;

select count(1) into l_count from SubscriptionUnits;

if (p_id_run is not null) then
	INSERT INTO t_recevent_run_details (id_run, id_detail, dt_crt, tx_type, tx_detail) VALUES (p_id_run, seq_t_recevent_run_details.NEXTVAL,sysdate, 'Info', 'Subscription units: ' || nvl(l_count, 0));
	INSERT INTO t_recevent_run_details (id_run, id_detail, dt_crt, tx_type, tx_detail) VALUES (p_id_run, seq_t_recevent_run_details.NEXTVAL,sysdate, 'Info', 'Generating ProductOffering DataMart');
END IF;

insert into ProductOffering
(	InstanceId,
	ProductOfferingId,
	ProductOfferingName,
	IsUserSubscribable,
	IsUserUnsubscribable,
	IsHidden,
	EffectiveStartDate,
	EffectiveEndDate,
	AvailableStartDate,
	AvailableEndDate)
select
p_nm_instance as InstanceId,
po.id_po as ProductOfferingId,
nvl(bp.nm_display_name, bp.nm_name) as ProductOfferingName,
po.b_user_subscribe as IsUserSubscribable,
po.b_user_unsubscribe as IsUserUnsubscribable,
po.b_hidden as IsHidden,
nvl(eff.dt_start, dbo.mtmindate()) as EffectiveStartDate,
nvl(eff.dt_end, dbo.mtmaxdate()) as EffectiveEndDate,
nvl(avl.dt_start, dbo.mtmindate()) as AvailableStartDate,
nvl(avl.dt_end, dbo.mtmaxdate()) as AvailableEndDate
from t_po po
inner join t_effectivedate eff on eff.id_eff_date = po.id_eff_date
inner join t_effectivedate avl on avl.id_eff_date = po.id_avail
inner join t_base_props bp on bp.id_prop = po.id_po
where 1=1
;

select count(1) into l_count from SubscriptionUnits;

if (p_id_run is not null) then
	INSERT INTO t_recevent_run_details (id_run, id_detail, dt_crt, tx_type, tx_detail) VALUES (p_id_run, seq_t_recevent_run_details.NEXTVAL,sysdate, 'Info', 'Product Offerings: ' || nvl(l_count, 0));
  INSERT INTO t_recevent_run_details (id_run, id_detail, dt_crt, tx_type, tx_detail) VALUES (p_id_run, seq_t_recevent_run_details.NEXTVAL,sysdate, 'Info', 'Generating SubscriptionParticipants DataMart');
END IF;

insert into tmp_previous_two_months(InstanceId,Month,Year,FirstDayOfMonth,LastDayOfMonth)
select
p_nm_instance as InstanceId,
extract(month from ADD_MONTHS(p_dt_now,0)) as Month,
extract(year from ADD_MONTHS(p_dt_now,0)) as Year,
TRUNC(ADD_MONTHS(p_dt_now,0),'MON') as FirstDayOfMonth,
TRUNC(ADD_MONTHS(p_dt_now,1),'MON')-1/60/60/24 as LastDayOfMonth
from dual
;
insert into tmp_previous_two_months(InstanceId,Month,Year,FirstDayOfMonth,LastDayOfMonth)
select
p_nm_instance as InstanceId,
extract(month from ADD_MONTHS(p_dt_now,-1)) as Month,
extract(year from ADD_MONTHS(p_dt_now,-1)) as Year,
TRUNC(ADD_MONTHS(p_dt_now,-1),'MON') as FirstDayOfMonth,
TRUNC(ADD_MONTHS(p_dt_now,0),'MON')-1/60/60/24 as LastDayOfMonth
from dual
;
insert into tmp_previous_two_months(InstanceId,Month,Year,FirstDayOfMonth,LastDayOfMonth)
select
p_nm_instance as InstanceId,
extract(month from ADD_MONTHS(p_dt_now,-2)) as Month,
extract(year from ADD_MONTHS(p_dt_now,-2)) as Year,
TRUNC(ADD_MONTHS(p_dt_now,-2),'MON') as FirstDayOfMonth,
TRUNC(ADD_MONTHS(p_dt_now,-1),'MON')-1/60/60/24 as LastDayOfMonth
from dual
;
insert into SubscriptionParticipants
(	InstanceId,
	ProductOfferingId,
	Year,
	Month,
	TotalParticipants,
	DistinctHierarchies,
	NewParticipants,
  UnsubscribedParticipants)
select
months.InstanceId,
sub.id_po as ProductOfferingId,
months.Year,
months.Month,
count(1) as TotalParticipants,
count(distinct cust.HierarchyMetraNetId) as DistinctHierarchies,
sum (case when sub.dt_start >= months.FirstDayOfMonth and sub.dt_start <= months.LastDayOfMonth then 1 else 0 end) as NewParticipants,
sum (case when sub.dt_end >= months.FirstDayOfMonth and sub.dt_end <= months.LastDayOfMonth then 1 else 0 end) as UnsubscribedParticipants
from t_vw_effective_subs sub
inner join Customer cust on cust.MetraNetId = sub.id_acc and cust.InstanceId = p_nm_instance
/*was this subscription active during any part of this month?*/
inner join tmp_previous_two_months months on (sub.dt_end >= months.FirstDayOfMonth and sub.dt_end <= months.LastDayOfMonth) or (sub.dt_start >= months.FirstDayOfMonth and sub.dt_start <= months.LastDayOfMonth) or (sub.dt_start <= months.FirstDayOfMonth and sub.dt_end >= months.LastDayOfMonth)
where 1=1
group by months.InstanceId, months.Year, months.Month, sub.id_po
;

select count(1) into l_count from SubscriptionParticipants;

if (p_id_run is not null) then
	INSERT INTO t_recevent_run_details (id_run, id_detail, dt_crt, tx_type, tx_detail) VALUES (p_id_run, seq_t_recevent_run_details.NEXTVAL,sysdate, 'Info', 'SubscriptionParticipants rows: ' || nvl(l_count, 0));
END IF;

if (p_id_run is not null) then
	INSERT INTO t_recevent_run_details (id_run, id_detail, dt_crt, tx_type, tx_detail) VALUES (p_id_run, seq_t_recevent_run_details.NEXTVAL,sysdate, 'Info', 'Finished generating DataMart');
END IF;

end;
/

CREATE OR REPLACE procedure netmeter.AddCounterInstance
				(id_lang_code int,
				 n_kind int,
				 nm_name nvarchar2,
				 nm_desc nvarchar2,
			   counter_type_id t_counter.id_counter_type%type,
			   id_prop OUT int)
	   	  as
				identity_value int;
				id_display_name int;
				id_display_desc int;
    		begin
					InsertBaseProps(id_lang_code, n_kind, 'N', 'N', nm_name, nm_desc, null, identity_value, id_display_name, id_display_desc);
					INSERT INTO t_counter (id_prop, id_counter_type) values (identity_value, counter_type_id);
					id_prop := identity_value;
				end;
/

CREATE OR REPLACE procedure netmeter.CanReverseEventDeps (
   p_dt_now               date,
   p_id_instances         varchar2,
   lang_code              int,
   p_result         out   sys_refcursor
)
as
   exec_deps   int;
begin

   delete from tmp_deps;
   exec_deps := dbo.GetEventReversalDeps(p_dt_now, p_id_instances);                                                            /*  */

  open p_result for
      SELECT
        orig_evt.tx_name OriginalEventName,
        orig_evt.tx_display_name OriginalEventDisplayName,
        COALESCE(loc.tx_name, evt.tx_display_name) EventDisplayName,
        evt.tx_type EventType,
        evt.tx_reverse_mode ReverseMode,
        deps.OriginalInstanceID,
        deps.EventID,
        deps.EventName,
        deps.InstanceID,
        deps.ArgIntervalID,
        deps.ArgStartDate,
        deps.ArgEndDate,
        deps.Status,
        /* the corrective action that must occur */
        CASE deps.Status WHEN 'Succeeded' THEN 'Reverse'
                        WHEN 'Failed' THEN 'Reverse'
                        WHEN 'ReadyToRun' THEN 'Cancel'
                        WHEN 'Running' THEN 'TryAgainLater'
                        ELSE 'Unknown' END Action,
        nvl(deps.BillGroupName, 'Not Available') BillGroupName
      FROM
      (
        SELECT
          MIN(deps.id_orig_instance) OriginalInstanceID,
          deps.id_event EventID,
          deps.tx_name EventName,
          deps.id_instance InstanceID,
          deps.id_arg_interval ArgIntervalID,
          deps.dt_arg_start ArgStartDate,
          deps.dt_arg_end ArgEndDate,
          deps.tx_status Status,
          bg.tx_name BillGroupName
        FROM tmp_deps deps
        LEFT OUTER JOIN t_billgroup bg ON bg.id_billgroup = deps.id_billgroup
        WHERE
          /* excludes input instances */
          (deps.id_instance NOT IN (select column_value
                      from table(dbo.csvtoint(p_id_instances)))
               OR deps.id_instance IS NULL) AND
          /* only look at deps that need an action to be taken */
          deps.tx_status NOT IN ('NotYetRun', 'ReadyToReverse', 'Reversing')
        GROUP BY
          deps.id_instance,
          deps.id_event,
          deps.tx_name,
          deps.id_arg_interval,
          deps.dt_arg_start,
          deps.dt_arg_end,
          deps.tx_status,
          bg.tx_name
      ) deps
      INNER JOIN t_recevent evt ON evt.id_event = deps.EventID
      INNER JOIN t_recevent_inst orig_inst ON orig_inst.id_instance = deps.OriginalInstanceID
      INNER JOIN t_recevent orig_evt ON orig_evt.id_event = orig_inst.id_event
      LEFT OUTER JOIN t_localized_items loc on (id_local_type = 1  /*Adapter type*/ AND id_lang_code = lang_code AND evt.id_event=loc.id_item);

end CanReverseEventDeps;
/

CREATE OR REPLACE PROCEDURE netmeter.Addcountertype (
				id_lang_code INT,	n_kind INT,
				nm_name NVARCHAR2,
				nm_desc NVARCHAR2,
				nm_formula_template VARCHAR2,
				valid_for_dist CHAR,
				id_prop OUT INT)
				AS
				t_count INT;
				temp_nm_name VARCHAR2(255);
				temp_id_lang_code INT;
				identity_value INT;
				t_base_props_count INT;
				id_display_name INT;
				id_display_desc INT;
				BEGIN
					id_prop := -1;
					temp_nm_name := nm_name;
					temp_id_lang_code := id_lang_code;
					/* need to know if any records are there */
					SELECT COUNT(*) INTO t_base_props_count FROM T_BASE_PROPS
					WHERE T_BASE_PROPS.nm_name = temp_nm_name;
					SELECT COUNT(*) INTO t_count FROM t_vw_base_props
					WHERE t_vw_base_props.nm_name = temp_nm_name
					AND t_vw_base_props.id_lang_code = temp_id_lang_code;
					IF t_base_props_count != 0 THEN
 						id_prop := -1;
					END IF;
					IF t_count = 0
						THEN
						Insertbaseprops(id_lang_code, n_kind, 'N', 'N', nm_name, nm_desc, NULL, identity_value, id_display_name, id_display_desc);
						INSERT INTO T_COUNTER_METADATA (id_prop, FormulaTemplate, b_valid_for_dist)
						VALUES (identity_value, 				    nm_formula_template, valid_for_dist);
						id_prop := identity_value;
					END IF;
				END;
/

CREATE OR REPLACE PROCEDURE netmeter.CANREVERSEEVENTS(dt_now DATE, id_instances VARCHAR2, lang_code int, RES OUT SYS_REFCURSOR)
AS
BEGIN
  /*  */
  /* initially all instances are considered okay */
  /* a succession of queries attempt to find a reason */
  /* why an instance can not be reversed */

  /* builds up a table from the comma separated list of instance IDs */
  execute immediate 'truncate table t_CanExecuteEventsTempTbl';

  INSERT INTO t_CanExecuteEventsTempTbl
  SELECT
    args.column_value,
    COALESCE(loc.tx_name, evt.tx_display_name) tx_display_name,
    'OK'
  FROM table(cast(dbo.CSVToInt(CANREVERSEEVENTS.id_instances)as  tab_id_instance)) args
  INNER JOIN t_recevent_inst inst ON inst.id_instance = args.column_value
  INNER JOIN t_recevent evt ON evt.id_event = inst.id_event
  LEFT OUTER JOIN t_localized_items loc on (id_local_type = 1  /*Adapter type*/ AND id_lang_code = lang_code AND evt.id_event=loc.id_item);
  /* is the event not active */
  UPDATE t_CanExecuteEventsTempTbl results SET tx_reason = 'EventNotActive'
  where exists (
  SELECT 'X'
  FROM t_recevent_inst inst ,t_recevent evt
  WHERE
  inst.id_instance = results.id_instance and
  evt.id_event = inst.id_event and
    /* event is NOT active */
    evt.dt_activated > CANREVERSEEVENTS.dt_now AND
    (evt.dt_deactivated IS NOT NULL OR CANREVERSEEVENTS.dt_now >= evt.dt_deactivated)
    );
    
  /* is the event not reversible */
  FOR data in (select results.rowid as "rowid", evt.tx_reverse_mode as tx_reverse_mode FROM t_CanExecuteEventsTempTbl results
              INNER JOIN t_recevent_inst inst ON inst.id_instance = results.id_instance
              INNER JOIN t_recevent evt ON evt.id_event = inst.id_event
              WHERE
            /* event is NOT reversible */
            evt.tx_reverse_mode = 'NotImplemented'
            )
  loop
      UPDATE t_CanExecuteEventsTempTbl SET tx_reason = data.tx_reverse_mode
      where rowid = data."rowid";
  end loop;
  
  
  
  /* is the instance in an invalid state */
  for data in (select results.rowid as "rowid", inst.tx_status as tx_status FROM t_CanExecuteEventsTempTbl results
              INNER JOIN t_recevent_inst inst ON inst.id_instance = results.id_instance
              WHERE
              inst.tx_status NOT IN ('ReadyToReverse', 'Succeeded', 'Failed')
              )
  loop
  UPDATE t_CanExecuteEventsTempTbl SET tx_reason = data.tx_status
  where rowid = data."rowid";
  end loop;
  
  
  
  /* is the interval hard closed */
  UPDATE t_CanExecuteEventsTempTbl results SET tx_reason = 'HardClosed'
  WHERE EXISTS (
  SELECT 'X'
  FROM t_recevent_inst inst,t_usage_interval ui
  WHERE
  inst.id_instance = results.id_instance AND
  ui.id_interval = inst.id_arg_interval AND
    ui.tx_interval_status = 'H');

  OPEN RES FOR
  SELECT
    id_instance InstanceID,
    tx_display_name EventDisplayName,
    tx_reason Reason
  FROM t_CanExecuteEventsTempTbl;
  COMMIT;
END;
/

CREATE OR REPLACE PROCEDURE netmeter.CreateCounterPropDef(
			temp_id_lang_code int,
			n_kind int,
			nm_name nvarchar2,
			nm_display_name nvarchar2,
			temp_id_pi t_counterpropdef.id_pi%type,
			nm_servicedefprop t_counterpropdef.nm_servicedefprop%type,
			nm_preferredcountertype t_counterpropdef.nm_preferredcountertype%type,
			n_order t_counterpropdef.n_order%type,
			id_prop OUT int)
		AS
			identity_value 	t_counterpropdef.id_prop%type;
			id_locale int;
			id_display_name int;
			id_display_desc int;
		BEGIN
			InsertBaseProps(temp_id_lang_code, n_kind, 'N', 'N', nm_name, NULL, nm_display_name, identity_value, id_display_name, id_display_desc);

			INSERT INTO t_counterpropdef
				(id_prop, id_pi, nm_servicedefprop, n_order,
				nm_preferredcountertype)
			VALUES
				(identity_value, temp_id_pi, nm_servicedefprop, n_order, nm_preferredcountertype);
			id_prop := identity_value;
		END;
/

ALTER PROCEDURE netmeter.mt_sys_analyze_table COMPILE;

ALTER PROCEDURE netmeter.deletebillgroupdata COMPILE;

ALTER PROCEDURE netmeter.resetbillinggroupconstraints COMPILE;

ALTER PROCEDURE netmeter.cleanupmaterialization COMPILE;

CREATE OR REPLACE PROCEDURE netmeter.CompleteReMaterialization
(
  p_id_materialization INT,
  p_dt_end date,
  status out INT
)
AS

  cnt int;
  v_id_usage_interval INT;
  v_table_name varchar(30);
  v_sampling_ratio number;

BEGIN
 
  /* initialize @status to failure (-1) */
  status := -1;
  v_sampling_ratio := 20;

  /* Get the id_usage_interval for the given p_id_materialization */
  SELECT id_usage_interval  into v_id_usage_interval
  FROM t_billgroup_materialization bgm
  WHERE bgm.id_materialization = p_id_materialization;

  /* copy billing groups from t_billgroup_tmp to t_billgroup
    only if they don't exist in t_billgroup for the interval associated with
    this p_id_materialization
    */
  INSERT INTO t_billgroup (id_billgroup, tx_name, tx_description,
    id_usage_interval, id_parent_billgroup, tx_type, id_partition)
  SELECT bgt.id_billgroup, bgt.tx_name, bgt.tx_description,
    bgm.id_usage_interval, bgm.id_parent_billgroup, bgm.tx_type, bgt.id_partition
  FROM t_billgroup_tmp bgt
  INNER JOIN t_billgroup_materialization bgm
         ON bgm.id_materialization = bgt.id_materialization
  WHERE bgt.id_materialization = p_id_materialization
    AND bgt.tx_name NOT IN (
      SELECT tx_name
      FROM t_billgroup
      WHERE id_usage_interval = v_id_usage_interval);
      
  /* 
  copy data from t_billgroup_member_tmp (bgmt) to 
  t_billgroup_member(bgm) with the following conditions:
  
  if  (account in bgmt exists in bgm)
  {
     if (billing group for account in bgmt and billing group for account in bgm are not the same)
     {
        if (both billing groups are 'Open')
        {
           (1) 
           Move account to new billing group
           Record 'succeeded'
           (1a) 
           If the old billing group becomes empty (ie. loses all accounts)
           then delete the old billing group and update history associated with it.
        }
        else 
        {
           (2)
           Record 'failed'
        }
     }
  }
  else
  {
     if (account lands in a billing group that's 'Open'')
     {
        (3)
        Move account to bgm
        Record 'succeeded'
     }
     else 
     {
        (4)
        Record 'failed'
     }
  }
  */
 
   /* ESR-2814 analyze table */
   v_table_name := 't_billgroup_member_tmp';
   mt_sys_analyze_table ( v_table_name ,v_sampling_ratio);

  /* Doing (1) from the above algorithm
  In t_billgroup_member, the id_acc will be unique amongst the billgroups for
  a given interval
  */
  INSERT into tmp_billGroupMemberMoves
  SELECT bgmt.id_materialization id_materialization_new,
    bgmem.id_materialization id_materialization_old,
    bgmt.id_acc,
    bg1.id_billgroup id_billgroup_new,
    bg.id_billgroup id_billgroup_old,
    bg1.tx_name billgroup_name_new,
    bg.tx_name billgroup_name_old,
    bgsNew.status newStatus,
    bgsOld.status oldStatus
  FROM t_billgroup_member_tmp bgmt
  INNER JOIN t_billgroup_member bgmem
    ON bgmem.id_acc = bgmt.id_acc
  INNER JOIN t_billgroup bg
    ON bg.id_billgroup = bgmem.id_billgroup
    AND bg.tx_name != bgmt.tx_name
  INNER JOIN t_billgroup_tmp bgt
    ON bgt.tx_name = bgmt.tx_name
    AND bgt.id_materialization = bgmt.id_materialization
  INNER JOIN t_billgroup bg1
    ON bg1.tx_name = bgmt.tx_name
  LEFT OUTER JOIN vw_all_billing_groups_status bgsNew
    ON bgsNew.id_billgroup = bg1.id_billgroup
  LEFT OUTER JOIN vw_all_billing_groups_status bgsOld
    ON bgsOld.id_billgroup = bg.id_billgroup
  WHERE bgmt.id_materialization =  p_id_materialization
    AND bg.id_billgroup IN (
        SELECT id_billgroup
        FROM t_billgroup
        WHERE id_usage_interval = v_id_usage_interval)
    AND bg1.id_billgroup IN (
        SELECT id_billgroup
        FROM t_billgroup
        WHERE id_usage_interval = v_id_usage_interval);

  /* Update history for account */
  UPDATE t_billgroup_member_history bgmh
  SET tt_end = p_dt_end
  where exists (
    select 1
    FROM tmp_billGroupMemberMoves bgmt
    where bgmt.id_acc = bgmh.id_acc
    AND bgmt.id_billgroup_old = bgmh.id_billgroup
    AND bgmt.id_materialization_old = bgmh.id_materialization
    and bgmt.oldStatus = 'O'
    AND (bgmt.newStatus = 'O' OR bgmt.newStatus IS NULL)
    );

  /* Delete account(s) from t_billgroup_member */
  DELETE FROM t_billgroup_member bgm
  where exists (
    select 1
    from tmp_billGroupMemberMoves bgmt
    where bgmt.id_billgroup_old = bgm.id_billgroup
      AND bgmt.id_acc = bgm.id_acc
      and bgmt.oldStatus = 'O'
      AND (bgmt.newStatus = 'O' OR bgmt.newStatus IS NULL)
    );

  /* Insert updated account(s) into t_billgroup_member */
  INSERT INTO t_billgroup_member (id_billgroup, id_acc, id_materialization,
    id_root_billgroup)
  SELECT bgmt.id_billgroup_new, bgmt.id_acc, bgmt.id_materialization_new,
    dbo.GetBillingGroupAncestor(bgmt.id_billgroup_new)
  FROM tmp_billGroupMemberMoves bgmt
  WHERE bgmt.oldStatus = 'O'
    AND (bgmt.newStatus = 'O' OR bgmt.newStatus IS NULL);

  /* Insert new history for account */
  INSERT INTO t_billgroup_member_history (id_billgroup,
    id_acc,
    id_materialization,
    tx_status,
    tt_start,
    tt_end)
  SELECT bgmt.id_billgroup_new,
    bgmt.id_acc,
    bgmt.id_materialization_new,
    'Succeeded',
    p_dt_end,
    dbo.MTMaxDate()
  FROM tmp_billGroupMemberMoves bgmt
  WHERE bgmt.oldStatus = 'O'
    AND (bgmt.newStatus = 'O' OR bgmt.newStatus IS NULL);

  /*
    Doing (1a) from the above algorithm
  */

  /* Delete old billgroup if it doesn't have any accounts */
  INSERT INTO tmp_deleted_billgroups
  SELECT id_billgroup
  FROM t_billgroup bg
  INNER JOIN tmp_billGroupMemberMoves bgmoves
    ON bgmoves.id_billgroup_old = bg.id_billgroup
    AND bgmoves.id_billgroup_old NOT IN (
      SELECT id_billgroup
      FROM t_billgroup_member)
  WHERE bgmoves.oldStatus = 'O'
    AND (bgmoves.newStatus = 'O' OR bgmoves.newStatus IS NULL);
  
  DeleteBillGroupData('tmp_deleted_billgroups');

  /* Doing (2) from the above algorithm. 
  Insert rows into t_billgroup_member_history for account moves into and out of 'Soft Closed' or
  'Hard Closed' billing groups. These are not 'history' rows because
  no change is happening to the account. The tt_start and tt_end times on these rows
  don't matter. They are filtered based on tx_status = 'Failed'
  */

  INSERT INTO t_billgroup_member_history (id_billgroup,
    id_acc,
    id_materialization,
    tx_status,
    tt_start,
    tt_end,
    tx_failure_reason)
  SELECT NULL,
    bgmt.id_acc,
    bgmt.id_materialization_new,
    'Failed',
    p_dt_end,
    p_dt_end,
    'Attempting to move this account from billing group ['
      || bgmt.billgroup_name_old
      || ']  to billing group ['
      || bgmt.billgroup_name_new
      || '] when one (or both) billing group is not in an Open state.'
      as reason
  FROM tmp_billGroupMemberMoves bgmt
  WHERE bgmt.oldStatus != 'O'
    OR (bgmt.newStatus != 'O' AND bgmt.newStatus IS NOT NULL);

  /* Clear billGroupMemberMoves */
  DELETE  tmp_billGroupMemberMoves;

  /* Doing (3) from the above algorithm */
  INSERT into tmp_billUnassignedAccountMoves
  SELECT bgmt.id_materialization,
    bgmt.id_acc,
    bg.id_billgroup,
    bg.tx_name,
    bgs.status
  FROM t_billgroup_member_tmp bgmt
  INNER JOIN t_billgroup_tmp bgt
    ON bgt.tx_name = bgmt.tx_name
    AND bgt.id_materialization = bgmt.id_materialization
  INNER JOIN t_billgroup bg
    ON bg.tx_name = bgt.tx_name
  LEFT OUTER JOIN vw_all_billing_groups_status bgs
    ON bgs.id_billgroup = bg.id_billgroup
  WHERE bgmt.id_acc NOT IN (
    SELECT id_acc
    FROM t_billgroup_member
    WHERE id_billgroup IN (
      SELECT id_billgroup
      FROM t_billgroup
      WHERE id_usage_interval = v_id_usage_interval
      )
    )
    AND bgmt.id_materialization = p_id_materialization
    AND bg.id_billgroup IN (
      SELECT id_billgroup
      FROM t_billgroup
      WHERE id_usage_interval = v_id_usage_interval
      );
  
  /* Insert updated account(s) into t_billgroup_member */
  INSERT INTO t_billgroup_member (id_billgroup, id_acc, id_materialization,
    id_root_billgroup)
  SELECT buam.id_billgroup, buam.id_acc, buam.id_materialization,
    dbo.GetBillingGroupAncestor(buam.id_billgroup)
  FROM tmp_billUnassignedAccountMoves buam
  WHERE buam.status = 'O' OR buam.status IS NULL;
  
  /* Insert new history for account */
  INSERT INTO t_billgroup_member_history (id_billgroup,
    id_acc,
    id_materialization,
    tx_status,
    tt_start,
    tt_end)
  SELECT buam.id_billgroup,
    buam.id_acc,
    buam.id_materialization,
    'Succeeded',
    p_dt_end,
    dbo.MTMaxDate()
  FROM tmp_billUnassignedAccountMoves buam
  WHERE buam.status = 'O' OR buam.status IS NULL;
  
  /* Doing (4) from the above algorithm.
  Insert rows into t_billgroup_member_history. These are not 'history' rows because
  no change is happening to the account. The tt_start and tt_end times on these rows
  don't matter. They are filtered based on tx_status = 'Failed'
  */
  INSERT INTO t_billgroup_member_history (id_billgroup,
    id_acc,
    id_materialization,
    tx_status,
    tt_start,
    tt_end,
    tx_failure_reason)
  SELECT NULL,
    buam.id_acc,
    buam.id_materialization,
    'Failed',
    p_dt_end,
    p_dt_end,
    'Attempting to assign this account to the billing group ['
    || buam.billgroup_name
    || ']  when the  billing group is not in an Open state.'
      as reason
  FROM tmp_billUnassignedAccountMoves buam
  WHERE status != 'O' AND status IS NOT NULL;

  /* Check that each billing group in t_billgroup has atleast one account  */
  SELECT count(bg.id_billgroup) into cnt
  FROM t_billgroup bg
  WHERE bg.id_billgroup NOT IN (
    SELECT id_billgroup
    FROM t_billgroup_member bgm);
    
  IF cnt > 0 then
    status := -2;
    ROLLBACK;
    RETURN;
  END if;

  /* Clear @billUnassignedAccountMoves */
  DELETE  tmp_billUnassignedAccountMoves;

  /* Copy over billing group constraints */
  ResetBillingGroupConstraints(v_id_usage_interval, status);
  
  IF (status != 0) then
    status := -3;
    RollbacK;
    RETURN;
  END if;

  /* Reset status */
  status := -1;

  /* Delete temporary data and update t_billgroup_materialization */
  CleanupMaterialization(p_id_materialization,
    p_dt_end,
    'Succeeded',
    NULL,
    status);
  
  IF (status != 0) then
    status := -4;
    ROLLBACk;
    RETURN;
  END if;
  
  /* set status to success */
  status := 0;
  
  COMMIt;

END CompleteReMaterialization;
/

CREATE OR REPLACE PROCEDURE netmeter.CompleteMaterialization
(
  p_id_materialization INT,
  p_dt_end date,
  status out INT
)
AS

  v_id_usage_interval int;
  cnt int;
  p_maxdate date;
  v_table_name varchar(30);
  v_sampling_ratio int;
BEGIN
   /* initialize @status to failure (-1) */
   status := -1;
   v_sampling_ratio := 20;
  
   /* ESR-2814 analyze table */
   v_table_name := 't_billgroup_tmp';
   mt_sys_analyze_table ( v_table_name ,v_sampling_ratio);

   /* ESR-2814 analyze table */
   v_table_name := 't_billgroup_member_tmp';
   mt_sys_analyze_table ( v_table_name ,v_sampling_ratio);

   /* copy data from t_billgroup_tmp to t_billgroup */
   INSERT INTO t_billgroup (id_billgroup, tx_name, tx_description, id_usage_interval, id_parent_billgroup, tx_type, id_partition)
   SELECT bgt.id_billgroup, bgt.tx_name, bgt.tx_description, bgm.id_usage_interval, bgm.id_parent_billgroup, bgm.tx_type, bgt.id_partition
   FROM t_billgroup_tmp bgt
   INNER JOIN t_billgroup_materialization bgm
    ON bgm.id_materialization = bgt.id_materialization
   WHERE bgm.id_materialization = p_id_materialization;

  /* copy data from t_billgroup_member_tmp to t_billgroup_member */
  INSERT INTO t_billgroup_member (id_billgroup, id_acc, id_materialization, id_root_billgroup)
  SELECT bgt.id_billgroup,
        bgmt.id_acc,
        p_id_materialization,
        dbo.GetBillingGroupAncestor(bgt.id_billgroup)
  FROM t_billgroup_member_tmp bgmt
  INNER JOIN t_billgroup_tmp bgt
     ON bgt.tx_name = bgmt.tx_name
  WHERE bgmt.id_materialization =  p_id_materialization
    AND bgt.id_materialization = p_id_materialization;
   
	select dbo.MTMaxDate() into p_maxdate from dual;
/* update t_billgroup_member_history */
  INSERT INTO t_billgroup_member_history (id_billgroup,
      id_acc,
      id_materialization,
      tx_status,
      tt_start,
      tt_end)
  SELECT bgt.id_billgroup,
              bgmt.id_acc,
              p_id_materialization,
              'Succeeded',
              p_dt_end,
              p_maxdate
  FROM t_billgroup_member_tmp bgmt
  INNER JOIN t_billgroup_tmp bgt
     ON bgt.tx_name = bgmt.tx_name
  WHERE bgmt.id_materialization =  p_id_materialization
    AND bgt.id_materialization = p_id_materialization;

  /* store the id_usage_interval */
  SELECT max(bgm.id_usage_interval) into v_id_usage_interval
  FROM t_billgroup_materialization bgm
  WHERE bgm.id_materialization = p_id_materialization;
  
  /* Copy over billing group constraints */
  ResetBillingGroupConstraints(v_id_usage_interval, status);

  IF (status != 0) then
    status := -2;
    ROLLBACK;
    RETURN;
  END if;
  
   /* Reset status */
  status := -1;

  SELECT count(bg.id_billgroup) into cnt
  FROM t_billgroup bg
  WHERE bg.id_billgroup NOT IN (
    SELECT id_billgroup FROM t_billgroup_member bgm)
  and id_usage_interval = v_id_usage_interval;

   /* Check that each billing group in t_billgroup has atleast one account  */
  if cnt > 0 then
    status := -3;
    ROLLBACK;
    RETURN;
   END if;

   /* Delete temporary data and update t_billgroup_materialization */
   CleanupMaterialization(
        p_id_materialization,
        p_dt_end,
        'Succeeded',
        NULL,
        status);

  IF (status != 0)  then
    status := -4;
    ROLLBACK;
    RETURN;
   END if;

   /* set @status to success */
   status := 0;

   COMMIT;

end CompleteMaterialization;
/

CREATE OR REPLACE procedure netmeter.AddCounterParam
				(
				 p_id_lang_code int,
				 p_id_counter int,
				 id_counter_param_type int,
				 nm_counter_value nvarchar2,
				 nm_name nvarchar2,
				 nm_desc nvarchar2,
				 nm_display_name nvarchar2,
				 identity OUT int)
				AS
				identity_value int;
				id_display_name int;
				id_display_desc int;
				BEGIN
	        InsertBaseProps (p_id_lang_code, 190, 'N', 'N', nm_name, nm_desc, nm_display_name, identity_value, id_display_name, id_display_desc);
					INSERT INTO t_counter_params
			    (id_counter_param,id_counter, id_counter_param_meta, Value)
			    VALUES
				  (identity_value,p_id_counter, id_counter_param_type, nm_counter_value);
			    identity :=identity_value;
  			end;
/

ALTER TYPE netmeter.activebillrunwidgettbltype COMPILE;

CREATE OR REPLACE package body netmeter.active_bill_run_pkg as
FUNCTION GetActvCurAverage(v_id_interval int)
  return ActiveBillRunWidgetTable PIPELINED IS
  p_returnTable ActiveBillRunWidgetTblType := ActiveBillRunWidgetTblType(null, null, null, null);
  
  p_result sys_refcursor;
  l_tbl_count NUMBER;  
  l_interval_id int;
  
  v_sql VARCHAR2(4000);
  
  v_1 int;
  v_2 nvarchar2(200);
  v_3 int;
  v_4 int;
   pragma autonomous_transaction;
BEGIN
  l_interval_id :=v_id_interval; 
  SELECT COUNT(1)
  INTO l_tbl_count
  FROM user_tables
  WHERE  table_name  = UPPER('NM_DASHBOARD__INTERVAL_DATA');
  
  /*pragma autonomous_transaction;*/
  begin
	  IF (l_tbl_count > 0) THEN
		EXECUTE IMMEDIATE 'DROP TABLE NM_Dashboard__Interval_Data';
	   /* EXECUTE IMMEDIATE 'commit';*/
	   /*commit;*/
	  END IF;
	  
	  EXECUTE IMMEDIATE 'CREATE TABLE NM_Dashboard__Interval_Data AS ' ||
						'    SELECT 
							  rei.id_arg_interval, 
							  re.tx_display_name, 
							  rer.dt_start dt_start, 
							  floor((rer.dt_end - rer.dt_start) * 24 * 60 * 60) duration, 
							  0 as three_month_avg
							  FROM t_recevent_inst rei
							  join t_recevent re on re.id_event = rei.id_event
							  left join t_recevent_run rer on rer.id_instance = rei.id_instance
							  --right join t_recevent_inst_audit rea on rea.id_instance = rei.id_instance
							Where id_arg_interval in (select ' || l_interval_id || ' id_interval from dual 
														union
													  select ui.id_interval id_interval
													  from t_usage_interval ui
													  where ui.tx_interval_status = ''H''
													  and ui.dt_end > add_months(getutcdate(), -3) 
													  and ui.id_usage_cycle = (select id_usage_cycle from t_usage_interval where id_interval = ' || l_interval_id || '))
							and rer.tx_type = ''Execute''
							and (rer.tx_detail not like ''Manually changed status%'' or rer.tx_detail is null)
							group by rei.id_arg_interval, tx_display_name, rer.dt_start, rer.dt_end
							order by   rer.dt_start';
  end;
                  
 EXECUTE IMMEDIATE 'MERGE into NM_Dashboard__Interval_Data ca
  USING
  (
    SELECT tx_display_name, avg(duration) field2Sum
    FROM NM_Dashboard__Interval_Data sft
    WHERE id_arg_interval <> ' || l_interval_id ||'
    GROUP BY tx_display_name
  ) sft ON (ca.tx_display_name = sft.tx_display_name)
  WHEN MATCHED THEN UPDATE 
  SET ca.three_month_avg = field2Sum'; 
  
  v_sql := ' SELECT ROW_NUMBER() OVER (ORDER BY (SELECT 1 FROM dual)) RowNumber, tx_display_name Adapter, duration Duration, three_month_avg Average
    FROM NM_Dashboard__Interval_Data
    WHERE id_arg_interval = :1'; 
     
    OPEN p_result FOR v_sql USING l_interval_id;
    commit;  
    LOOP
      FETCH p_result INTO v_1, v_2, v_3, v_4;
      EXIT WHEN p_result%NOTFOUND;
      p_returnTable.RowNumber := v_1;
      p_returnTable.Adapter := v_2;
      p_returnTable.Duration := v_3;
      p_returnTable.Average := v_4;
      PIPE ROW (p_returnTable);
    END LOOP      
    return;     
END GetActvCurAverage;
end active_bill_run_pkg;

/

CREATE OR REPLACE FORCE VIEW netmeter.vw_bus_partition_accounts (id_acc,id_partition,partition_name,partition_nm_space) AS
SELECT      aa.id_descendent id_acc,
              a.id_acc id_partition,
              am.nm_login partition_name,
              am.nm_space partition_namespace
  FROM        t_account a
        INNER JOIN t_account_type at ON a.id_type = at.id_type
        INNER JOIN t_account_ancestor aa ON a.id_acc = aa.id_ancestor and aa.vt_end >= TO_DATE('2038-01-01', 'YYYY-MM-DD')
        INNER JOIN t_account_mapper am on am.id_acc = a.id_acc
  WHERE       at.name = 'Partition';

ALTER PROCEDURE netmeter.startuserdefinedgroupcreation COMPILE;

ALTER PROCEDURE netmeter.startchildgroupcreation COMPILE;

ALTER PROCEDURE netmeter.completechildgroupcreation COMPILE;

ALTER PROCEDURE netmeter.satisfyconstraintsforpulllist COMPILE;

ALTER PROCEDURE netmeter.validatebillgroupassignments COMPILE;

ALTER PROCEDURE netmeter.updatechangedetails COMPILE;

ALTER PROCEDURE netmeter.updateapproval COMPILE;

ALTER PROCEDURE netmeter.isapprovalpending COMPILE;

ALTER PROCEDURE netmeter.dismissapproval COMPILE;

ALTER PROCEDURE netmeter.denyapproval COMPILE;

ALTER PROCEDURE netmeter.approvalupdatechangestate COMPILE;

ALTER PROCEDURE netmeter.copyadapterinstances COMPILE;

ALTER PROCEDURE netmeter.updatebillinggroupstatus COMPILE;

ALTER PROCEDURE netmeter.hardclosebillinggroup COMPILE;

ALTER PROCEDURE netmeter.mtsp_generate_stateful_rcs COMPILE;

ALTER PROCEDURE netmeter.softclosebillinggroups COMPILE;

ALTER PROCEDURE netmeter.openbillinggroup COMPILE;

ALTER PROCEDURE netmeter.mtsp_insertinvoice_balances COMPILE;

ALTER PROCEDURE netmeter.mtsp_insertinvoice COMPILE;

ALTER PROCEDURE netmeter.mtsp_backoutinvoices COMPILE;

ALTER PROCEDURE netmeter.moveaccount2 COMPILE;

ALTER PROCEDURE netmeter.applytemplatetooneaccount COMPILE;

