<?xml version="1.0" encoding="UTF-8"?>

<configuration id="DesktopConfig" type='collection'>

  <description>
    [APP_VIRTUAL_DIR] bracket tag will be replaced at run-time by the
    name of the web site : /MetraView
  </description>

  <item id="HelpLocation">
    <value>http://tiber.metratech.com/Tech%20Doc/Author-it/Published/HTML/MetraNet%20Documentation%20-%20Complete%20Set/index.htm</value>
    <description>Location of online help</description>
  </item>
  
  <item id="LoginPage">
    <value>[APP_VIRTUAL_DIR]/Login.aspx</value>
    <description>Login page</description>
  </item>

  <item id="ChangePasswordPage">
    <value>[APP_VIRTUAL_DIR]/ChangePassword.aspx</value>
    <description>Change Password page</description>
  </item>
  
  <item id="DefaultPage">
    <value>[APP_VIRTUAL_DIR]/Default.aspx</value>
    <description>Default page</description>
  </item>

  <item id="DashboardPage">
    <value>[APP_VIRTUAL_DIR]/Default.aspx</value>
    <description>Default return page</description>
  </item>
  
</configuration>


