<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IElectronicPaymentServices" closeTimeout="00:01:00"
            openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
            transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions"
            hostNameComparisonMode="StrongWildcard" listenBacklog="10"
            maxBufferPoolSize="524288" maxBufferSize="65536" maxConnections="10"
            maxReceivedMessageSize="65536">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
              enabled="false" />
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None" protectionLevel="EncryptAndSign" />
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IElectronicPaymentServices1" closeTimeout="00:01:00"
            openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
            transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions"
            hostNameComparisonMode="StrongWildcard" listenBacklog="10"
            maxBufferPoolSize="524288" maxBufferSize="65536" maxConnections="10"
            maxReceivedMessageSize="65536">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
              enabled="false" />
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None" protectionLevel="EncryptAndSign" />
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IAccountService" closeTimeout="00:01:00"
            openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
            transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions"
            hostNameComparisonMode="StrongWildcard" listenBacklog="10"
            maxBufferPoolSize="524288" maxBufferSize="65536" maxConnections="10"
            maxReceivedMessageSize="65536">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
              enabled="false" />
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None" protectionLevel="EncryptAndSign" />
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IAccountTemplateService" closeTimeout="00:01:00"
            openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
            transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions"
            hostNameComparisonMode="StrongWildcard" listenBacklog="10"
            maxBufferPoolSize="524288" maxBufferSize="65536" maxConnections="10"
            maxReceivedMessageSize="65536">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
              enabled="false" />
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None" protectionLevel="EncryptAndSign" />
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IPriceListService" closeTimeout="00:01:00"
            openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
            transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions"
            hostNameComparisonMode="StrongWildcard" listenBacklog="10"
            maxBufferPoolSize="524288" maxBufferSize="65536" maxConnections="10"
            maxReceivedMessageSize="65536">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
              enabled="false" />
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None" protectionLevel="EncryptAndSign" />
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </netTcpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IElectronicPaymentServices" closeTimeout="00:01:00"
            openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
            bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
            maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
            messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
            allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
              enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Basic" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" negotiateServiceCredential="true"
                establishSecurityContext="true" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IElectronicPaymentServices1" closeTimeout="00:01:00"
            openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
            bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
            maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
            messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
            allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
              enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Basic" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" negotiateServiceCredential="true"
                establishSecurityContext="true" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IAccountService" closeTimeout="00:01:00"
            openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
            bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
            maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
            messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
            allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
              enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Basic" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" negotiateServiceCredential="true"
                establishSecurityContext="true" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IAccountTemplateService" closeTimeout="00:01:00"
            openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
            bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
            maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
            messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
            allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
              enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Basic" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" negotiateServiceCredential="true"
                establishSecurityContext="true" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IPriceListService" closeTimeout="00:01:00"
            openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
            bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
            maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
            messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
            allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
              enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Basic" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" negotiateServiceCredential="true"
                establishSecurityContext="true" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="NET.TCP://VM-DEV6-FDS:6666/ELECTRONICPAYMENTSERVICES/RECURRINGPAYMENTSSERVICE"
          binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IElectronicPaymentServices"
          contract="IRecurringPaymentsService" name="NetTcpBinding_IElectronicPaymentServices">
        <identity>
          <dns value="ActivityServicesCert" />
        </identity>
      </endpoint>
      <endpoint address="HTTP://VM-DEV6-FDS:8001/ELECTRONICPAYMENTSERVICES/RECURRINGPAYMENTSSERVICE"
          binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IElectronicPaymentServices"
          contract="IRecurringPaymentsService" name="WSHttpBinding_IElectronicPaymentServices">
        <identity>
          <dns value="ActivityServicesCert" />
        </identity>
      </endpoint>
      <endpoint address="NET.TCP://VM-DEV6-FDS:6666/ELECTRONICPAYMENTSERVICES/ONETIMEPAYMENTSERVICE"
          binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IElectronicPaymentServices1"
          contract="IOneTimePaymentService" name="NetTcpBinding_IElectronicPaymentServices1">
        <identity>
          <dns value="ActivityServicesCert" />
        </identity>
      </endpoint>
      <endpoint address="HTTP://VM-DEV6-FDS:8001/ELECTRONICPAYMENTSERVICES/ONETIMEPAYMENTSERVICE"
          binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IElectronicPaymentServices1"
          contract="IOneTimePaymentService" name="WSHttpBinding_IElectronicPaymentServices1">
        <identity>
          <dns value="ActivityServicesCert" />
        </identity>
      </endpoint>
      <endpoint address="NET.TCP://VM-DEV6-FDS:6666/ACCOUNTSERVICE"
          binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IAccountService"
          contract="IAccountService" name="NetTcpBinding_IAccountService">
        <identity>
          <dns value="ActivityServicesCert" />
        </identity>
      </endpoint>
      <endpoint address="HTTP://VM-DEV6-FDS:8001/ACCOUNTSERVICE" binding="wsHttpBinding"
          bindingConfiguration="WSHttpBinding_IAccountService" contract="IAccountService"
          name="WSHttpBinding_IAccountService">
        <identity>
          <dns value="ActivityServicesCert" />
        </identity>
      </endpoint>
      <endpoint address="NET.TCP://VM-DEV6-FDS:6666/ACCOUNTTEMPLATESERVICE"
          binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IAccountTemplateService"
          contract="IAccountTemplateService" name="NetTcpBinding_IAccountTemplateService">
        <identity>
          <dns value="ActivityServicesCert" />
        </identity>
      </endpoint>
      <endpoint address="HTTP://VM-DEV6-FDS:8001/ACCOUNTTEMPLATESERVICE"
          binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IAccountTemplateService"
          contract="IAccountTemplateService" name="WSHttpBinding_IAccountTemplateService">
        <identity>
          <dns value="ActivityServicesCert" />
        </identity>
      </endpoint>
      <endpoint address="NET.TCP://VM-DEV6-FDS:6666/PRICELISTSERVICE"
          binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IPriceListService"
          contract="IPriceListService" name="NetTcpBinding_IPriceListService">
        <identity>
          <dns value="ActivityServicesCert" />
        </identity>
      </endpoint>
      <endpoint address="HTTP://VM-DEV6-FDS:8001/PRICELISTSERVICE"
          binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IPriceListService"
          contract="IPriceListService" name="WSHttpBinding_IPriceListService">
        <identity>
          <dns value="ActivityServicesCert" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>