<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
  <!-- APPLICATION DEFAULT SETTINGS, OVERRIDE THESE USING THE BME INTERFACES       -->
  <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
  <appSettings>
    <!--
    Default directories
    -->
    <add key="ConfigurationDirectory"  value="C:\\fls\\config" />
    <add key="IncomingDirectory"  value="C:\\fls\\incoming" />
    <add key="ActiveDirectory"  value="C:\\fls\\active" />
    <add key="FailedDirectory"  value="C:\\fls\\failed" />
    <add key="CompletedDirectory"  value="C:\\fls\\completed" />

    <add key="MaximumActiveTargets" value="200" />
    <!-- 
    Current setting is allow runtime of 10 minutes, 
    but depending on what is being configured as the target the
    user may want to configure the timeout and max active targets 
    parameters to tune FLS for those scenarios
     -->
    <add key="TargetExecutionTimeout" value="600000" />
    <!-- 
    Interval at which the targets configuration is refreshed
    NOT YET SUPPORTED
    -->
    <add key="ConfRefreshIntervalInMS" value="2000" />
    <!-- 
    For memory consumption purposes, this setting limits the number of possible
    files which will be loaded before we stop queuing incoming files
    -->
    <add key="MaximumFilesInQueue" value="1000" />
    <!-- 
    The minimum number of threads waiting to process execution requests
    -->
    <add key="MinimumThreadsReadyToRunExecutables" value="2" />
    <!-- 
    The Maximume number of allowable executibles to run concurrently
    -->
    <add key="MaximumExecutablesRunningConcurrently" value="4" />
      <!-- 
    Hold age of file in Milliseconds (time before file pickup from last modification, creation or access date)
    -->
      <add key="HoldAgeInMilliseconds" value="1000" />
      <!-- 
        Directory Scan Time in MS
        -->
      <add key="DirectoryScanTimeInMilliseconds" value="1000" />


      <!-- DEPRECATED -->
    <add key="UseDescriptorFile" value="false" />
    <add key="UseMD5" value="false" />
    <add key="UseSHA1" value="false" />
    <add key="UseToken" value="false" />
  </appSettings>
  <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  
</configuration>