BusinessEntity/Interface/
BusinessEntity/TestBME/Entity/AllDataTypeBME.Generated.cs
BusinessEntity/TestBME/Entity/AllDataTypeBMEHistory.Generated.cs
BusinessEntity/TestBME/Entity/MetraTech.SmokeTest.TestBME.Entity.csproj
BusinessEntity/TestBME/Entity/Temp/
BusinessEntity/TestBME/Entity/TestBMEPerfomance.Generated.cs
BusinessEntity/Third/Entity/A.Generated.cs
BusinessEntity/Third/Entity/B.Generated.cs
BusinessEntity/Third/Entity/C.Generated.cs
BusinessEntity/Third/Entity/D.Generated.cs
BusinessEntity/Third/Entity/E.Generated.cs
BusinessEntity/Third/Entity/MetraTech.SmokeTest.Third.Entity.csproj
BusinessEntity/Third/Entity/Temp/
