.clsInfo
{
  margin: 0px;
  background-color:#efefef;
  width: 375px;
  border:solid #848284 1px;
  padding: 5px;
  display: inline;
  background-image: url('../images/infosmall.gif');
  background-repeat: no-repeat;
  background-position: 3px 3px;
}

.clsError
{
  margin: 0px;
  background-color:#efefef;
  width: 375px;
  border:solid #848284 1px;
  padding: 5px;
  display: inline;
  background-image: url('../images/errorsmall.gif');
  background-repeat: no-repeat;
  background-position: 3px 3px;
}

.clsNote{
	font-size: 11px; 
	font-family:tahoma, arial, helvetica, sans-serif;
	BACKGROUND-COLOR: whitesmoke;
  color:black;
  BORDER-BOTTOM: black solid 1px;
	BORDER-LEFT: gray solid 1px;
	BORDER-RIGHT: black solid 1px;
	BORDER-TOP: gray solid 1px;
}

.clsLoginMessage{
	font-size: 11px;
	font-family:tahoma, arial, helvetica, sans-serif;
	background-color:black;
    color:white; 
	margin: 5;
}

.CaptionBar{
	/*padding: 3px 3px 3px 17px;
	font-size: 18px;
	font-family:tahoma, arial, helvetica, sans-serif;
	font-weight: bold;
	text-align: left;
	color: #FFFFFF;
	background-color: #CFDBE5;
 	background-image : url(../images/blend3.gif); 
  background-repeat : no-repeat;
	position: relative;
	left : 0px;
	top : 0px;*/
	
	background-color: #fff;
color: #000;
font-family:tahoma, arial, helvetica, sans-serif;
font-size: 15px;
font-style: normal;
font-variant: normal;
font-weight: bold;
line-height: 15px;
padding: 5px 3px 4px 15px;
}

.loginTopBevel{
	background-color: #00337c;
	background-image : url(../images/Header/loginbeveltop.gif);
	background-repeat : repeat-x;
}

.loginLeftBevel{
	background-color: #00337c;
	background-image : url(../images/Header/loginbevelleft.gif);
	background-repeat : repeat-y;
}

.loginCaption
	{
	color: white;
	font-size: 11px;
	font-family:tahoma, arial, helvetica, sans-serif;
	text-align: right;
	font-weight: bold;
	vertical-align: baseline;
	}

.loginBar{
	padding: 2px 15px 15px 15px;
	font-size: 16px;
	font-family:tahoma, arial, helvetica, sans-serif;
	font-weight: bolder;
	text-align: left;
	color: #FFFFFF;
	background-color: #00337c;
	background-image : url(../images/Header/loginbarbkgd.gif);
	background-repeat : repeat-x;
	position: relative;
}

.clsNote{
	padding: 5px 8px 5px 8px;
	font-size: 12px;
	font-family:tahoma, arial, helvetica, sans-serif;
	font-weight: bold;
	text-align: left;
	color: #20336A;
	background-color: #ffffcc;
}

.sectionCaptionBar{
  color:#15428B;
  font-family:tahoma, arial, helvetica, sans-serif;
  font-size:12px;
  font-weight:bold;
  padding:5px 8px;
  text-align:left;
}

.clsWelcomeTitle{
	padding: 5px 8px 5px 8px;
	font-size: 16px;
	font-family:tahoma, arial, helvetica, sans-serif;
	font-weight: bold;
	text-align: left;
	color: #FFFFFF;
	background-color: #0065CE;
}

.clsBulletList{
	COLOR: black;
	font-family:tahoma, arial, helvetica, sans-serif;
	FONT-SIZE: 14pt;
	TEXT-ALIGN: left;
	FONT-WEIGHT: normal;
}

.clsStandardText{
	font-size: 11px;
	font-family:tahoma, arial, helvetica, sans-serif;
	margin: 0;
}

.clsLargeText{
	font-size: 12px;
	font-family:tahoma, arial, helvetica, sans-serif;
	margin: 0;
}

.clsMainTitle{
	/*font-size: 12px;
	font-family:tahoma, arial, helvetica, sans-serif;*/
	
	margin: 0;
}

.clsStandardTitle{
  color:#15428B;
  font-family:tahoma, arial, helvetica, sans-serif;
   font-size:12px;
  font-weight:bold;
  padding:5px 8px;
  text-align:left;
}

.clsInputBox{
	font-size: 11px; 
	font-family:tahoma, arial, helvetica, sans-serif;
	border-style: solid;
	border-width: 1px;	
}

.CaptionBarHelp{
	padding: 5px 8px 5px 8px;
	font-size: 20px;
	font-family:tahoma, arial, helvetica, sans-serif;
	font-weight: bold;
	text-align: left;
	color: #FFFFFF;
	background-color: #0065CE;
}

.TableCellAlt
{
  color:Black;
	font-size: 11px; 
	font-family:tahoma, arial, helvetica, sans-serif;
	background-color: #EEEEEE;
	padding: 2px 2px 2px 2px;
}
.TableCell
{
  color:Black;
	font-size: 11px; 
	font-family:tahoma, arial, helvetica, sans-serif;
	background-color: white;
	padding: 2px 2px 2px 2px;
}
.TableCellSelected{
	font-size: 11px; 
	font-family:tahoma, arial, helvetica, sans-serif;
	background-color: red;
	padding: 2px 2px 2px 2px;
  color: black;
}
.TableCellHighlighted {
	font-size: 11px;
	font-family:tahoma, arial, helvetica, sans-serif;
	background-color: Yellow;
	padding: 2px 2px 2px 2px;
	color: Black;
}
.TableCellAltBold
{
   color :Black;
	font-size: 11px; 
	font-family:tahoma, arial, helvetica, sans-serif;
	background-color: #EEEEEE;
	padding: 2px 2px 2px 2px;
	font-weight: bold;  
}
.TableCellBold
{
  color:Black;
	font-size: 11px; 
	font-family:tahoma, arial, helvetica, sans-serif;
	background-color: #f9f9f9;
	padding: 2px 2px 2px 2px;
	font-weight: bold;  
}
.TableHeader{
	/*font-size: 11px; 
	font-family:tahoma, arial, helvetica, sans-serif;
	text-align: center;
	color: black; 
	background-color: #CCDEF6; 
	padding: 2px 2px 2px 2px;	
	border:solid 1px #98C0F4;*/
	
	text-align: center;
	/*color: black; 
	background-color: #CCDEF6; */
	background-color: #f9f9f9;
    background-image: url(/Res/Ext/resources/images/metranet/grid/grid3-hrow2.gif);    
    FONT:normal 11px/15px arial, tahoma, helvetica, sans-serif;
    border-color: #d0d0d0;
    border-right: 1px solid #eee;
    border-left:1px solid #d0d0d0;
    padding: 4px 3px 4px 5px;
}
.SelectedBorder{
	BORDER-BOTTOM: black solid 1px;
	BORDER-LEFT: black solid 1px;
	BORDER-RIGHT: black solid 1px;
	BORDER-TOP: black solid 1px;	
}
a.TableHeaderA:hover{
	COLOR : black;
	text-decoration: none;
	padding: 2px 2px 2px 2px;
	font-family:tahoma, arial, helvetica, sans-serif;  
}

a.TableHeaderA{
	COLOR : black;
	text-decoration: none;
	padding: 2px 2px 2px 2px;  
	font-family:tahoma, arial, helvetica, sans-serif;  
}

.TableDetailCell{
	font-size: 11px;
	font-family:tahoma, arial, helvetica, sans-serif;
	background-color:#C1CBD7;    
	margin: 0;
	BORDER-BOTTOM: #8CA5CE solid 1px;
	BORDER-LEFT: #8CA5CE solid 1px;
	BORDER-RIGHT: #8CA5CE solid 1px;
	BORDER-TOP: #8CA5CE solid 0px;
}

.clsStaticInputBox{
	font-size: 11px; 
	font-family:tahoma, arial, helvetica, sans-serif;
	border-style: none;
	border-width: 1px;
	background-color: #FFFFFF;
}

.ErrorMessage{
	BACKGROUND-COLOR: #EFEFE7;
	BORDER-BOTTOM: black solid 1px;
	BORDER-LEFT: gray solid 1px;
	BORDER-RIGHT: black solid 1px;
	BORDER-TOP: gray solid 1px ;
	clipBottom: 100%;
	clipLeft: 0px;
	clipRight: 100%;
	clipTop: 0px;
	COLOR: black;
	font-family:tahoma, arial, helvetica, sans-serif;
	FONT-SIZE: 10pt;
	FONT-WEIGHT: bold;
	TEXT-ALIGN: left;
}

.ErrorMessageCaption{
	font-size: 11px; 
	font-family:tahoma, arial, helvetica, sans-serif;
	BACKGROUND-COLOR: #FDFECF;
	BORDER-BOTTOM: black solid 1px;
	BORDER-LEFT: gray solid 1px;
	BORDER-RIGHT: black solid 1px;
	BORDER-TOP: gray solid 1px;
	COLOR: black;
}

.clsBox{
	BACKGROUND-COLOR : white;
	BORDER-BOTTOM : black solid 1px;
	BORDER-LEFT : black solid 1px;
	BORDER-RIGHT : black solid 1px;
	BORDER-TOP : black solid 1px;
	COLOR : black;
	font-family:tahoma, arial, helvetica, sans-serif;
	FONT-SIZE : 11px;
}

.clsFindInputBox{
	font-size: 11px; 
	font-family:tahoma, arial, helvetica, sans-serif;
	border-style: solid;
	border-width: 1px;
}

BODY
{
	font-size: 11px;
	font-family:tahoma, arial, helvetica, sans-serif;
    margin: 0;
  /*background: url(/Res/Images/bg.png) repeat-x scroll 0pt -60px;*/
    background-color: White;
}

.side
{
 /* background:#D2E0F2;
  margin:10px 14px 6px 5px;
  border-right:solid 1px #99BBE8;*/
  margin:0 14px 6px 5px;
}

INPUT.checkbox
	{
	border-style: none;
	}

INPUT.radiobutton
	{
	border-style: none;
	}

INPUT.image
	{
	border-style: none;
	}

SELECT
	{
	font-size: 11px; 
	font-family:tahoma, arial, helvetica, sans-serif;
	border-style: none;
	border-width: 1px;
	}

.sectionCaption
	{
	padding: 5px 8px 5px 8px;
	font-size: 20px;
	font-family: tahoma, arial, helvetica, sans-serif;
	font-weight: bold;
	text-align: left;
	color: #FFFFFF;
	}

.captionEW
	{
	font-size: 11px; 
	font-family:tahoma, arial, helvetica, sans-serif;
	text-align: right;
	vertical-align: baseline;
	}

.captionEWRequired
	{
	font-size: 11px; 
	font-family:tahoma, arial, helvetica, sans-serif;
	text-align: right; 
	font-weight: bold;
	vertical-align: baseline;
	}

.captionNS
	{
	font-size: 11px; 
	font-family:tahoma, arial, helvetica, sans-serif;
	text-align: left;
	}

.captionNSRequired
	{
	font-size: 11px; 
	font-family:tahoma, arial, helvetica, sans-serif;
	text-align: left;
	font-weight: bold;
	}

INPUT.field
	{
	font-size: 11px; 
	font-family:tahoma, arial, helvetica, sans-serif;
	border-style: solid;
	border-width: 1px;
	}

INPUT.fieldRequired
	{
	font-size: 11px; 
	font-family:tahoma, arial, helvetica, sans-serif;
	border-style: solid;
	border-width: 1px;	
	}

INPUT.fieldNumeric
	{
	font-size: 11px; 
	font-family:tahoma, arial, helvetica, sans-serif;
	text-align: right; 
	border-style: solid;
	border-width: 1px;
	}

INPUT.fieldNumericRequired
	{
	font-size: 11px; 
	font-family:tahoma, arial, helvetica, sans-serif;
	border-style: solid;
	border-width: 1px;	
	text-align: right; 
	}

.fieldNonEditable 
	{
	font-size: 11px; 
	font-family:tahoma, arial, helvetica, sans-serif;
	border-style: solid;
	border-width: 1px;
	border-color: #BBBBBB;
	background-color: transparent;
	}

TEXTAREA
	{
	font-size: 11px; 
	font-family:tahoma, arial, helvetica, sans-serif;
	border-style: solid;
	border-width: 1px;
	}

TEXTAREA.required
	{
	font-size: 11px; 
	font-family:tahoma, arial, helvetica, sans-serif;
	border-style: solid;
	border-width: 1px;
	}

.otherControl
	{
	font-size: 11px; 
	font-family:tahoma, arial, helvetica, sans-serif;
	border-style: groove;
	}

.otherControlRequired
	{
	font-size: 11px; 
	font-family:tahoma, arial, helvetica, sans-serif;
	}
/*
BUTTON
	{
	font-size: 11px;
	font-family:tahoma, arial, helvetica, sans-serif;
	text-align: center; 
	vertical-align: baseline;
	margin: 0px 2px 0px 2px;
	padding-left: 5px;		
	padding-right: 5px;		
	padding-top: 2px;
	padding-bottom: 1px;
	}

 .clsSmallButton
	{
	font-size: 9px;
	font-family:tahoma, arial, helvetica, sans-serif;
	text-align: center; 
	vertical-align: baseline;
  height:20px;
  cursor:hand;
	}
*/

.pushbutton
	{
	font-size: 11px;
	font-family:tahoma, arial, helvetica, sans-serif;
	text-align: center; 
	vertical-align: baseline;
	margin: 0px 2px 0px 2px;
	padding-left:  5px;
	padding-right:  5px;
	padding-top:  2px;
	padding-bottom:  1px;
	}

THEAD
	{
	border-style: solid;
	border-width: 1px;
	}

TBODY
	{
	font-size: 11px; 
	font-family:tahoma, arial, helvetica, sans-serif;
	}

TH
	{
	font-size: 10px; 
	font-family:tahoma, arial, helvetica, sans-serif;
	text-align: center;
	color: #FFFFFF; 
	background-color: #184173; 
	}

.clickableHeader
	{
	border-style: outset;
	border-width: 1px;
	border-color: #FFFFFF #0065CE #0065CE #FFFFFF;
	}

.numericColumn
	{
	text-align: right; 
	}

.tableRowEven
	{
	background-color: #FFFFFF;
	}
.tableRowOdd
	{
	background-color: #EEEEEE;
	}
	
.clsRateCaptionBar{
	padding: 3px 3px 3px 5px;
	font-size: 18px;
	font-family:tahoma, arial, helvetica, sans-serif;
	font-weight: bold;
	text-align: left;
	color: #FFFFFF;
	background-color: #5273B5;
	position: relative;
	left : 0px;
	top : 0px;
}

.clsRateCaptionBarSubText{
	font-size: 12px;
	font-family:tahoma, arial, helvetica, sans-serif;
	font-weight: bold;
	text-align: left;
	color: #FFFFFF;
}

.clsRateText{
	font-size: 14px;
	font-family:tahoma, arial, helvetica, sans-serif;
	background-color: #edf0f8; 
	margin: 0;
}
.clsRateHeader{
	padding: 2px 4px 2px 4px;
	font-size: 14px;
	font-family:tahoma, arial, helvetica, sans-serif;
	font-weight: bold;
	text-align: left;
	color: #FFFFFF;
	background-color: #0065CE;
	background-image : url(../images/blend.gif);
	background-repeat : repeat-y; 
}
.clsRateTableSubHeader{
	font-size: 12px; 
	font-family:tahoma, arial, helvetica, sans-serif;
	text-align: center;
	color: #FFFFFF; 
	background-color: #0065CE; 
}
.clsRateTableTextEven{
	font-size: 14px; 
	background-color: #CFDBE5;
  font-weight:bold;
}
.clsRateTableTextOdd  {
	font-size: 12px; 
}
.clsRateConstraintTableHeader{
	font-size: 12px; 
	font-family:tahoma, arial, helvetica, sans-serif;
	text-align: center;
	color: #FFFFFF; 
	background-color: black; 
  font-weight:bold;  
}
.clsRateTableSubHeader{
	font-size: 12px; 
	font-family:tahoma, arial, helvetica, sans-serif;
	text-align: center;
	color: black; 
	background-color: #e8e8e8; 
  font-weight:bold;  
}
.clsRateTableText{
	font-size: 12px; 
	background-color: #FFFFFF;
}
/*
.clsEditButton{
	width: 11px;
	height: 17px;
	background-color:transparent;
	background-image: url(../images/edit.gif);
	background-repeat: no-repeat;
	border-style: none;
	cursor:hand;
}
.clsDeleteButton{
	width: 17px;
	height: 17px;
	background-color:transparent;
	background-image: url(../images/delete.gif);
	background-repeat: no-repeat;
	border-style: none;
	cursor:hand;
}
.clsOKButton{
    width: 60px; 
    height: 24px;
    background-color: transparent;
    background-image: url(../images/buttonsmall.gif);
  	background-repeat : no-repeat;	
    border: 0;
  	padding: 2px 2px 2px 2px;   
   	font-size: 12px;
  	font-family: Arial Unicode MS, Lucida Sans Unicode, Tahoma, Arial, sans-serif;     
    font-weight: normal;
    cursor:hand;    
}
.clsEnterButton {
	width: 51px;
	height: 18px;
	background-color: transparent;
	background-image: url(../images/login/enter.gif);
	background-repeat : no-repeat;
	border: 0;
	padding: 2px 2px 2px 2px;
	font-size: 12px;
	font-family: Arial Unicode MS, Lucida Sans Unicode, Tahoma, Arial, sans-serif;
	font-weight: normal;
	cursor:hand;
}
.clsButtonSmall {
    width: 60px; 
    height: 24px;
    background-color: transparent;
    background-image: url(../images/buttonsmall.gif);
  	background-repeat : no-repeat;	
    border: 0;
  	padding: 2px 2px 2px 2px;   
   	font-size: 12px;
  	font-family: Arial Unicode MS, Lucida Sans Unicode, Tahoma, Arial, sans-serif;     
    font-weight: normal;
    cursor:hand;    
  }
  .clsButtonMedium {
    width: 100px; 
    height: 24px;
    background-color: transparent;
    background-image: url(../images/buttonmedium.gif);
  	background-repeat : no-repeat;	
    border: 0;
  	padding: 2px 2px 2px 2px;   
   	font-size: 12px;
  	font-family: Arial Unicode MS, Lucida Sans Unicode, Tahoma, Arial, sans-serif;     
    font-weight: normal;
    cursor:hand;    
  }
  .clsButtonLarge {
    width: 200px; 
    height: 24px;
    background-color: transparent;
    background-image: url(../images/buttonlarge.gif);
  	background-repeat : no-repeat;	
    border: 0;
  	padding: 2px 2px 2px 2px;   
   	font-size: 12px;
  	font-family: Arial Unicode MS, Lucida Sans Unicode, Tahoma, Arial, sans-serif;     
    font-weight: normal; 
    cursor:hand;    
  }    
  .clsButtonXLarge {
    width: 250px; 
    height: 24px;
    background-color: transparent;
    background-image: url(../images/buttonXlarge.gif);
  	background-repeat : no-repeat;	
    border: 0;
  	padding: 2px 2px 2px 2px;   
   	font-size: 12px;
  	font-family: Arial Unicode MS, Lucida Sans Unicode, Tahoma, Arial, sans-serif;     
    font-weight: normal; 
    cursor:hand;    
  }    
  .clsButtonXXLarge {
    width: 300px; 
    height: 24px;
    background-color: transparent;
    background-image: url(../images/buttonXXlarge.gif);
  	background-repeat : no-repeat;	
    border: 0;
  	padding: 2px 2px 2px 2px;   
   	font-size: 12px;
  	font-family: Arial Unicode MS, Lucida Sans Unicode, Tahoma, Arial, sans-serif;     
    font-weight: normal; 
    cursor:hand;    
  }
  */
  
  .clsButtonBlueSmall {
    width: 65px; 
    /*height: AUTO;
    background-color: transparent;
    background-image: url(../images/buttonbluesmall.gif);
  	background-repeat : no-repeat;	
    border: 0;
  	padding: 2px 2px 2px 2px;   
   	font-size: 11px;
  	font-family: Arial Unicode MS, Lucida Sans Unicode, Tahoma, Arial, sans-serif;     
    font-weight: normal; 
    cursor:hand; */     
  }    
  
  .clsButtonBlueMedium {
    width: 77px; 
    height: AUTO;
    /*background-color: transparent;
    background-image: url(../images/buttonbluemedium.gif);
  	background-repeat : no-repeat;	
    border: 0;
  	padding: 2px 2px 2px 2px;   
   	font-size: 11px;
  	font-family: Arial Unicode MS, Lucida Sans Unicode, Tahoma, Arial, sans-serif;     
    font-weight: normal; 
    cursor:hand;  */ 
	padding-left:22px; 
  }
          
  .clsButtonBlueLarge {
    /*width: 100px; */
    height: 24px;
   /* background-color: transparent;
    background-image: url(/Res/Ext/resources/images/metranet/button/btn.gif);
  	background-repeat : repeat-x scroll 0pt;	
    border: 0;
  	padding: 2px 2px 2px 2px;   
   	font-size: 11px;
  	font-family: Arial Unicode MS, Lucida Sans Unicode, Tahoma, Arial, sans-serif;     
    font-weight: normal; 
    cursor:hand;    */
  }    
  .clsButtonBlueXLarge {
    /*width: 150px; */
    height: 44px;
    /*background-color: transparent;
    background-image: url(/Res/Ext/resources/images/metranet/button/btn.gif);
  	background-repeat : repeat-x scroll 0pt;	
    border: 0;
  	padding: 2px 2px 2px 2px;   
   	font-size: 11px;
  	font-family: rial Unicode MS, Lucida Sans Unicode, Tahoma, Arial, sans-serif;     
    font-weight: normal; 
    cursor:hand;    */
  }     
  
.clsButtonBlueXXLarge {
    width: 200px; 
    height: 24px;
  /*  background-color: transparent;
    background-image: url(../images/buttonblueXXlarge.gif);
    background-image: url(/Res/Ext/resources/images/metranet/button/btn.gif);
  	background-size: 100%;
  	background-repeat: repeat-x scroll 0pt;
    border: 0;
  	padding: 2px 2px 2px 2px;   
   	font-size: 11px;
  	font-family: Arial Unicode MS, Lucida Sans Unicode, Tahoma, Arial, sans-serif;     
    font-weight: normal; 
    cursor:hand;    
    color: #333;*/
  }    
  
.clsButtonBlueXXXLarge {
    width: 250px; 
    height: 24px;
   /* background-color: transparent;
     background-image: url(/Res/Ext/resources/images/metranet/button/btn.gif);
    background-size: 100%;
  	background-repeat: repeat-x scroll 0pt;;
    border: 0;
  	padding: 2px 2px 2px 2px;   
   	font-size: 11px;
  	font-family: Arial Unicode MS, Lucida Sans Unicode, Tahoma, Arial, sans-serif;     
    font-weight: normal; 
    cursor:hand;
    color: #333;*/
  } 
             
HR{
    color:transparent;
   	background-image : url(../images/hr.gif);   
    height: 8px; 
  	background-repeat : repeat-y;
  	position: relative;
	  left : -6px;
	  top : -6px;    
  }
 
.clsTopMenu{
  padding: 0px 0px 0px 0px;
  }

A{
	font-size: 11px; 
	font-family:tahoma, arial, helvetica, sans-serif;
	color: black; 
	}    
 
.clsFixedPos{
	position:absolute;
}
.clsApplicationHeader{
	position:absolute;
	font-family: "Arial Black";
	font-size: 14px;
	font-weight: normal;
	top:28px;
	left:300px;
	background-color:#97CE21;
	color:#04468D;
} 
.clsHeaderToolbar{
	font-family:tahoma, arial, helvetica, sans-serif;
  font-size:8pt;
  background-color:#CCDEF6;
  color:#263406;
  border:solid 1px #98C0F4;
}
.clsBreadCrumbGutter{
 	padding: 0px 0px 0px 0px;
	  position:absolute;
    left:25px; 
    width:1800px;
    background-image : url(../images/gutter.gif);   
    background-repeat : repeat-x;
    BORDER-BOTTOM : black solid 0px;
    BORDER-LEFT : #668BBD solid 0px;
    BORDER-RIGHT : black solid 0px;
    BORDER-TOP : black solid 0px;    
}
  .clsBreadCrumbs{
	padding: 1px 1px 1px 1px;
	font-size: 11px;
	font-family:tahoma, arial, helvetica, sans-serif;
	font-weight: normal;
	text-align: left;
	color: black;
	text-decoration: none;
  }


.clsDrag{
  font-size:8pt;
  cursor:hand;
  dragable:true;
  color:black;
}

.clsDrop{
	font-size:8pt;
	dropable:true;
	color:black;
	background-image: url(../images/drop.gif);
	background-repeat : no-repeat;
	border-style: solid;
	border-width: 1px;
	background-position : right;
}

.clsDragDrop{
  font-size:8pt;
  cursor:hand;
  dragable:true;
  dropable:true;
  color:black;
}

.clsDragHighlight{
  font-size:8pt;
  font-weight:bold;
  cursor:hand;
  dragable:true;
  color:#97CE21;
}
.clsDragDropHighlight{
  font-size:8pt;
  font-weight:bold;
  cursor:hand;
  dragable:true;
  dropable:true;
  color:#97CE21;
}
.clsDragDiv{
	position:absolute;
	font-size:8pt;
	font-weight:bold;
	cursor:hand;
	display : none;
  overflow:hidden;
}

.clsContextMenu{
	position:absolute;
	width:175px;
	padding:5px 0px;
	border:2px solid black;
	background-color:menu;
	font-family:Tahoma;
	line-height:20px;
	cursor:default;
	font-size:12px;
	z-index:100;
	visibility:hidden;
	color:black;
}

.clsContextItem{
	padding-left:10px;
	padding-right:10px;
}

.clsGuide{
	border:1px solid #000000;
	padding:5px;
	height:80px;
	width:100%;
	font-weight:bolder;
	background-image : url(../images/stipe.jpg);
	background-repeat : repeat;
	background-color : White;
}

.clsNavy{
  font-size:10px;
	color:navy;
}

.clsScrollingDiv{
    overflow-y : auto;
    overflow-x : hidden;
}

.clsScrollingDivHeader{
	font-size:10pt;
    font-family:Tahoma;
    font-weight:bold;
    color:white;
    background-color:#003B8E;
}

.clsScrollingDivOdd{
	 font-size:8pt;
    font-family:Tahoma;
    color:black;	
    background-color: #C1CBD7;
    padding : 2px 2px 2px 2px;
}

.clsScrollingDivEven{
	 font-size:8pt;
    font-family:Tahoma;
    color:black;	
    background-color: #CFDBE5;
    padding : 2px 2px 2px 2px;
}

.clsOpaqueImage{
	align:absmiddle;
}

.clsLabelFutureSubscription{
	font-size:8pt;
  font-family:Tahoma;
}

.clsLabelCurrentSubscription{
	font-size:8pt;
  font-family:Tahoma;
  font-weight:bold;
}

.clsLabelPastSubscription{
	font-size:8pt;
  font-family:Tahoma;
}

a.clsAdvancedFind:hover{
	COLOR: #ADEF8C;
  padding: 8px;
	font-family:tahoma, arial, helvetica, sans-serif;  
	/*text-decoration: none;*/
}

a.clsAdvancedFind{
  color: white;
  padding: 8px;
	font-family:tahoma, arial, helvetica, sans-serif;  
 	/*text-decoration: none;*/
}

.UserWarning{
	padding:  2px 2px 2px 2px;
	font-size: 11px;
	font-family:tahoma, arial, helvetica, sans-serif;
	text-align: left;
	color: black;
	background-color: #FFFFC0;
	BORDER-BOTTOM: Black solid 1px;
	BORDER-LEFT: Black solid 1px;
	BORDER-RIGHT: Black solid 1px;
	BORDER-TOP: Black solid 1px;
}

.ActiveAccount
{
  color: white;
	font-size:8pt;
	font-family:tahoma, arial, helvetica, sans-serif;  
  text-align:left;
	PADDING-BOTTOM: 0px;
	PADDING-LEFT: 8px;
	PADDING-RIGHT: 0px;
	PADDING-TOP: 15px;    
}

.clsNote2{
  margin: 5px;
  background-color:#efefef;
	background-image: url('../images/icons/infosmall.gif');
	background-position: 5px center;
	background-repeat: no-repeat;
  border:solid #848284 1px;
  white-space:nowrap;
  display: inline;
  padding:5px;
  padding-left:25px;
  border-radius:3px;
 }

.clsButtonBox
{
  margin: 5px;  
  padding: 5px;
  display: block;
  font-size: 12px;
  float: left;
  border: solid 1px silver;
  width:500px;
}

html, body
{
  font: normal 12px verdana;
  margin: 0;
  padding: 0;
  border: 0 none;
  /* overflow:hidden;  - Added dynamically in ViewPort.js so design time scrolls */
  height:100%;
}

#aspnetForm
{
  width:100%;
  height:100%;
}

.full
{
  width:100%;
  height:100%;
}

p
{
  margin: 5px;
}

/* icon styles */
.account
{
  background-image: url(/Res/Images/icons/user.png) !important;
}
.system_user
{
  background-image: url(/Res/Images/icons/user_suit.png) !important;
}
.settings
{
  background-image: url(/Res/Images/icons/folder_wrench.png) !important;
}
.nav
{
  background-image: url(/Res/Images/icons/folder_go.png) !important;
}
.find
{
  background-image: url(/Res/Images/icons/find.png) !important;
}
.advancedFind
{
  background-image: url(/Res/Images/icons/page_white_find.png) !important;
}
.logout
{
  background-image: url(/Res/Images/icons/door_out.png) !important;
}
.help
{
  background-image: url(/Res/Images/icons/help.png) !important;
}
.add
{
  background-image: url(/Res/Images/icons/add.png) !important;
}
.close
{
  background-image: url(/Res/Images/icons/cancel.png) !important;
}
.refresh
{
  background-image: url(/Res/Images/icons/arrow_refresh.png) !important;
}
.onlineBill
{
  background-image: url(/Res/Images/icons/page_world.png) !important;
}
.manage
{
  background-image: url(/Res/Images/icons/user_go.png) !important;
}


table
{
  font-size: 10px;
}

/*
input
{
  background: #FFFFFF url(/Res/Ext/resources/images/default/form/text-bg.gif) repeat-x scroll 0pt;
  border: 1px solid #B5B8C8;
  padding: 1px 3px;
  font-size: 10px;
}
*/

select
{
  background: #FFFFFF url(/Res/Ext/resources/images/metranet/form/text-bg.gif) repeat-x scroll 0pt;
  border: 1px solid #B5B8C8;
  padding: 1px 3px;
  font-size: 10px;
}

label
{
  font-size: 10px;
}


a
{
  font-size: 10px;
  color: navy;
}

a:hover
{
  font-size: 10px;
  color: black;
}


h1
{
  font-weight: bold;
  font-size: 18px;
  color: black;
  margin-top: 10px;
  margin-bottom: 40px;
}

h2
{
  font-weight: bold;
  font-size: 14px;
  color: black;
  margin-top: 15px;
  margin-bottom: 15px;
}

h3
{
  font-weight: bold;
  font-size: 10px;
  margin-top: 2px;
  margin-bottom: 2px;
}

HR
{
  height: 1px;
  background-color:#ccc;
}

.Drop
{
  dropable: true;
  color: black;
  background-repeat: no-repeat;
  background-position: right;
}

.CaptionBar
{
  /*background: transparent url(/Res/Ext/resources/images/default/panel/white-top-bottom.gif) repeat-x scroll 0pt -1px;
  border-bottom: 1px solid #99BBE8;
  color: #15428B;
  font-family: tahoma,arial,verdana,sans-serif;
  font-size: 11px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 15px; 
  padding: 5px 3px 4px 5px;*/
  
  background-color: #fff;
color: #000;
font-family: tahoma,arial,verdana,sans-serif;
font-size: 15px;
font-style: normal;
font-variant: normal;
font-weight: bold;
line-height: 15px;
padding: 5px 3px 4px 15px;
}

.FilterHeader
{
  padding: 3px 3px 3px 17px;
  font-size: 10px;
  font-family: tahoma, arial, helvetica, sans-serif;
  font-weight: bold;
  text-align: left;
  color: #FFFFFF;
  background-color: #877B6D;
}

.FilterFooter
{
  padding: 3px 3px 3px 17px;
  font-size: 10px;
  font-family: tahoma, arial, helvetica, sans-serif;
  font-weight: bold;
  text-align: left;
  color: #FFFFFF;
  background-color: #877B6D;
}

.SectionCaptionBar
{
  padding: 5px 8px 5px 8px;
  font-size: 12px;
  font-family: tahoma, arial, helvetica, sans-serif;
  font-weight: bold;
  text-align: left;
  color: black;
}

.Caption
{
  font-size: 10px;
  text-align: right;
}

.CaptionRequired
{
  font-size: 10px;
  text-align: right;
  font-weight: bold;
}

.SmallText
{
  font-size: 9px;
}

.BigText
{
  font-size: 16px;
}

.ErrorMessage
{
  font-size: 10px;
  color: Red;
  border: 1px silver solid;
  background-color: #F6F6F6;
}

.ErrorLabel
{
  font-size: 10px;
  color: Maroon;
}

.ErrorField
{
  width: 100%;
  font-size: 10px;
  padding:2px;
  padding-left:20px;
  border-bottom: 2px solid red;
  background: #F6F6F6 url(/Res/Images/icons/exclamation.png) no-repeat 0px;
}

.Container
{
  font-size: 10px;
  width: 100%;
  height: 100%;
}

.Header
{
  font-size: 11px;
  font-family:tahoma, arial, helvetica, sans-serif;
  text-align: center;
  color: white;
  background-color: #215379;
  border-bottom: black solid 1px;
  border-left: #0057AF solid 1px;
  border-right: black solid 1px;
  border-top: #0057AF solid 1px;
}

TH A
{
  font-size: 11px;
  font-family:tahoma, arial, helvetica, sans-serif;
  text-align: center;
  font-weight: bold;
  color: white; /*background-color: #007AE5;*/
}

TH A:Hover
{
  font-size: 11px;
  font-family:tahoma, arial, helvetica, sans-serif;
  text-align: center;
  font-weight: bold;
  color: navy;
  background-color: #007AE5;
}

.Row
{
  background-color: #C1CBD7;
  color: black;
  font-family:tahoma, arial, helvetica, sans-serif;
  font-size: 10px;
  font-weight: normal;
  padding-left: 3px;
  padding-right: 3px;
}

.AltRow
{
  background-color: #CFDBE5;
  color: black;
  font-family:tahoma, arial, helvetica, sans-serif;
  font-size: 10px;
  font-weight: normal;
  padding-left: 3px;
  padding-right: 3px;
}

.SelectedRow
{
  background-color: #F6F6F6;
  color: black;
  font-family:tahoma, arial, helvetica, sans-serif;
  font-size: 10px;
  font-weight: normal;
  padding-left: 3px;
  padding-right: 3px;
}

.Area
{
  background-color: #F6F6F6;
}

.activeAccountContainer
{
  width: 100%;
  font-family: Verdana;
  font-size: 10px;
  background-color: white;
  padding: 0px;
  color: black;
  border: solid 1px silver;
}

.Inline
{
  display: inline;
}

/* main page background */
#MainContent
{
  background: url(/Res/Images/bg.png) repeat-x scroll 0pt -60px;
}

#important-info
{
  background: url(/Res/Images/bg.png) repeat-x scroll 0pt -60px;
}

#msg-div
{
  position: absolute;
  left: 35%;
  top: 0px;
  width: 230px;
  z-index: 20000;
}

#north
{
  background: url(/Res/Images/header/hd-bg.gif) repeat-x;
  border: 0pt none;
  padding-left: 3px;
  padding-top: 3px;
}

#north .title
{
  color: white;
  font-family: tahoma,arial,sans-serif;
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: normal;
  margin: 5px;
}

button,.clsButtonBlueSmall,.clsButtonBlueMedium, .clsButtonBlueLarge,.clsButtonBlueXLarge,.clsButtonBlueXXLarge ,clsButtonBlueXXXLarge
  
{
align-items: flex-start;
text-align: center;
cursor: default;
color: #333;
padding: 2px 6px 3px;
border: 2px outset buttonface;
border-image-source: initial;
border-image-slice: initial;
border-image-width: initial;
border-image-outset: initial;
border-image-repeat: initial;
background-color: buttonface;
box-sizing: border-box;
font-family: arial, tahoma, verdana, helvetica;
font-size: 11px;
font-weight: normal;
letter-spacing: normal;
}

.button:hover
{
CURSOR: hand;
}
.Buttons
{
TEXT-ALIGN: center;
}

/* INTERVAL PROGRESS */
  #progressContainer {
    position:absolute;
    width:102px;
    height:14px;
    border:solid black 1px;
    background-color:white;
   }
  
  #progressIndicator {
    position:absolute;
    width:0px;
    height:12px;
    left:0px;
    top:0px;    
    background-color:navy;
    background-image:url("../images/gradient.gif");
    background-repeat:no-repeat;
    font-size:1px;
    border:0px;   
  }

   #progressAmount {
    position:absolute;   
    width:98px;
    height:12px;
    color:black;
    font-size:9px;
    text-align:center;
    background-color:transparent; 
	vertical-align:top;
   }
   
   fieldset
   {
       border: 1px solid #ccc;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
   }
   
   
   :focus, textarea { outline: #ccc !important; }