.clsLoginMessage{
	font-size: 11px;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	background-color:#CFDBE5; 
	margin: 0;
	TEXT-ALIGN: Center;
}

.CaptionBar{
	padding: 3px 3px 3px 5px;
	font-size: 18px;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-align: left;
	color: #FFFFFF;
	background-color: #CFDBE5;
 	background-image : url(../images/blend3.gif); 
  background-repeat : no-repeat;
	position: relative;
	left : 0px;
	top : 0px;
}

.loginTopBevel{
	background-color: #00337c;
	background-image : url(../images/Header/loginbeveltop.gif);
	background-repeat : repeat-x;
}

.loginLeftBevel{
	background-color: #00337c;
	background-image : url(../images/Header/loginbevelleft.gif);
	background-repeat : repeat-y;
}

.loginCaption
	{
	color: white;
	font-size: 11px;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	text-align: right;
	font-weight: bold;
	vertical-align: baseline;
	}

.loginBar{
	padding: 2px 15px 15px 15px;
	font-size: 16px;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-weight: bolder;
	text-align: left;
	color: #FFFFFF;
	background-color: #00337c;
	background-image : url(../images/Header/loginbarbkgd.gif);
	background-repeat : repeat-x;
	position: relative;
}

.sectionCaptionBar{
	padding: 5px 8px 5px 8px;
	font-size: 14px;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-weight: bolder;
	text-align: left;
	color: #20336A;
  filter:blur(add=1,direction=180,strength=2);
}

.clsWelcomeTitle{
	padding: 5px 8px 5px 8px;
	font-size: 16px;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-align: left;
	color: #FFFFFF;
	background-color: #0065CE;
}

.clsBulletList{
	COLOR: black;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	FONT-SIZE: 14pt;
	TEXT-ALIGN: left;
	FONT-WEIGHT: normal;
}

.clsStandardText{
	font-size: 11px;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	margin: 0;
}

.clsLargeText{
	font-size: 12px;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	margin: 0;
}

.clsMainTitle{
	font-size: 12px;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	margin: 0;
}

.clsStandardTitle{
	padding: 5px 8px 5px 8px;
	font-size: 14px;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-weight: bolder;
	text-align: left;
	color: #20336A;
	background-color: #CFDBE5;
  filter:blur(add=1,direction=180,strength=2);
}

.clsInputBox{
	font-size: 11px; 
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	border-style: solid;
	border-width: 1px;	
}

.CaptionBarHelp{
	padding: 5px 8px 5px 8px;
	font-size: 20px;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-align: left;
	color: #FFFFFF;
	background-color: #0065CE;
}

.TableCellAlt{
	font-size: 11px; 
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	background-color: #CFDBE5;
	padding: 3px 3px 3px 3px;
}

.TableCell{
	font-size: 11px; 
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	background-color: #C1CBD7;
	padding: 3px 3px 3px 3px;
}

.TableHeader{
	BORDER-BOTTOM: black solid 1px;
	BORDER-LEFT: #0057AF solid 1px;
	BORDER-RIGHT: black solid 1px;
	BORDER-TOP: #0057AF solid 1px;
	font-size: 11px; 
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	text-align: center;
	color: white; 
	background-color: #007AE5; 
	padding: 3px 3px 3px 3px;	
}

a.TableHeaderA:hover{
	COLOR : #ADEF8C;
	text-decoration: none;
	padding: 3px 3px 3px 3px;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;  
}

a.TableHeaderA{
	COLOR : white;
	text-decoration: none;
	padding: 3px 3px 3px 3px;  
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;  
}

.TableDetailCell{
	font-size: 11px;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	background-color:#C1CBD7;  
	margin: 0;
	BORDER-BOTTOM: white solid 1px;
	BORDER-LEFT: white solid 1px;
	BORDER-RIGHT: white solid 1px;
	BORDER-TOP: white solid 1px;
}

.clsStaticInputBox{
	font-size: 11px; 
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	border-style: none;
	border-width: 1px;
	background-color: #FFFFFF;
}

.ErrorMessage{
	BACKGROUND-COLOR: #EFEFE7;
	BORDER-BOTTOM: black solid 1px;
	BORDER-LEFT: gray solid 1px;
	BORDER-RIGHT: black solid 1px;
	BORDER-TOP: gray solid 1px ;
	clipBottom: 100%;
	clipLeft: 0px;
	clipRight: 100%;
	clipTop: 0px;
	COLOR: black;
	FONT-FAMILY: Arial;
	FONT-SIZE: 10pt;
	FONT-WEIGHT: bold;
	TEXT-ALIGN: left;
}

.ErrorMessageCaption{
	font-size: 11px; 
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	BACKGROUND-COLOR: #FDFECF;
	BORDER-BOTTOM: black solid 1px;
	BORDER-LEFT: gray solid 1px;
	BORDER-RIGHT: black solid 1px;
	BORDER-TOP: gray solid 1px;
	COLOR: black;
}

.clsBox{
	BACKGROUND-COLOR : white;
	BORDER-BOTTOM : black solid 1px;
	BORDER-LEFT : black solid 1px;
	BORDER-RIGHT : black solid 1px;
	BORDER-TOP : black solid 1px;
	COLOR : black;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	FONT-SIZE : 11px;
}

.clsFindInputBox{
	font-size: 11px; 
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	border-style: solid;
	border-width: 1px;
}

BODY
	{
	font-size: 11px;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	background-color:#CFDBE5;  
  margin: 0;
  scrollbar-face-color: #003B8E;
  scrollbar-shadow-color: navy;
  scrollbar-highlight-color: #688ABA;
  scrollbar-3dlight-color: #003B8E;
  scrollbar-darkshadow-color: #000040;
  scrollbar-track-color: #688ABA;
  scrollbar-arrow-color: #688ABA;
	}

INPUT.checkbox
	{
	border-style: none;
	}

INPUT.radiobutton
	{
	border-style: none;
	}

INPUT.image
	{
	border-style: none;
	}

SELECT
	{
	font-size: 11px; 
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	border-style: none;
	border-width: 1px;
	}

.sectionCaption
	{
	padding: 5px 8px 5px 8px;
	font-size: 20px;
	font-family: Georgia, Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-align: left;
	color: #FFFFFF;
	background-color: #0065CE;
	}

.captionEW
	{
	font-size: 11px; 
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	text-align: right;
	vertical-align: baseline;
	}

.captionEWRequired
	{
	font-size: 11px; 
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	text-align: right; 
	font-weight: bold;
	vertical-align: baseline;
	}

.captionNS
	{
	font-size: 11px; 
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	text-align: left;
	}

.captionNSRequired
	{
	font-size: 11px; 
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	text-align: left;
	font-weight: bold;
	}

INPUT.field
	{
	font-size: 11px; 
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	border-style: solid;
	border-width: 1px;
	}

INPUT.fieldRequired
	{
	font-size: 11px; 
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	border-style: solid;
	border-width: 1px;	
	}

INPUT.fieldNumeric
	{
	font-size: 11px; 
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	text-align: right; 
	border-style: solid;
	border-width: 1px;
	}

INPUT.fieldNumericRequired
	{
	font-size: 11px; 
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	border-style: solid;
	border-width: 1px;	
	text-align: right; 
	}

.fieldNonEditable 
	{
	font-size: 11px; 
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	border-style: solid;
	border-width: 1px;
	border-color: #BBBBBB;
	background-color: transparent;
	}

TEXTAREA
	{
	font-size: 11px; 
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	border-style: solid;
	border-width: 1px;
  scrollbar-face-color: #D4D0C8;
  scrollbar-shadow-color: #808080;
  scrollbar-highlight-color: white;
  scrollbar-3dlight-color: #D4D0C8;
  scrollbar-darkshadow-color: #404040;
  scrollbar-track-color: #D4D0C8;
  scrollbar-arrow-color: black;   
	}

TEXTAREA.required
	{
	font-size: 11px; 
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	border-style: solid;
	border-width: 1px;
  scrollbar-face-color: #D4D0C8;
  scrollbar-shadow-color: #808080;
  scrollbar-highlight-color: white;
  scrollbar-3dlight-color: #D4D0C8;
  scrollbar-darkshadow-color: #404040;
  scrollbar-track-color: #D4D0C8;
  scrollbar-arrow-color: black;    
	}

.otherControl
	{
	font-size: 11px; 
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	border-style: groove;
	}

.otherControlRequired
	{
	font-size: 11px; 
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	}

BUTTON
	{
	font-size: 11px;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	text-align: center; 
	vertical-align: baseline;
	margin: 0px 2px 0px 2px;
	padding-left: 5px;		
	padding-right: 5px;		
	padding-top: 2px;
	padding-bottom: 1px;
	}

 .clsSmallButton
	{
	font-size: 9px;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	text-align: center; 
	vertical-align: baseline;
  height:20px;
	}


.pushbutton
	{
	font-size: 11px;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	text-align: center; 
	vertical-align: baseline;
	margin: 0px 2px 0px 2px;
	padding-left:  5px;
	padding-right:  5px;
	padding-top:  2px;
	padding-bottom:  1px;
	}

THEAD
	{
	border-style: solid;
	border-width: 1px;
	}

TBODY
	{
	font-size: 11px; 
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	}

TH
	{
	font-size: 10px; 
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	text-align: center;
	color: #FFFFFF; 
	background-color: #ADEF8C; 
	}

.clickableHeader
	{
	border-style: outset;
	border-width: 1px;
	border-color: #FFFFFF #0065CE #0065CE #FFFFFF;
	}

.numericColumn
	{
	text-align: right; 
	}

.tableRowEven
	{
	background-color: #FFFFFF;
	}
.tableRowOdd
	{
	background-color: #EEEEEE;
	}

.clsRateText{
	font-size: 14px;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	background-color: #edf0f8; 
	margin: 0;
}
.clsRateHeader{
	padding: 2px 4px 2px 4px;
	font-size: 14px;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-align: left;
	color: #FFFFFF;
	background-color: #0065CE;
	background-image : url(../images/blend.gif);
	background-repeat : repeat-y; 
}
.clsRateTableSubHeader{
	font-size: 12px; 
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	text-align: center;
	color: #FFFFFF; 
	background-color: #0065CE; 
}
.clsRateTableTextEven{
	font-size: 14px; 
	background-color: #CFDBE5;
  font-weight:bold;
}
.clsRateTableTextOdd  {
	font-size: 12px; 
}
.clsRateConstraintTableHeader{
	font-size: 12px; 
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	text-align: center;
	color: #FFFFFF; 
	background-color: black; 
  font-weight:bold;  
}
.clsRateTableSubHeader{
	font-size: 12px; 
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	text-align: center;
	color: black; 
	background-color: #e8e8e8; 
  font-weight:bold;  
}
.clsRateTableText{
	font-size: 12px; 
	background-color: #FFFFFF;
}
.clsOKButton{
    width: 60px; 
    height: 24px;
    background-color: transparent;
    background-image: url(../images/buttonsmall.gif);
  	background-repeat : no-repeat;	
    border: 0;
  	padding: 3px 3px 3px 3px;   
   	font-size: 12px;
  	font-family: Tahoma, Arial, sans-serif;     
    font-weight: bold;
    filter:blur(add=1,direction=180,strength=2);    
    cursor:hand;    
}

.clsButtonSmall {
    width: 60px; 
    height: 24px;
    background-color: transparent;
    background-image: url(../images/buttonsmall.gif);
  	background-repeat : no-repeat;	
    border: 0;
  	padding: 3px 3px 3px 3px;   
   	font-size: 12px;
  	font-family: Tahoma, Arial, sans-serif;     
    font-weight: bold;
    filter:blur(add=1,direction=180,strength=2);    
    cursor:hand;    
  }
  .clsButtonMedium {
    width: 100px; 
    height: 24px;
    background-color: transparent;
    background-image: url(../images/buttonmedium.gif);
  	background-repeat : no-repeat;	
    border: 0;
  	padding: 3px 3px 3px 3px;   
   	font-size: 12px;
  	font-family: Tahoma, Arial, sans-serif;     
    font-weight: bold;
    filter:blur(add=1,direction=180,strength=2);        
    cursor:hand;    
  }
  .clsButtonLarge {
    width: 200px; 
    height: 24px;
    background-color: transparent;
    background-image: url(../images/buttonlarge.gif);
  	background-repeat : no-repeat;	
    border: 0;
  	padding: 3px 3px 3px 3px;   
   	font-size: 12px;
  	font-family: Tahoma, Arial, sans-serif;     
    font-weight: bold; 
    filter:blur(add=1,direction=180,strength=2);        
    cursor:hand;    
  }    
  .clsButtonXLarge {
    width: 250px; 
    height: 24px;
    background-color: transparent;
    background-image: url(../images/buttonXlarge.gif);
  	background-repeat : no-repeat;	
    border: 0;
  	padding: 3px 3px 3px 3px;   
   	font-size: 12px;
  	font-family: Tahoma, Arial, sans-serif;     
    font-weight: bold; 
    filter:blur(add=1,direction=180,strength=2);        
    cursor:hand;    
  }    
  .clsButtonXXLarge {
    width: 300px; 
    height: 24px;
    background-color: transparent;
    background-image: url(../images/buttonXXlarge.gif);
  	background-repeat : no-repeat;	
    border: 0;
  	padding: 3px 3px 3px 3px;   
   	font-size: 12px;
  	font-family: Tahoma, Arial, sans-serif;     
    font-weight: bold; 
    filter:blur(add=1,direction=180,strength=2);        
    cursor:hand;    
  }      
  .clsButtonBlueSmall {
    width: 50px; 
    height: 24px;
    background-color: transparent;
    background-image: url(../images/buttonbluesmall.gif);
  	background-repeat : no-repeat;	
    border: 0;
  	padding: 3px 3px 3px 3px;   
   	font-size: 11px;
  	font-family: Tahoma, Arial, sans-serif;     
    font-weight: normal; 
    filter:blur(add=1,direction=180,strength=2);        
    cursor:hand;    
  }    
  .clsButtonBlueMedium {
    width: 77px; 
    height: 24px;
    background-color: transparent;
    background-image: url(../images/buttonbluemedium.gif);
  	background-repeat : no-repeat;	
    border: 0;
  	padding: 3px 3px 3px 3px;   
   	font-size: 11px;
  	font-family: Tahoma, Arial, sans-serif;     
    font-weight: normal; 
    filter:blur(add=1,direction=180,strength=2);        
    cursor:hand;    
  }        
  .clsButtonBlueLarge {
    width: 100px; 
    height: 24px;
    background-color: transparent;
    background-image: url(../images/buttonbluelarge.gif);
  	background-repeat : no-repeat;	
    border: 0;
  	padding: 3px 3px 3px 3px;   
   	font-size: 11px;
  	font-family: Tahoma, Arial, sans-serif;     
    font-weight: normal; 
    filter:blur(add=1,direction=180,strength=2);        
    cursor:hand;    
  }    
  .clsButtonBlueXLarge {
    width: 150px; 
    height: 24px;
    background-color: transparent;
    background-image: url(../images/buttonblueXlarge.gif);
  	background-repeat : no-repeat;	
    border: 0;
  	padding: 3px 3px 3px 3px;   
   	font-size: 11px;
  	font-family: Tahoma, Arial, sans-serif;     
    font-weight: normal; 
    filter:blur(add=1,direction=180,strength=2);        
    cursor:hand;    
  }     
  .clsButtonBlueXXLarge {
    width: 200px; 
    height: 24px;
    background-color: transparent;
    background-image: url(../images/buttonblueXXlarge.gif);
  	background-repeat : no-repeat;	
    border: 0;
  	padding: 3px 3px 3px 3px;   
   	font-size: 11px;
  	font-family: Tahoma, Arial, sans-serif;     
    font-weight: normal; 
    filter:blur(add=1,direction=180,strength=2);        
    cursor:hand;    
  }    
  .clsButtonBlueXXXLarge {
    width: 250px; 
    height: 24px;
    background-color: transparent;
    background-image: url(../images/buttonblueXXXlarge.gif);
  	background-repeat : no-repeat;	
    border: 0;
  	padding: 3px 3px 3px 3px;   
   	font-size: 11px;
  	font-family: Tahoma, Arial, sans-serif;     
    font-weight: normal; 
    filter:blur(add=1,direction=180,strength=2);        
    cursor:hand;
  }            
  HR{
    color:transparent;
   	background-image : url(../images/hr.gif);   
    height: 8px; 
  	background-repeat : repeat-y;
  	position: relative;
	  left : -6px;
	  top : -6px;    
  }
 
  .clsTopMenu{
  padding: 0px 0px 0px 0px;
  }

A{
	font-size: 11px; 
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	color: black; 
	}    
 
.clsFixedPos{
	position:absolute;
}
.clsApplicationHeader{
	position:absolute;
	font-family: "Arial Black";
	font-size: 14px;
	font-weight: normal;
	top:28px;
	left:300px;
	background-color:#97CE21;
	color:#04468D;
	filter:blur(add=1,direction=180,strength=2);
} 
.clsHeaderToolbar{
	  font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
    font-size:8pt;
    background-color:#97CE21;
    color:#263406;
    filter:blur(add=1,direction=180,strength=2);
}
.clsBreadCrumbGutter{
  	padding: 2px 2px 2px 2px;
	  position:absolute;
    left:25px; 
    width:1800px;
    background-color:#C3E774;
	  BORDER-BOTTOM : black solid 0px;
	  BORDER-LEFT : #668BBD solid 0px;
	  BORDER-RIGHT : black solid 0px;
	  BORDER-TOP : black solid 0px;    
}
  .clsBreadCrumbs{
	padding: 1px 1px 1px 1px;
	font-size: 11px;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	text-align: left;
	color: black;
  }
