<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
		<sectionGroup name="TestSettings">
			<section name="RunSettings"
					type="System.Configuration.NameValueSectionHandler" />
			<section name="Table1"
					type="System.Configuration.NameValueSectionHandler" />
			<section name="Table2"
          type="System.Configuration.DictionarySectionHandler" />
		</sectionGroup>
	</configSections>

	<!-- these are for the old method, will remove later-->
	<!--<connectionStrings>
		<add name="MyConnection" connectionString="DRIVER={SQL Server};SERVER=PerfDB;DATABASE=MH65Perf01;UID=sa;PWD=MetraTech1;"/>
	</connectionStrings>-->
	<!--<TestSettings>
		<RunSettings>
			<add key="numThreads" value="30" />
			--><!--<add key="totalInserts" value="100000000" />--><!--
			<add key="totalRows" value="10000000" />
			<add key="rows_per_insert" value="10" />
			<add key="TableConfig" value="0" />
		</RunSettings>
	</TestSettings>-->

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>

	<appSettings>
		<add key="log4net.Internal.Debug" value="false"/>
	</appSettings>

	<log4net>
		<appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
			<!--
		•Blue
		•Green
		•Red
		•Yellow
		•Purple
		•Cyan
		•White
		-->
			<mapping>
				<level value="FATAL" />
				<foreColor value="Red, HighIntensity" />
				<backColor value="White" />
			</mapping>
			<mapping>
				<level value="ERROR" />
				<foreColor value="Red, HighIntensity" />
			</mapping>
			<mapping>
				<level value="WARN" />
				<foreColor value="Yellow, HighIntensity" />
			</mapping>
			<mapping>
				<level value="INFO" />
				<foreColor value="Green, HighIntensity" />
			</mapping>
			<mapping>
				<level value="DEBUG" />
				<foreColor value="Cyan, HighIntensity" />
			</mapping>
			<!--<mapping>
				<level value="ERROR"/>
				<foreColor value="White"/>
				<backColor value="Red, HighIntensity"/>
			</mapping>
			<mapping>
				<level value="WARN"/>
				<backColor value="YELLOW, HighIntensity"/>
			</mapping>
			<mapping>
				<level value="DEBUG"/>
				<backColor value="Green"/>
			</mapping>-->
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
			</layout>
		</appender>

		<appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
			<!--<file type="log4net.Util.PatternString" value="${SystemDrive}\%appdomain_%property{log4net:HostName}.log"/>-->
			<file type="log4net.Util.PatternString" value="%appdomain.log"/>
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
			<rollingStyle value="Composite"/>
			<datePattern value="yyyyMMdd"/>
			<maxSizeRollBackups value="100"/>
			<maximumFileSize value="15MB"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date %-5level %logger: %message%newline"/>
			</layout>
		</appender>

		<appender name="SmtpAppender" type="log4net.Appender.SmtpAppender">
			<threshold value="DEBUG"/>
			<to value="coreQA@metratech.com"/>
			<from value="buildmaster@metratech.com"/>
			<subject type="log4net.Util.PatternString" value="%property{log4net:HostName} Error: %appdomain"/>
			<smtpHost value="mail.metratech.com"/>
			<port value="25"/>
			<bufferSize value="10"/>
			<lossy value="true"/>
			<evaluator type="log4net.Core.LevelEvaluator">
				<threshold value="ERROR"/>
			</evaluator>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date %-5level %logger - %message%newline%newline%newline"/>
			</layout>
		</appender>

		<!-- log levels 
		<root>						- to set a base log level
		<logger name"className">	- to override the log level for a particular class
		DEBUG			- logs Fatal, Error, Warn, Info, Debug
		FINE			- logs Fatal, Error, Warn, Info, Debug
		FINER			- logs Fatal, Error, Warn, Info, Debug
		FINEST		- logs Fatal, Error, Warn, Info, Debug
		TRACE			- logs Fatal, Error, Warn, Info, Debug
		VERBOSE		- logs Fatal, Error, Warn, Info, Debug
		INFO			- logs Fatal, Error, Warn, Info
		NOTICE		- logs Fatal, Error, Warn
		WARN			- logs Fatal, Error, Warn
		ERROR			- logs Fatal, Error
		ALERT			- logs Fatal
		CRITICAL	- logs Fatal
		FATAL			- logs Fatal
		SEVERE		- logs Fatal

		ALL				- logs everything
		EMERGENCY	- no logging
		OFF				- no logging
		
		log4NetLogger.Fatal("This is a Fatal");
		log4NetLogger.Error("This is an Error");
		log4NetLogger.Warn("This is a Warn");
		log4NetLogger.Info("This is an Info");
		log4NetLogger.Debug("This is a Debug");
		-->
		<root>
			<level value="ALL"/>
			<appender-ref ref="ColoredConsoleAppender"/>
			<!--<appender-ref ref="RollingFileAppender"/>-->
		</root>

		<!--<logger name="MetraTech.coreQA.Tools.TestDrivers.TestDriver">
			<level value="WARN"/>
		</logger>-->

		<logger name="MetraTech.coreQA.Tools.TestDrivers.MTTestDriver">
			<level value="WARN"/>
		</logger>

		<!--<logger name="MetraTech.coreQA.Utils.Result">
			<level value="ALL"/>
			<appender-ref ref="ColoredConsoleAppender"/>
			<appender-ref ref="RollingFileAppender"/>
		</logger>-->
	</log4net>

	<system.diagnostics>
		<!-- log4net trace -->
		<trace autoflush="true">
			<listeners>
				<add name="textWriterTraceListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="C:\log4net_internal.log"/>
			</listeners>
		</trace>
	</system.diagnostics>

</configuration>
