<?xml version="1.0"?>
<configuration>

  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="100"/>
    </connectionManagement>
  </system.net>
  
	<!-- SERVICE CONFIG -->
	<system.serviceModel>
     <!--
		<bindings>
			<wsHttpBinding>
                <binding name="WSHttpBinding_IAccountCreation" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
                    allowCookies="false">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <reliableSession ordered="true" inactivityTimeout="00:10:00"
                        enabled="false" />
                    <security mode="Message">
                        <transport clientCredentialType="Basic" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" negotiateServiceCredential="true"
                            establishSecurityContext="true" />
                    </security>
                </binding>			
				<binding name="WSHttpBinding_IAddAccountEvents" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
					<reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
					<security mode="Message">
						<transport clientCredentialType="Basic" proxyCredentialType="None" realm=""/>
						<message clientCredentialType="UserName" negotiateServiceCredential="true" establishSecurityContext="true"/>
					</security>
				</binding>
				<binding name="WSHttpBinding_IUpdateAccountEvents" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
					<reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
					<security mode="Message">
						<transport clientCredentialType="Basic" proxyCredentialType="None" realm=""/>
						<message clientCredentialType="UserName" negotiateServiceCredential="true" establishSecurityContext="true"/>
					</security>
				</binding>
				<binding name="WSHttpBinding_IAccountService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
					<reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
					<security mode="Message">
						<transport clientCredentialType="Windows" proxyCredentialType="None" realm=""/>
						<message clientCredentialType="UserName" negotiateServiceCredential="true" algorithmSuite="Default" establishSecurityContext="true"/>
					</security>
				</binding>
				<binding name="WSHttpBinding_IContactUpdateEvents" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
					<reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
					<security mode="Message">
						<transport clientCredentialType="Basic" proxyCredentialType="None" realm=""/>
						<message clientCredentialType="UserName" negotiateServiceCredential="true" establishSecurityContext="true"/>
					</security>
				</binding>
        <binding name="WSHttpBinding_ISubscriptionsEvents" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
                    allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
              enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Basic" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" negotiateServiceCredential="true"
                establishSecurityContext="true" />
          </security>
        </binding>

        <binding name="WSHttpBinding_IElectronicPaymentServices" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="1048576" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="Message">
            <transport clientCredentialType="Basic" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" negotiateServiceCredential="true" establishSecurityContext="true"/>
          </security>
        </binding>
			</wsHttpBinding>
		</bindings>
		<client>
      <endpoint address="http://localhost:8001/AccountCreation" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IAccountCreation" contract="IAccountCreation" name="BasicHttpBinding_IAccountCreation">
				<identity>
					<dns value="ActivityServicesCert"/>
				</identity>
			</endpoint>
			
			<endpoint address="http://localhost:8001/AddAccountEvents" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IAddAccountEvents" contract="IAddAccountEvents" name="BasicHttpBinding_IAddAccountEvents">
				<identity>
					<dns value="ActivityServicesCert"/>
				</identity>
			</endpoint>
			<endpoint address="http://localhost:8001/UpdateAccountEvents" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IUpdateAccountEvents" contract="IUpdateAccountEvents" name="BasicHttpBinding_IUpdateAccountEvents">
				<identity>
					<dns value="ActivityServicesCert"/>
				</identity>
			</endpoint>
			<endpoint address="http://localhost:8001/AccountService" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IAccountService" contract="IAccountService" name="BasicHttpBinding_IAccountService">
				<identity>
					<dns value="ActivityServicesCert"/>
				</identity>
			</endpoint>
			<endpoint address="http://localhost:8001/ContactUpdateEvents" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IContactUpdateEvents" contract="IContactUpdateEvents" name="BasicHttpBinding_IContactUpdateEvents">
				<identity>
					<dns value="ActivityServicesCert"/>
				</identity>
			</endpoint>
      <endpoint address="http://localhost:8001/SubscriptionsEvents" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ISubscriptionsEvents" contract="ISubscriptionsEvents" name="BasicHttpBinding_ISubscriptionsEvents">
        <identity>
          <dns value="ActivityServicesCert"/>
        </identity>
      </endpoint>

      <endpoint address="HTTP://localhost:8001/ELECTRONICPAYMENTSERVICES/RECURRINGPAYMENTSSERVICE" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IElectronicPaymentServices" contract="IRecurringPaymentsService" name="WSHttpBinding_IElectronicPaymentServices">
        <identity>
          <dns value="ActivityServicesCert"/>
        </identity>
      </endpoint>
		</client>
      -->

    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IAddAccountEvents" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" listenBacklog="1000" maxBufferPoolSize="524288" maxBufferSize="65536" maxConnections="1000" maxReceivedMessageSize="65536">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None" protectionLevel="EncryptAndSign"/>
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
        <binding name="NetTcpBinding_IContactUpdateEvents" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" listenBacklog="1000" maxBufferPoolSize="524288" maxBufferSize="65536" maxConnections="1000" maxReceivedMessageSize="65536">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None" protectionLevel="EncryptAndSign"/>
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
        <binding name="NetTcpBinding_ISubscriptionsEvents" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" listenBacklog="1000" maxBufferPoolSize="524288" maxBufferSize="65536" maxConnections="1000" maxReceivedMessageSize="65536">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None" protectionLevel="EncryptAndSign"/>
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
        <binding name="NetTcpBinding_IUpdateAccountEvents" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" listenBacklog="1000" maxBufferPoolSize="524288" maxBufferSize="65536" maxConnections="1000" maxReceivedMessageSize="65536">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None" protectionLevel="EncryptAndSign"/>
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
        <binding name="NetTcpBinding_IMetraTech.Core.Services.AccountService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" listenBacklog="1000" maxBufferPoolSize="524288" maxBufferSize="65536" maxConnections="1000" maxReceivedMessageSize="65536">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None" protectionLevel="EncryptAndSign"/>
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
        <binding name="NetTcpBinding_IMetraTech.Core.Services.PriceListService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" listenBacklog="1000" maxBufferPoolSize="524288" maxBufferSize="65536" maxConnections="1000" maxReceivedMessageSize="65536">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None" protectionLevel="EncryptAndSign"/>
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
        <binding name="NetTcpBinding_IMetraTech.Core.Services.ElectronicPaymentServices" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" listenBacklog="1000" maxBufferPoolSize="524288" maxBufferSize="65536" maxConnections="1000" maxReceivedMessageSize="65536">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None" protectionLevel="EncryptAndSign"/>
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
        <binding name="NetTcpBinding_IGroupSubscriptionsEvents" closeTimeout="00:01:00"
            openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
            transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions"
            hostNameComparisonMode="StrongWildcard" listenBacklog="1000"
            maxBufferPoolSize="524288" maxBufferSize="65536" maxConnections="1000"
            maxReceivedMessageSize="65536">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
              enabled="false" />
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None" protectionLevel="EncryptAndSign" />
            <message clientCredentialType="UserName" />
          </security>
        </binding>

        <binding name="NetTcpBinding_IAccountCreation" closeTimeout="00:01:00"
            openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
            transactionFlow="false" hostNameComparisonMode="StrongWildcard"
            maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
            >
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
              enabled="false" />
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None" protectionLevel="EncryptAndSign" />
            <message clientCredentialType="UserName" />
          </security>
          <!--
          <security mode="Message">
            <transport clientCredentialType="Basic" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" negotiateServiceCredential="true"
                establishSecurityContext="true" />
          </security>-->
        </binding>
      </netTcpBinding>
      
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:99/AddAccountEvents" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IAddAccountEvents" contract="IAddAccountEvents" name="NetTcpBinding_IAddAccountEvents">
        <identity>
          <dns value="ActivityServicesCert"/>
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:99/ContactUpdateEvents" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IContactUpdateEvents" contract="IContactUpdateEvents" name="NetTcpBinding_IContactUpdateEvents">
        <identity>
          <dns value="ActivityServicesCert"/>
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:99/SubscriptionsEvents" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ISubscriptionsEvents" contract="ISubscriptionsEvents" name="NetTcpBinding_ISubscriptionsEvents">
        <identity>
          <dns value="ActivityServicesCert"/>
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:99/UpdateAccountEvents" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IUpdateAccountEvents" contract="IUpdateAccountEvents" name="NetTcpBinding_IUpdateAccountEvents">
        <identity>
          <dns value="ActivityServicesCert"/>
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:99/AccountService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IMetraTech.Core.Services.AccountService" contract="IAccountService" name="NetTcpBinding_IMetraTech.Core.Services.AccountService">
        <identity>
          <dns value="ActivityServicesCert"/>
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:99/PriceListService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IMetraTech.Core.Services.PriceListService" contract="IPriceListService" name="NetTcpBinding_IMetraTech.Core.Services.PriceListService">
        <identity>
          <dns value="ActivityServicesCert"/>
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:99/ElectronicPaymentServices/RecurringPaymentsService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IMetraTech.Core.Services.ElectronicPaymentServices" contract="IRecurringPaymentsService" name="NetTcpBinding_IMetraTech.Core.Services.ElectronicPaymentServices">
        <identity>
          <dns value="ActivityServicesCert"/>
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:99/GroupSubscriptionsEvents"
          binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IGroupSubscriptionsEvents"
          contract="IGroupSubscriptionsEvents" name="NetTcpBinding_IGroupSubscriptionsEvents">
        <identity>
          <dns value="ActivityServicesCert" />
        </identity>
      </endpoint>

      <endpoint address="net.tcp://localhost:99/AccountCreation"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IAccountCreation"
                contract="IAccountCreation" name="NetTcpBinding_IAccountCreation">
        <identity>
          <dns value="ActivityServicesCert"/>
        </identity>
      </endpoint>

    </client>
	</system.serviceModel>
</configuration>
