<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--   User application and configured property settings go here.-->
    <!--   Example: <add key="settingName" value="settingValue"/> -->
  </appSettings>
  <!-- SERVICE CONFIG -->
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IElectronicPaymentServices" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="Message">
            <transport clientCredentialType="Basic" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" negotiateServiceCredential="true" establishSecurityContext="true"/>
          </security>
        </binding>
        
        <binding name="WSHttpBinding_IAddAccountEvents" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="Message">
            <transport clientCredentialType="Basic" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" negotiateServiceCredential="true" establishSecurityContext="true"/>
          </security>
        </binding>
        <binding name="WSHttpBinding_IUpdateAccountEvents" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="Message">
            <transport clientCredentialType="Basic" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" negotiateServiceCredential="true" establishSecurityContext="true"/>
          </security>
        </binding>
        <binding name="WSHttpBinding_IAccountService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" negotiateServiceCredential="true" algorithmSuite="Default" establishSecurityContext="true"/>
          </security>
        </binding>
        <binding name="WSHttpBinding_IContactUpdateEvents" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="Message">
            <transport clientCredentialType="Basic" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" negotiateServiceCredential="true" establishSecurityContext="true"/>
          </security>
        </binding>
        <binding name="WSHttpBinding_IAccountCreation" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="Message">
            <transport clientCredentialType="Basic" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" negotiateServiceCredential="true" establishSecurityContext="true"/>
          </security>
        </binding>
		  <binding name="WSHttpBinding_ISubscriptionService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="9999999" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
			  <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
			  <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
			  <security mode="Message">
				  <transport clientCredentialType="Basic" proxyCredentialType="None" realm=""/>
				  <message clientCredentialType="UserName" negotiateServiceCredential="true" establishSecurityContext="true"/>
			  </security>
		  </binding>
		  <binding name="WSHttpBinding_IGroupSubscriptionService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="9999999" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
			  <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
			  <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
			  <security mode="Message">
				  <transport clientCredentialType="Basic" proxyCredentialType="None" realm=""/>
				  <message clientCredentialType="UserName" negotiateServiceCredential="true" establishSecurityContext="true"/>
			  </security>
		  </binding>
        <binding name="WSHttpBinding_ITicketingService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" negotiateServiceCredential="true" algorithmSuite="Default" establishSecurityContext="true"/>
          </security>
        </binding>
        <binding name="WSHttpBinding_IProductCatalogService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="9999999" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" negotiateServiceCredential="true" algorithmSuite="Default" establishSecurityContext="true"/>
          </security>
        </binding>      
        <binding name="WSHttpBinding_IProductOfferingService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="9999999" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="Message">
            <transport clientCredentialType="Basic" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" negotiateServiceCredential="true" establishSecurityContext="true"/>
          </security>
        </binding>
        <binding name="WSHttpBinding_IPriceListService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="9999999" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="Message">
            <transport clientCredentialType="Basic" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" negotiateServiceCredential="true" establishSecurityContext="true"/>
          </security>
        </binding>
        <binding name="WSHttpBinding_IDisputeService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="9999999" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="Message">
            <transport clientCredentialType="Basic" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" negotiateServiceCredential="true" establishSecurityContext="true"/>
          </security>
        </binding>
        <binding name="WSHttpBinding_IUsmService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="9999999" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="Message">
            <transport clientCredentialType="Basic" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" negotiateServiceCredential="true" establishSecurityContext="true"/>
          </security>
        </binding>
		  <binding name="WSHttpBinding_IApprovalManagementService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
			  <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
			  <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
			  <security mode="Message">
				  <transport clientCredentialType="Basic" proxyCredentialType="None" realm=""/>
				  <message clientCredentialType="UserName" negotiateServiceCredential="true" establishSecurityContext="true"/>
			  </security>
		  </binding>
		  <binding name="WSHttpBinding_IMetraTech.Core.Services.DivisionManagementService"
                    closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00"
                    sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false"
                    hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288"
                    maxReceivedMessageSize="9999999" messageEncoding="Text" textEncoding="utf-8"
                    useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
              enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Basic" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" negotiateServiceCredential="true" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>

      <endpoint address="HTTP://localhost:8001/ELECTRONICPAYMENTSERVICES/RECURRINGPAYMENTSSERVICE" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IElectronicPaymentServices" contract="IRecurringPaymentsService" name="WSHttpBinding_IElectronicPaymentServices">
        <identity>
          <dns value="ActivityServicesCert"/>
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8001/ElectronicPaymentServices/OneTimePaymentService" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IElectronicPaymentServices" contract="IOneTimePaymentService" name="WSHttpBinding_IElectronicPaymentServices">
        <identity>
          <dns value="ActivityServicesCert"/>
        </identity>
      </endpoint>      
       <endpoint address="http://localhost:8001/ElectronicPaymentServices/OneTimePaymentServiceV2" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IElectronicPaymentServices" contract="IOneTimePaymentServiceV2" name="WSHttpBinding_IElectronicPaymentServices">
        <identity>
          <dns value="ActivityServicesCert"/>
        </identity>
      </endpoint>
		<endpoint address="http://localhost:8001/ElectronicPaymentServices/CleanupTransactionService" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IElectronicPaymentServices" contract="ICleanupTransactionService" name="WSHttpBinding_IElectronicPaymentServices">
			<identity>
				<dns value="ActivityServicesCert"/>
			</identity>
		</endpoint>
      <endpoint address="http://localhost:8001/AddAccountEvents" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IAddAccountEvents" contract="IAddAccountEvents" name="BasicHttpBinding_IAddAccountEvents">
        <identity>
          <dns value="ActivityServicesCert"/>
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8001/UpdateAccountEvents" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IUpdateAccountEvents" contract="IUpdateAccountEvents" name="BasicHttpBinding_IUpdateAccountEvents">
        <identity>
          <dns value="ActivityServicesCert"/>
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8001/AccountService" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IAccountService" contract="IAccountService" name="BasicHttpBinding_IAccountService">
        <identity>
          <dns value="ActivityServicesCert"/>
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8001/ContactUpdateEvents" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IContactUpdateEvents" contract="IContactUpdateEvents" name="BasicHttpBinding_IContactUpdateEvents">
        <identity>
          <dns value="ActivityServicesCert"/>
        </identity>
      </endpoint>
		<endpoint address="HTTP://localhost:8001/SUBSCRIPTIONSERVICE" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ISubscriptionService" contract="ISubscriptionService" name="WSHttpBinding_ISubscriptionService">
			<identity>
				<dns value="ActivityServicesCert"/>
			</identity>
		</endpoint>
		<endpoint address="HTTP://localhost:8001/GROUPSUBSCRIPTIONSERVICE" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IGroupSubscriptionService" contract="IGroupSubscriptionService" name="WSHttpBinding_IGroupSubscriptionService">
			<identity>
				<dns value="ActivityServicesCert"/>
			</identity>
		</endpoint>
		<endpoint address="http://localhost:8001/AccountCreation" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IAccountCreation" contract="IAccountCreation" name="WSHttpBinding_IAccountCreation">
        <identity>
          <dns value="ActivityServicesCert"/>
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8001/TicketingService" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IAccountService" contract="ITicketingService" name="BasicHttpBinding_ITicketingService">
        <identity>
          <dns value="ActivityServicesCert"/>
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8001/ProductCatalogService" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IProductCatalogService" contract="IProductCatalogService" name="BasicHttpBinding_IProductCatalogService">
        <identity>
          <dns value="ActivityServicesCert"/>
        </identity>
      </endpoint>    
      <endpoint address="http://localhost:8001/ProductOfferingService" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IProductOfferingService" contract="IProductOfferingService" name="WSHttpBinding_IProductOfferingService">
        <identity>
          <dns value="ActivityServicesCert"/>
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8001/PriceListService" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IPriceListService" contract="IPriceListService" name="WSHttpBinding_IPriceListService">
        <identity>
          <dns value="ActivityServicesCert"/>
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8001/UsageHistoryService" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IPriceListService" contract="IUsageHistoryService" name="WSHttpBinding_IPriceListService">
        <identity>
          <dns value="ActivityServicesCert"/>
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8001/ScheduleAdapterService" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IPriceListService" contract="IScheduleAdapterService" name="WSHttpBinding_IPriceListService">
        <identity>
          <dns value="ActivityServicesCert"/>
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8001/AuthService" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IPriceListService" contract="IAuthService" name="WSHttpBinding_IPriceListService">
        <identity>
          <dns value="ActivityServicesCert"/>
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8001/DisputeService" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IDisputeService" contract="IDisputeService" name="WSHttpBinding_IDisputeService">
        <identity>
          <dns value="ActivityServicesCert"/>
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8001/UsmService" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IUsmService" contract="IUsmService" name="WSHttpBinding_IUsmService">
        <identity>
          <dns value="ActivityServicesCert"/>
        </identity>
      </endpoint>
		<endpoint address="http://localhost:8001/ApprovalManagementService" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IApprovalManagementService" contract="IApprovalManagementService" name="WSHttpBinding_IApprovalManagementService">
			<identity>
				<dns value="ActivityServicesCert"/>
			</identity>
		</endpoint>

		<endpoint address="http://localhost:8001/DivisionManagementService"
    binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IMetraTech.Core.Services.DivisionManagementService"
    contract="IDivisionManagementService" name="WSHttpBinding_IMetraTech.Core.Services.DivisionManagementService">
        <identity>
          <dns value="ActivityServicesCert" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>
