<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="MetraNet.Tools.BinaryCheck.Config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <MetraNet.Tools.BinaryCheck.Config>
      <setting name="NumThreads" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="StopInterrogationWait" serializeAs="String">
        <value>00:00:30</value>
      </setting>
      <setting name="InterrogateBatchSize" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="InterrogateQueueCheckWait" serializeAs="String">
        <value>00:00:00.0100000</value>
      </setting>
      <setting name="PDBDateMatchRangeSeconds" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="CSVOutputFormat" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UseRelativeDir" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="VersionTriggersMismatch" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ThreadPriority" serializeAs="String">
        <value>BelowNormal</value>
      </setting>
    </MetraNet.Tools.BinaryCheck.Config>
  </applicationSettings>
</configuration>