<?xml version="1.0"?>
  <MetraTech>
  
    <!-- Enumerated Type, View Hierarchy, Service to Stage Map -->
    <MenuGroup>
      <name>Configuration</name>
      <item>
        <name>Enumerated Types</name>
        <link>/MPM/default/dialog/Enumtypes/EnumspaceSelect.asp</link>
        <target>fmeMain</target>
      </item> 
     
    </MenuGroup>
    
    <!-- Advanced Options -->
    <MenuGroup>
      <name>Advanced</name>
            
      <!-- Service Defs -->
      <MenuGroup>
        <name>Service Definitions</name>
        
        <item>
          <name>Create New Service Definition</name>
          <link>/MPM/default/dialog/MSIX/CreateServiceDefinition.asp</link>
          <target>fmeMain</target>
          <icon>menu_link_new.gif</icon>
        </item>
        
        <AUTODETECT>ServiceDefinitions</AUTODETECT>
      </MenuGroup>
      
      <!-- Account Views -->
      <MenuGroup>
        <name>Account Views</name>
         
        <item>
          <name>Create New Account View</name>
          <link>/MPM/default/dialog/MSIX/CreateAccountView.asp</link>
          <target>fmeMain</target>
          <icon>menu_link_new.gif</icon>
        </item>
        
        <AUTODETECT>AccountViews</AUTODETECT>
      </MenuGroup>

      <!-- Account Types -->
      <MenuGroup>
        <name>Account Types</name>
         
        <item>
          <name>Create New Account Type</name>
          <link>/MPM/default/dialog/AccountTypes/NewAccountType.asp</link>
          <target>fmeMain</target>
          <icon>menu_link_new.gif</icon>
        </item>
        
        <AUTODETECT>AccountTypes</AUTODETECT>
      </MenuGroup>

    </MenuGroup>
  </MetraTech>
