<?xml version="1.0"?>
<MetraTech>
  <MenuGroup>
    <name>Configuration</name>
    <item>
      <name>Enumerated Types</name>
      <link>/MPM/default/dialog/Enumtypes/EnumspaceSelect.asp</link>
      <target>fmeMain</target>
    </item>
  </MenuGroup>


  <MenuGroup>
	<name>Service Definitions</name>
	<AUTODETECT>ServiceDefinitions</AUTODETECT>
  </MenuGroup>


</MetraTech>