/* COLOR GUIDE 
red: cc0000
*/

/* START ELEMENT STYLES */

a:link, a:visited {
	color:#cc0000
}
a:hover {
	color:#cc0000
}
h1, h2, h3, h4, h5, h6 {
	color:#cc0000
}
input:hover, textarea:hover, select:hover {
	color: #cc0000
}

/* END ELEMENT STYLES */

/* START GLOBAL LAYOUT */

#nav a:hover {
	color:#cc0000
}
#headernav a:hover {
	color:#cc0000
}
#subnav a:hover {
	color:#cc0000
}
.button a:hover {
	color:#cc0000;
	text-decoration:none;
}
.bullets li {
	background:url("../imgs/bullet-red.gif") left 1px no-repeat;
}
.boxheader {
	color:#cc0000
}
/* END GLOBAL LAYOUT */
