
.clsProgressBar{
  background-image:url(progressback.gif);
  background-repeat:no-repeat;
	padding:0px;
	text-align:left;
	width:210px;
	font-family:Tahoma;
	font-size:11px;
}

.clsProgressDiv{
  padding:5px;
	text-align:left;
	width:210px;
	font-family:Tahoma;
	font-size:11px;
	border:2px solid black;
	background-color:#004080;
	color:white;
	position:absolute;
	display:none;
}

BODY
	{
	font-size: 11px;
	font-family: Arial Unicode MS, Lucida Sans Unicode, Tahoma, Verdana, Arial, Helvetica, sans-serif;
	background-color:#CFDBE5;  
  margin: 0;
  scrollbar-face-color: #003B8E;
  scrollbar-shadow-color: navy;
  scrollbar-highlight-color: #688ABA;
  scrollbar-3dlight-color: #003B8E;
  scrollbar-darkshadow-color: #000040;
  scrollbar-track-color: #688ABA;
  scrollbar-arrow-color: #688ABA;
	}