/**********************************************************
*	This file should contain MPTE-specific styles, and      *
* any other style that you might want to override for MPTE*
***********************************************************/

/* Rule editor grid styles. Note: do not add text alignment to the 2 styles below!!! */

.RuleEditorTableCell{
    BACKGROUND-COLOR: #FFFFFF;
    COLOR: black;
    FONT-FAMILY: Arial;
    FONT-SIZE: 9pt;
    FONT-WEIGHT: normal;
    CURSOR: default;
    PADDING-LEFT: 4px;
    PADDING-RIGHT: 3px
}

.RuleEditorTableCellAlt{
    BACKGROUND-COLOR: #EEEEEE;
    COLOR: black;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 9pt;
    FONT-WEIGHT: normal;
    CURSOR: default;
    PADDING-LEFT: 4px;
    PADDING-RIGHT: 3px
}

.RuleEditorTableCellSpecial{
    BACKGROUND-COLOR: #FFFFFF;
    COLOR: #009966;
		WIDTH: 0pt;
    FONT-FAMILY: Arial;
    FONT-SIZE: 9pt;
    FONT-WEIGHT: normal;
    CURSOR: default;
    PADDING-LEFT: 4px;
    PADDING-RIGHT: 3px
}

.RuleEditorTableCellAltSpecial {
    BACKGROUND-COLOR: #EEEEEE;
    COLOR: #009966;
		WIDTH: 0pt;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 9pt;
    FONT-WEIGHT: normal;
    CURSOR: default;
    PADDING-LEFT: 4px;
    PADDING-RIGHT: 3px
}

.RuleEditorTableHeader{
	font-size: 12px; 
	font-family: Tahoma, "MS Sans Serif", Arial, Helvetica, sans-serif;
	color: #FFFFFF; 
	background-color: #0055CE;
	text-align: center;
	
	BORDER-BOTTOM: black solid 1px;
	BORDER-LEFT: #2075CE solid 1px;
	BORDER-RIGHT: black solid 1px;
	BORDER-TOP: #2075CE solid 1px;
  PADDING-LEFT: 5px;
  PADDING-RIGHT: 5px

}

.clsHeaderLink{
    FONT-SIZE: 12px;
		font-family: Tahoma, "MS Sans Serif", Arial, Helvetica, sans-serif;
		text-align: center;
		color: #BBFFBB;
		background-color: #0055CE;
		
    padding-left: 5px;
    padding-right: 5px
}

.clsTableText{
    FONT-SIZE: 12px;
		font-family: Tahoma, "MS Sans Serif", Arial, Helvetica, sans-serif;
		color: #000000;
		
    padding-left: 5px;
    padding-right: 5px
}

.RuleEditorMessage{
	font-size: 11px; 
	font-family: Tahoma, "MS Sans Serif", Arial, Helvetica, sans-serif;
	text-align: center;
	color: #FFFFFF; 
	background-color: #0065CE;
	
	BORDER-BOTTOM: black solid 1px;
	BORDER-LEFT: #0099ff solid 1px;
	BORDER-RIGHT: black solid 1px;
	BORDER-TOP: #0099ff solid 1px;
}

/* End of rule editor grid styles */

/* Style of the panel in which the RuleEditor lies. Right now it is some sort of grey...*/

.clsTextMpteBackPane {  
    BACKGROUND-COLOR: #CFDBE5;
    COLOR: white;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 9pt;
    FONT-WEIGHT: normal;
    CURSOR: default;
    PADDING-LEFT: 4px;
    PADDING-RIGHT: 3px
	}
	
.clsInfoURL {  
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 9pt;
		TEXT-ALIGN: RIGHT;
    FONT-WEIGHT: normal;
    CURSOR: default;
    PADDING-LEFT: 4px;
    PADDING-RIGHT: 3px
	}
	
.clsCustomErrorMessage {  
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 9pt;
		TEXT-ALIGN: RIGHT;
    FONT-WEIGHT: normal;
		COLOR: Red;
    CURSOR: default;
    PADDING-LEFT: 4px;
    PADDING-RIGHT: 3px
	}

.mdmDebuggerCaption{BACKGROUND-COLOR: #A8A8A8;BORDER-BOTTOM: 1px solid #8F8F8F;BORDER-LEFT: 1px solid #D0D0D0;BORDER-RIGHT: 1px solid #8F8F8F;BORDER-TOP: 1px solid #D0D0D0;clipBottom: 0px;clipLeft: 0px;clipRight: 0px;clipTop: 0px;COLOR: #484848;FONT-FAMILY: verdana;FONT-SIZE: 8pt;FONT-WEIGHT: bold;PADDING-BOTTOM: 2px;PADDING-LEFT: 2px;PADDING-RIGHT: 2px;PADDING-TOP: 2px;TEXT-ALIGN: Center;}
.mdmDebuggerCell{CURSOR:hand;BACKGROUND-COLOR: #B8B8B8;BORDER-BOTTOM: 1px solid #8F8F8F;BORDER-LEFT: 1px solid #D0D0D0;BORDER-RIGHT: 1px solid #8F8F8F;BORDER-TOP: 1px solid #D0D0D0;clipBottom: 0px;clipLeft: 0px;clipRight: 0px;clipTop: 0px;COLOR: #484848;FONT-FAMILY: verdana;FONT-SIZE: 8pt;FONT-WEIGHT: normal;PADDING-BOTTOM:1px;PADDING-LEFT: 1px;PADDING-RIGHT: 1px;PADDING-TOP: 1px;TEXT-ALIGN: left;}
.mdmDebuggerCellSelected{BACKGROUND-COLOR: #B8B8B8;BORDER-BOTTOM: 1px solid #8F8F8F;BORDER-LEFT: 1px solid #D0D0D0;BORDER-RIGHT: 1px solid #8F8F8F;BORDER-TOP: 1px solid #D0D0D0;clipBottom: 0px;clipLeft: 0px;clipRight: 0px;clipTop: 0px;COLOR: red;FONT-FAMILY: verdana;FONT-SIZE: 8pt;FONT-WEIGHT: bold;PADDING-BOTTOM:1px;PADDING-LEFT: 1px;PADDING-RIGHT: 1px;PADDING-TOP: 1px;TEXT-ALIGN: left;}
.mdmDebuggerCellProperty{BACKGROUND-COLOR: #B8B8B8;BORDER-BOTTOM: 1px solid #8F8F8F;BORDER-LEFT: 1px solid #D0D0D0;BORDER-RIGHT: 1px solid #8F8F8F;BORDER-TOP: 1px solid #D0D0D0;clipBottom: 0px;clipLeft: 0px;clipRight: 0px;clipTop: 0px;COLOR: #484848;FONT-FAMILY: verdana;FONT-SIZE: 8pt;FONT-WEIGHT: normal;PADDING-BOTTOM: 1px;PADDING-LEFT: 1px;PADDING-RIGHT: 1px;PADDING-TOP: 1px;TEXT-ALIGN: left;}
