<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--   User application and configured property settings go here.-->
    <!--   Example: <add key="settingName" value="settingValue"/> -->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <!-- SERVICE CONFIG -->
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IElectronicPaymentServices" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="999999" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Basic" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" negotiateServiceCredential="true" establishSecurityContext="true" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IAddAccountEvents" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="999999" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Basic" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" negotiateServiceCredential="true" establishSecurityContext="true" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IUpdateAccountEvents" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="999999" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Basic" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" negotiateServiceCredential="true" establishSecurityContext="true" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IAccountService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="999999" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" negotiateServiceCredential="true" algorithmSuite="Default" establishSecurityContext="true" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IContactUpdateEvents" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="999999" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Basic" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" negotiateServiceCredential="true" establishSecurityContext="true" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IAccountCreation" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="999999" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Basic" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" negotiateServiceCredential="true" establishSecurityContext="true" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IAuditLogService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="9999999" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Basic" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" negotiateServiceCredential="true" establishSecurityContext="true" />
          </security>
        </binding>
        <binding name="WSHttpBinding_ISubscriptionService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="9999999" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Basic" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" negotiateServiceCredential="true" establishSecurityContext="true" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IGroupSubscriptionService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="9999999" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Basic" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" negotiateServiceCredential="true" establishSecurityContext="true" />
          </security>
        </binding>
        <binding name="WSHttpBinding_ITicketingService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="999999" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" negotiateServiceCredential="true" algorithmSuite="Default" establishSecurityContext="true" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IProductCatalogService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="9999999" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" negotiateServiceCredential="true" algorithmSuite="Default" establishSecurityContext="true" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IProductOfferingService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="9999999" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Basic" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" negotiateServiceCredential="true" establishSecurityContext="true" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IPriceListService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="9999999" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Basic" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" negotiateServiceCredential="true" establishSecurityContext="true" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IDisputeService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="9999999" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Basic" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" negotiateServiceCredential="true" establishSecurityContext="true" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IUsmService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="9999999" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Basic" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" negotiateServiceCredential="true" establishSecurityContext="true" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IApprovalManagementService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="999999" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Basic" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" negotiateServiceCredential="true" establishSecurityContext="true" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IMetraTech.Core.Services.DivisionManagementService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="9999999" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Basic" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" negotiateServiceCredential="true" />
          </security>
        </binding>
        
        

        
      </wsHttpBinding>
      <basicHttpBinding>
        <binding name="WSHttpBinding_MAMHierarchyWebSvcSoap"
                 closeTimeout="00:01:00" 
                 openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" 
                 hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" 
                 maxReceivedMessageSize="9999999" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />


          <security mode="None"></security>
          <!--
          <security mode="Message">
            <transport clientCredentialType="Basic" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" negotiateServiceCredential="true" />
          </security>
          -->

        </binding>

      </basicHttpBinding>
      
      <netTcpBinding>
	      <!--
		<binding name="NetTcpBindingConfig" closeTimeout="00:01:00"
			openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
			transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions"
			hostNameComparisonMode="StrongWildcard" listenBacklog="10"
			maxBufferPoolSize="524288" maxBufferSize="99999999" maxConnections="50"
			maxReceivedMessageSize="99999999">
			<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
				maxBytesPerRead="4096" maxNameTableCharCount="16384" />
			<reliableSession ordered="true" inactivityTimeout="00:10:00"
				enabled="false" />
			<security mode="TransportWithMessageCredential">
				<transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
				<message clientCredentialType="UserName" algorithmSuite="Default" />
			</security>
		</binding>
		-->
		<binding name="NetTcpBindingConfig" 
			maxBufferPoolSize="21474836"
			maxBufferSize="21474836"
			maxConnections="21474836"
			maxReceivedMessageSize="21474836"
			portSharingEnabled="false"
			transactionFlow="false"
			listenBacklog="21474836">
			<security mode="TransportWithMessageCredential">
				<transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
				<message clientCredentialType="UserName" algorithmSuite="Default" />
			</security>
			<reliableSession enabled="false"/>
		</binding>
		
	</netTcpBinding>
      
    </bindings>
    <client>
      <endpoint address="HTTP://10.200.32.193:8001/ELECTRONICPAYMENTSERVICES/RECURRINGPAYMENTSSERVICE" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IElectronicPaymentServices" contract="IRecurringPaymentsService" name="WSHttpBinding_IElectronicPaymentServices">
        <identity>
          <dns value="ActivityServicesCert" />
        </identity>
      </endpoint>
      <endpoint address="http://10.200.32.193:8001/ElectronicPaymentServices/OneTimePaymentService" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IElectronicPaymentServices" contract="IOneTimePaymentService" name="WSHttpBinding_IElectronicPaymentServices">
        <identity>
          <dns value="ActivityServicesCert" />
        </identity>
      </endpoint>
      <endpoint address="http://10.200.32.193:8001/ElectronicPaymentServices/OneTimePaymentServiceV2" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IElectronicPaymentServices" contract="IOneTimePaymentServiceV2" name="WSHttpBinding_IElectronicPaymentServices">
        <identity>
          <dns value="ActivityServicesCert" />
        </identity>
      </endpoint>
      <endpoint address="http://10.200.32.193:8001/ElectronicPaymentServices/CleanupTransactionService" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IElectronicPaymentServices" contract="ICleanupTransactionService" name="WSHttpBinding_IElectronicPaymentServices">
        <identity>
          <dns value="ActivityServicesCert" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://10.200.32.193:99/AddAccountEvents" binding="netTcpBinding" bindingConfiguration="NetTcpBindingConfig" contract="IAddAccountEvents" name="AddAccountEventsBinding">
        <identity>
          <dns value="ActivityServicesCert" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://10.200.32.193:99/UpdateAccountEvents" binding="netTcpBinding" bindingConfiguration="NetTcpBindingConfig" contract="IUpdateAccountEvents" name="UpdateAccountEventsBinding">
        <identity>
          <dns value="ActivityServicesCert" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://10.200.32.193:99/AccountService" binding="netTcpBinding" bindingConfiguration="NetTcpBindingConfig" contract="IAccountService" name="AccountServiceBinding">
        <identity>
          <dns value="ActivityServicesCert" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://10.200.32.193:99/AuditLogService" binding="netTcpBinding" bindingConfiguration="NetTcpBindingConfig" contract="IAuditLogService" name="AuditLogServiceBinding">
        <identity>
          <dns value="ActivityServicesCert" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://10.200.32.193:99/RepositoryService" binding="netTcpBinding" bindingConfiguration="NetTcpBindingConfig" contract="IRepositoryService" name="RepositoryServiceBinding">
        <identity>
          <dns value="ActivityServicesCert" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://10.200.32.193:99/ContactUpdateEvents" binding="netTcpBinding" bindingConfiguration="NetTcpBindingConfig" contract="IContactUpdateEvents" name="ContactUpdateEventsBinding">
        <identity>
          <dns value="ActivityServicesCert" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://10.200.32.193:99/SUBSCRIPTIONSERVICE" binding="netTcpBinding" bindingConfiguration="NetTcpBindingConfig" contract="ISubscriptionService" name="SubscriptionServiceBinding">
        <identity>
          <dns value="ActivityServicesCert" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://10.200.32.193:99/GROUPSUBSCRIPTIONSERVICE" binding="netTcpBinding" bindingConfiguration="NetTcpBindingConfig" contract="IGroupSubscriptionService" name="GroupSubscriptionServiceBinding">
        <identity>
          <dns value="ActivityServicesCert" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://10.200.32.193:99/AccountCreation" binding="netTcpBinding" bindingConfiguration="NetTcpBindingConfig" contract="IAccountCreation" name="AccountCreationBinding">
        <identity>
          <dns value="ActivityServicesCert" />
        </identity>
      </endpoint>
      <endpoint address="http://10.200.32.193:8001/TicketingService" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IAccountService" contract="ITicketingService" name="BasicHttpBinding_ITicketingService">
        <identity>
          <dns value="ActivityServicesCert" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://10.200.32.193:99/ProductCatalogService" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IProductCatalogService" contract="IProductCatalogService" name="BasicHttpBinding_IProductCatalogService">
        <identity>
          <dns value="ActivityServicesCert" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://10.200.32.193:99/ProductOfferingService" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IProductOfferingService" contract="IProductOfferingService" name="WSHttpBinding_IProductOfferingService">
        <identity>
          <dns value="ActivityServicesCert" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://10.200.32.193:99/PriceListService" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IPriceListService" contract="IPriceListService" name="WSHttpBinding_IPriceListService">
        <identity>
          <dns value="ActivityServicesCert" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://10.200.32.193:99/UsageHistoryService" binding="netTcpBinding" bindingConfiguration="NetTcpBindingConfig" contract="IUsageHistoryService" name="UsageHistoryServiceBinding">
        <identity>
          <dns value="ActivityServicesCert" />
        </identity>
      </endpoint>
      <endpoint address="http://10.200.32.193:8001/ScheduleAdapterService" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IPriceListService" contract="IScheduleAdapterService" name="WSHttpBinding_IPriceListService">
        <identity>
          <dns value="ActivityServicesCert" />
        </identity>
      </endpoint>
      <endpoint address="http://10.200.32.193:8001/AuthService" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IPriceListService" contract="IAuthService" name="WSHttpBinding_IPriceListService">
        <identity>
          <dns value="ActivityServicesCert" />
        </identity>
      </endpoint>
      <endpoint address="http://10.200.32.193:8001/DisputeService" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IDisputeService" contract="IDisputeService" name="WSHttpBinding_IDisputeService">
        <identity>
          <dns value="ActivityServicesCert" />
        </identity>
      </endpoint>
      <endpoint address="http://10.200.32.193:8001/UsmService" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IUsmService" contract="IUsmService" name="WSHttpBinding_IUsmService">
        <identity>
          <dns value="ActivityServicesCert" />
        </identity>
      </endpoint>
      <endpoint address="http://10.200.32.193:8001/ApprovalManagementService" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IApprovalManagementService" contract="IApprovalManagementService" name="WSHttpBinding_IApprovalManagementService">
        <identity>
          <dns value="ActivityServicesCert" />
        </identity>
      </endpoint>
      
      <endpoint address="http://10.200.32.193:8001/DivisionManagementService" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IMetraTech.Core.Services.DivisionManagementService" contract="IDivisionManagementService" name="WSHttpBinding_IMetraTech.Core.Services.DivisionManagementService">
        <identity>
          <dns value="ActivityServicesCert" />
        </identity>
      </endpoint>

      
      
      
      
      <endpoint address="http://10.200.32.193/AccountHierarchy/Service.asmx" binding="basicHttpBinding" bindingConfiguration="WSHttpBinding_MAMHierarchyWebSvcSoap" contract="MAMHierarchyWebSvcSoap" name="WSHttpBinding_MAMHierarchyWebSvcSoap">
        <identity>
          <dns value="ActivityServicesCert" />
        </identity>
      </endpoint>


      
      
    </client>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>
