.clsTabAngleTopImage{
	background-color:#CEDEE7;
}
.clsTabBody{
	background-color: #CEDEEF;
	margin: 0px 0px 0px 5px;
}
.clsTabAngleTopUnselected{
/*  background-color:#CEDEEF;*/
	font:Arial;
	font-size:10pt;
	text-decoration:none;
}
.clsTabAngleTopSelected{
  	background-color:white;/*smoke;/*#ecf5ff;*/
    font:Arial;
    color:black;
    font-size:10pt;
    text-decoration:none;
}
.clsTabAngleTopLinkUnsel {
	font:Arial;
    font-size:10pt;
    text-decoration:none;
    color:black;
/*  background-color:#CEDEEF;	*/	
}
.clsHideableTab{
	position: absolute;
    left:10px; top:90px;
	z-index : auto;
}
.clsHideableTabMenu{
	position: absolute;
    left:10px; top:55px;
	z-index : auto;
}
.clsDialogTable{
    border:thin solid;
    border-color: #A9A9A9 Black Black #A9A9A9;
 }
 .clsDialogHeader{
	background-color:#CFDBE5;
    color: white;
    font-family:Arial;
    font-weight:bold;
    font-size:11pt;
	padding : 5px;
}
