.clsWizardBody{
	background-color: #CFDBE5;
  font-family: "Microsoft Sans Serif";
  font-size:8pt;
}
.clsWizardButton{
    width: 60px; 
    height: 24px;
  	padding: 3px 3px 3px 3px;   
   	font-size: 12px;
  	font-family: Arial Unicode MS, Lucida Sans Unicode, Tahoma, Arial, sans-serif;     
    font-weight: bold;
      
}
.clsWizardWideButton{
    width: 100px; 
    height: 24px;
  	padding: 3px 3px 3px 3px;   
   	font-size: 12px;
  	font-family: Arial Unicode MS, Lucida Sans Unicode, Tahoma, Arial, sans-serif;     
    font-weight: bold;
     
}
.clsWizardSmallButton{
    width: 60px; 
    height: 24px;
  	padding: 3px 3px 3px 3px;   
   	font-size: 12px;
  	font-family: Arial Unicode MS, Lucida Sans Unicode, Tahoma, Arial, sans-serif;     
    font-weight: bold;
}

.clsWizardButtonLinkDisabled{
	text-decoration:none;
    font-size:8pt;
    font-family:"Microsoft Sans Serif";
    color:#20336A;
    padding: 1px 0px 2px 0px;
}
.clsWizardEditTable{
	background-color: #C5C1BB;
}

.clsWizardPrompt{
	 font-size:8pt;
    font-family:"Microsoft Sans Serif";
    color:black;	
    padding : 2px 2px 2px 2px;
}

.clsWizardPromptRequired{
	 font-size:8pt;
    font-family:"Microsoft Sans Serif";
    color:black;	
  	font-weight: bold;
    padding : 2px 2px 2px 2px;
}

.clsWizardPromptOdd{
	 font-size:8pt;
    font-family:"Microsoft Sans Serif";
    color:black;	
    background-color: #C1CBD7;
    padding : 2px 2px 2px 2px;
}
.clsWizardPromptEven{
	 font-size:8pt;
    font-family:"Microsoft Sans Serif";
    color:black;	
    background-color: #CFDBE5;
    padding : 2px 2px 2px 2px;
}
.clsWizardInputBox{
	font-size:8pt;
    font-family:"Microsoft Sans Serif";
    color:black;
}
.clsWizardSelect{
	font-size:8pt;
    font-family:"Microsoft Sans Serif";
    color:black;
}
.clsWizardTableHeader{
	font-size:10pt;
    font-family:"Microsoft Sans Serif";
    font-weight:bold;
    color:white;
    background-color:#003B8E;
}
.clsWizardTableSubHeader{
	font-size:8pt;
    font-family:"Microsoft Sans Serif";
    font-weight:bold;
    color:white;
    background-color:#20336A;
}
.clsWizardNotesTD{
	font-family:Arial;
    font-size:8pt;
    color:black;
}
.clsWizardLegend{
	 font-family:"Microsoft Sans Serif";
    font-size:8pt;
}
.clsWizardScrollingDiv{
    overflow-y : auto;
    overflow-x : hidden;
}

.clsWizardError{
	BACKGROUND-COLOR: #FFCC00;
}

.clsWizardErrorText{  
	font-family: "Microsoft Sans Serif";
	font-size: 8pt;
	color: black;
}

.cycleTableCell{
    PADDING-LEFT: 10px;
    PADDING-RIGHT: 5px;
		PADDING-BOTTOM: 4px;
		PADDING-TOP:		4px;
}
