<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		   <!--
				 Command line replacement values
				 {0}: UserName
				 {1}: Password
				 {2}: Server Name
			-->
		<add key="SQLCommand" value ="OSQL.EXE"/>
		<add key="SQLCommandLine" value ="-U {0} -P {1} -S {2} -d master -r -b -n -i" />
		<add key="ORACommand" value="SQLPLUS.EXE" />
		<add key="ORACommandLine" value="-s -l {0}/{1}@{2} @" />
	   </appSettings>
</configuration>