<?xml version="1.0"?>
<MetraTech>
<MenuGroup>
	<name>Web Services</name>
		<MenuGroup>
			<name>View-only Products</name>
			<MenuGroup>
				<name>Configuration</name>
				<item>
					<name>Account</name>
					<link>MTRegedit/editxml.asp?xmlFile=/pipeline/staticdata/setdefaultaccountprops.xml&amp;title=pipeline/staticdata/setdefaultaccountprops.xml&amp;Schema=/MTAdmin/display/pipeline/staticdataconfig_schema.xml</link>
					<target>fmeMain</target>
				</item>
				<item>
					<name>Properties</name>
					<link>MTRegedit/editxml.asp?xmlFile=/pipeline/staticdata/setdefaultprops.xml&amp;title=pipeline/staticdata/setdefaultprops.xml&amp;Schema=/MTAdmin/display/pipeline/staticdataconfig_schema.xml</link>
					<target>fmeMain</target>
				</item>
			</MenuGroup>
			<item>
				<name>New Product</name>
			<link>staticdata/wizardStart.asp</link>
			<target>fmeMain</target>
		</item>
		<REPLACEMPSMENU></REPLACEMPSMENU>
	</MenuGroup>
  
	<MenuGroup>
		<name>Dynamic</name>
		<item>
			<name>New Product</name>
			<link>services/wizardStart.asp</link>
			<target>fmeMain</target>
		</item>
	<REPLACE></REPLACE>
	</MenuGroup>
 </MenuGroup>
 
 <MenuGroup>
	<name>Configuration Files</name>
<!--  Boris said this is done in a plug-in now
 	<MenuGroup>
  	<name>Account Credit Request</name>
  	<item>
  		<name>Configuration</name>
  		<link>/MTAdmin/MTRegedit/editxml.asp?title=pipeline/AccountCreditRequest/config.xml&amp;xmlFile=/pipeline/AccountCreditRequest/config.xml&amp;Schema=/MTAdmin/display/pipeline/AccountCreditRequest/config_schema.xml</link>
  		<target>fmeMain</target>
  	</item>
  </MenuGroup>
 -->
  <MenuGroup>
		<name>Database</name>
		<item>
			<name>DBAccess</name>
			<link>/MTAdmin/MTRegedit/editxml.asp?title=database/DBAccess.xml&amp;xmlFile=/database/DBAccess.xml&amp;Schema=/MTAdmin/display/database/DBAccess_schema.xml</link>
			<target>fmeMain</target>
		</item>
	</MenuGroup>
  
  <MenuGroup>
		<name>Enumerated Types</name>
		<item>
			<name>Configuration</name>
			<link>/MTAdmin/enum/enum.asp</link>
			<target>fmeMain</target>
		</item>
	</MenuGroup>

	<MenuGroup>
		<name>Logging</name>
		<item>
			<name>Logging</name>
			<link>/MTAdmin/MTRegedit/editxml.asp?title=logging/Logging.xml&amp;xmlFile=/logging/Logging.xml&amp;Schema=/MTAdmin/display/logging/Logging_schema.xml</link>
			<target>fmeMain</target>
		</item>
	</MenuGroup>
	<MenuGroup>
		<name>Phone Lookup</name>
		<item>
			<name>Devices</name>
			<link>/MTAdmin/MTRegedit/editxml.asp?title=PhoneLookup/Devices.xml&amp;xmlFile=/PhoneLookup/Devices.xml&amp;Schema=/MTAdmin/display/PhoneLookup/Devices_schema.xml</link>
			<target>fmeMain</target>
		</item>
		<item>
			<name>Countries</name>
			<link>/MTAdmin/MTRegedit/editxml.asp?title=PhoneLookup/Countries.xml&amp;xmlFile=/PhoneLookup/Countries.xml&amp;Schema=/MTAdmin/display/PhoneLookup/Countries_schema.xml</link>
			<target>fmeMain</target>
		</item>
		<item>
			<name>NANP</name>
			<link>/MTAdmin/MTRegedit/editxml.asp?title=PhoneLookup/NANP.xml&amp;xmlFile=/PhoneLookup/NANP.xml&amp;Schema=/MTAdmin/display/PhoneLookup/region_schema.xml</link>
			<target>fmeMain</target>
		</item>
		<item>
			<name>France</name>
			<link>/MTAdmin/MTRegedit/editxml.asp?title=PhoneLookup/France.xml&amp;xmlFile=/PhoneLookup/France.xml&amp;Schema=/MTAdmin/display/PhoneLookup/region_schema.xml</link>
			<target>fmeMain</target>
		</item>
		<item>
			<name>Germany</name>
			<link>/MTAdmin/MTRegedit/editxml.asp?title=PhoneLookup/Germany.xml&amp;xmlFile=/PhoneLookup/Germany.xml&amp;Schema=/MTAdmin/display/PhoneLookup/region_schema.xml</link>
			<target>fmeMain</target>
		</item>
		<item>
			<name>India</name>
			<link>/MTAdmin/MTRegedit/editxml.asp?title=PhoneLookup/India.xml&amp;xmlFile=/PhoneLookup/India.xml&amp;Schema=/MTAdmin/display/PhoneLookup/region_schema.xml</link>
			<target>fmeMain</target>
		</item>
		<item>
			<name>Ireland</name>
			<link>/MTAdmin/MTRegedit/editxml.asp?title=PhoneLookup/Ireland.xml&amp;xmlFile=/PhoneLookup/Ireland.xml&amp;Schema=/MTAdmin/display/PhoneLookup/region_schema.xml</link>
			<target>fmeMain</target>
		</item>
		<item>
			<name>Italy</name>
			<link>/MTAdmin/MTRegedit/editxml.asp?title=PhoneLookup/Italy.xml&amp;xmlFile=/PhoneLookup/Italy.xml&amp;Schema=/MTAdmin/display/PhoneLookup/region_schema.xml</link>
			<target>fmeMain</target>
		</item>
		<item>
			<name>Netherlands</name>
			<link>/MTAdmin/MTRegedit/editxml.asp?title=PhoneLookup/netherlands.xml&amp;xmlFile=/PhoneLookup/netherlands.xml&amp;Schema=/MTAdmin/display/PhoneLookup/region_schema.xml</link>
			<target>fmeMain</target>
		</item>
		<item>
			<name>UK</name>
			<link>/MTAdmin/MTRegedit/editxml.asp?title=PhoneLookup/UK.xml&amp;xmlFile=/PhoneLookup/UK.xml&amp;Schema=/MTAdmin/display/PhoneLookup/region_schema.xml</link>
			<target>fmeMain</target>
		</item>
		<item>
			<name>NANP-617</name>
			<link>/MTAdmin/MTRegedit/editxml.asp?title=PhoneLookup/NANP-617.xml&amp;xmlFile=/PhoneLookup/NANP-617.xml&amp;Schema=/MTAdmin/display/PhoneLookup/exchange_schema.xml</link>
			<target>fmeMain</target>
		</item>
	</MenuGroup>
	<MenuGroup>
		<name>MPS</name>
		<item>
			<name>View Hierarchy</name>
			<link>/MTAdmin/MTRegedit/editxml.asp?title=MPS/view_hierarchy.xml&amp;xmlFile=/PresServer/view_hierarchy.xml&amp;Schema=/MTAdmin/display/PresServer/view_hierarchy_schema.xml</link>
			<target>fmeMain</target>
		</item>
    <item>
				<name>Locale Currency</name>
				<link>/MTAdmin/MTRegedit/editxml.asp?title=MPS/LocaleCurrency.xml&amp;xmlFile=/PresServer/LocaleCurrency.xml&amp;Schema=/MTAdmin/display/PresServer/LocaleCurrency_schema.xml</link>
				<target>fmeMain</target>
		</item>
	</MenuGroup>
	<MenuGroup>
		<name>Server Access</name>
		<item>
			<name>Servers</name>
			<link>/MTAdmin/MTRegedit/editxml.asp?title=ServerAccess/Servers.xml&amp;xmlFile=/ServerAccess/Servers.xml&amp;Schema=/MTAdmin/display/ServerAccess/Servers_schema.xml</link>
			<target>fmeMain</target>
		</item>
	</MenuGroup>
	<MenuGroup>
		<name>Service Levels</name>
		<item>
			<name>Service Levels</name>
			<link>/MTAdmin/MTRegedit/editxml.asp?title=ServiceLevels/ServiceLevels.xml&amp;xmlFile=/ServiceLevels/ServiceLevels.xml&amp;Schema=/MTAdmin/display/ServiceLevels/ServiceLevels_schema.xml</link>
			<target>fmeMain</target>
		</item>
   </MenuGroup>
	</MenuGroup>
</MetraTech>
