#formPanel_ctl00_ContentPlaceHolder1_pnlPendingBillClose {
  width: 100% !important;
  height: 100% !important;
}

#formPanel_ctl00_ContentPlaceHolder1_pnlFailedAdapters {
  width: 100% !important;
  height: 100% !important;
}

#grid-container_ctl00_ContentPlaceHolder1_grdPendingBillClose {
  width: 100% !important;
  height: 100% !important;
}

#grid-container_ctl00_ContentPlaceHolder1_grdFailedAdapters {
  width: 100% !important;
  height: 100% !important;
}

#grid-container_ctl00_ContentPlaceHolder1_grdRunningAdapters {
  width: 100% !important;
  height: 100% !important;
}
