<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="true"
      internalLogToConsole="false"
      internalLogLevel="Trace"
      >

  <!--
  Log levels min-to-max: Trace,Debug,Info,Warn,Error,Fatal
  To get the node identifier for the process: ${environment:variable=node_id}
  To add thread name: ${threadname}
  [${longdate}]
  -->

  <extensions>
    <add assembly="nrt_lib"/>
  </extensions>

  <!-- Location of isolated mvm/ade logs -->
  <variable name="log_dir" value="${basedir}/../MvmLogs"/>

  <!-- Layout of all possible targets for logging -->
  <targets>

    <!-- Target for traditional MetraTech logging -->
    <target name="my_MTLogger" xsi:type="MTLogger" tag="[Engine]"
            layout="[${environment:variable=node_id}][${threadname}] ${message}"/>

    <!-- Target for mvm/ade isolated logging -->
    <target name="my_file" xsi:type="AsyncWrapper" batchSize="100" queueLimit="10000" overflowAction="Block">
      <target
         name="my_inner_file"
         xsi:type="File"
         deleteOldFileOnStartup="true"
         fileName="${log_dir}/MVM_LOG.${environment:variable=node_id}.txt"
         layout="[${longdate}][${environment:variable=node_id}][${threadname}]${message}"
         autoFlush="false"
         concurrentWrites="false"/>
    </target>

    <!-- Target for console logging -->
    <target name="my_console" xsi:type="Console" layout="[${longdate}][${environment:variable=node_id}][${threadname}]${message}"/>

    <!-- Target for slave logging to the console -->
    <target name="slave_console" xsi:type="Console" layout="${message}"/>

  </targets>

  <!-- The rules for which targets are used -->
  <rules>
    <logger name="*" minlevel="Trace" writeTo="my_MTLogger"/>
    <logger name="MVM.MapReduceInst"  minlevel="Fatal" writeTo="my_file" final="true" />
    <logger name="MVM.MessageSender" minlevel="Info" writeTo="my_file" final="true" />
    <logger name="MVM.MessageReceiver" minlevel="Info" writeTo="my_file" final="true" />
    <logger name="MVM.MessageOutbox" minlevel="Info" writeTo="my_file" final="true" />
    <logger name="MVM.NotifyMaxPriorityMessage" minlevel="Fatal" writeTo="my_file" final="true" />
    <logger name="MVM.HungryMessage" minlevel="Fatal" writeTo="my_file" final="true" />
    <logger name="MVM.Worker" minlevel="Fatal" writeTo="my_file" final="true" />
    <logger name="MVM.WorkMgr" minlevel="Fatal" writeTo="my_file" final="true" />
    <logger name="MVM.QueueProcMessage" minlevel="Fatal" writeTo="my_file" final="true" />


    <logger name="MVM.WorkBatch" minlevel="Fatal" writeTo="my_file" final="true" />

    <logger name="MVM.BundleMessage" minlevel="Info" writeTo="my_file" final="true" />
    
    <logger name="slave" minlevel="Trace" writeTo="slave_console" final="true"/>
    <logger name="*" minlevel="Trace" writeTo="my_console"/>
    <logger name="*" minlevel="Trace" writeTo="my_file"/>
  </rules>
</nlog>
