.MenuTab{
	BACKGROUND-COLOR: #20336A;
	text-align:center;
	font-weight : bold;
	border-right : 1px solid black;
	border-left : 1px solid black;
	border-top : 1px solid #ADEF8C;
  color: white;
}

.MenuTabEnd{
	BACKGROUND-COLOR: #003B8E;
	border-top : 1px solid #ADEF8C;	
}

a.MenuItemA{
	text-decoration: none;
  color:white;
	PADDING-TOP: 2px;
	font-size: 12px; 
	font-family: Tahoma, Arial, Helvetica, sans-serif;
  font-weight:bold;  
}

/*
a.MenuItemA:hover{
	text-decoration: none;
  color:#ADEF8C;
	PADDING-TOP: 2px;
	font-size: 12px; 
	font-family: Tahoma, Arial, Helvetica, sans-serif;
  font-weight:bold;
}*/

.MenuBackground{
BACKGROUND-COLOR: white;
}

.MenuItem{
	BACKGROUND-COLOR: #003B8E;
	PADDING-BOTTOM: 3px;
	PADDING-LEFT: 20px;
	PADDING-RIGHT: 3px;
	PADDING-TOP: 0px;
	TEXT-ALIGN : left;
    valign:middle;
 	background-image : url(/mcm/default/localized/us/images/Header/headerbutton.gif); 
 	background-repeat : no-repeat;	  
  cursor:hand;
}

.MenuItem:hover{
	BACKGROUND-COLOR: red;
	PADDING-BOTTOM: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	PADDING-TOP: 0px;
	TEXT-ALIGN : left
}

a.MenuItemNotEnableA{
	text-decoration: none;
	PADDING-TOP: 2px;
	color: Silver; 
}

.MenuItemNotEnable{
	BACKGROUND-COLOR: Gray;
	PADDING-BOTTOM: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	PADDING-TOP: 0px;
	TEXT-ALIGN: left
}

.MenuItemSeparator{
	BACKGROUND-COLOR:#688ABA;
	PADDING-BOTTOM: 0px;
	PADDING-LEFT: 5px;
	PADDING-RIGHT: 5px;
	PADDING-TOP: 0px;
	TEXT-ALIGN : left;
	border-right : 1px solid black;
	border-left : 1px solid black;
}

.MenuImage{
	PADDING-BOTTOM: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	PADDING-TOP: 0px;
	TEXT-ALIGN: left
}

.clsCloseSubscriber{
	TEXT-ALIGN : right;
}

.clsSubscriberHeading{
	text-align:center;
	FONT-WEIGHT: bold;
	color:white;
}

