:hover{
    color: Navy;
}

.clsWizardBody{
	background-color: #CFDBE5;/*#688ABA;*/
    font-family: "Microsoft Sans Serif";
    font-size:8pt;
}
.clsWizardTabBody{
	background-color: white;/*#688ABA;*/
    font-family: "Microsoft Sans Serif";
    font-size:8pt;
}
.clsWizardButton{
    width: 60px; 
    height: 24px;
    background-color: transparent;
    background-image: url(../images/button.gif);
  	background-repeat : no-repeat;
    background--image--pressed: url(/mpm/default/localized/us/images/button_pressed.gif);
    behavior: url(/mpm/default/localized/us/styles/button_press.htc);
    border: 0;
  	padding: 3px 3px 3px 3px;   
   	font-size: 8pt;
  	font-family: Tahoma, Arial, sans-serif;     
/*    font-weight: bold; */
    filter:blur(add=1,direction=180,strength=2);  
}
.clsWizardWideButton{
    width: 150px; 
    height: 24px;
    background-color: transparent;
    background-image: url(../images/buttonblueXlarge.gif);
    background--image--pressed: url(/mpm/default/localized/us/images/buttonblueXlarge_pressed.gif);
    behavior: url(/mpm/default/localized/us/styles/button_press.htc);
  	background-repeat : no-repeat;	
    border: 0;
/*  	padding: 3px 3px 3px 3px;   */
   	font-size: 8pt;
  	font-family: Tahoma, Arial, sans-serif;     
/*    font-weight: bold; */
    filter:blur(add=1,direction=180,strength=2); 
}
.clsWizardSmallButton{
    width: 60px; 
    height: 24px;
    background-color: transparent;
    background-image: url(../images/buttonsmall.gif);
    background--image--pressed: url(/mpm/default/localized/us/images/buttonsmall_pressed.gif);
    behavior: url(/mpm/default/localized/us/styles/button_press.htc);
  	background-repeat : no-repeat;	
    border: 0;
  	padding: 3px 3px 3px 3px;   
   	font-size: 12px;
  	font-family: Tahoma, Arial, sans-serif;     
    font-weight: bold;
    filter:blur(add=1,direction=180,strength=2);   

}

.clsWizardButtonLinkDisabled{
	text-decoration:none;
    font-size:8pt;
    font-family:"Microsoft Sans Serif";
    color:#20336A;
    padding: 1px 0px 2px 0px;
}
.clsWizardEditTable{
	background-color: #C5C1BB;
}

.clsWizardPrompt{
	 font-size:8pt;
    font-family:"Microsoft Sans Serif";
    color:black;	
    padding : 2px 2px 2px 2px;
}

.clsWizardPromptRequired{
	 font-size:8pt;
    font-family:"Microsoft Sans Serif";
    color:black;	
  	font-weight: bold;
    padding : 2px 2px 2px 2px;
}

.clsWizardPromptOdd{
	 font-size:8pt;
    font-family:"Microsoft Sans Serif";
    color:black;	
    background-color: #C1CBD7;
    padding : 2px 2px 2px 2px;
}
.clsWizardPromptEven{
	 font-size:8pt;
    font-family:"Microsoft Sans Serif";
    color:black;	
    background-color: #CFDBE5;
    padding : 2px 2px 2px 2px;
}
.clsWizardInputBox{
	font-size:8pt;
    font-family:"Microsoft Sans Serif";
    color:black;
}
.clsWizardSelect{
	font-size:8pt;
    font-family:"Microsoft Sans Serif";
    color:black;
}
.clsWizardTableHeader{
	font-size:10pt;
    font-family:"Microsoft Sans Serif";
    font-weight:bold;
    color:white;
/*	background-color: #007AE5; */
    background-color:#00388C;
}
.clsWizardTableSubHeader{
	font-size:8pt;
    font-family:"Microsoft Sans Serif";
    font-weight:bold;
    color:white;
    background-color:#20336A;
}
.clsWizardNotesTD{
	font-family:Arial;
    font-size:8pt;
    color:black;
}
.clsWizardLegend{
	 font-family:"Microsoft Sans Serif";
     font-size:8pt;
}
.clsWizardScrollingDiv{
    overflow-y : auto;
    overflow-x : hidden;
}

.clsWizardError{
	BACKGROUND-COLOR: #FFCC00;
}

.clsWizardErrorText{  
	font-family: "Microsoft Sans Serif";
	font-size: 8pt;
	color: black;
}
.clsWizardTabUnselected{
/*  background-color:#CEDEEF;*/
	font:Arial;
	font-size:8pt;
	text-decoration:none;
}
.clsWizardTabSelected{
  	background-color:white;/*smoke;/*#ecf5ff;*/
    font:Arial;
    color:black;
    font-size:8pt;
    text-decoration:none;
}
.clsWizardTabLinkUnselected {
	font:Arial;
    font-size:8pt;
    text-decoration:none;
    color:black;
/*  background-color:#CEDEEF;	*/	
}
.clsBlueButton{
    /*width:50px;
    font-family:tahoma;
    font-size:8pt;
    */
    width: 100px;
    height: 24px;
    background-color: transparent;
    background-image: url(../images/buttonbluelarge.gif);
    background--image--pressed: url(/mpm/default/localized/us/images/buttonbluelarge_pressed.gif);
    behavior: url(/mpm/default/localized/us/styles/button_press.htc);
    background-repeat : no-repeat;
    border: 0;
    padding: 3px 3px 3px 3px;
    font-size: 12px;
    font-family: Tahoma, tahoma, sans-serif;
    /* font-weight: bold;
    */
    filter:blur(add=1,direction=180,strength=2);
}