.clsBody{
/*	background-color:#6699CC; */
    font-size:10pt;
    font-family:Tahoma;
    padding:4px;
/*    color:white; */
}

.clsHeader{
	font-size:14pt;
    font-weight:bold;
    text-align:center; 
    border: medium double;
    background-color:#6699cc;
    color:white;
    border-color:black;
}

.clsSubHeader{
    padding-left:4px;
	font-size:12pt;
    font-weight:bold;
    background-color: #6699CC;
    color:white;
}
.clsLink{
	font-weight:bold;
    text-decoration:none;
    font-family:"Courier New";
}

.clsSubText{
	padding-left:10px;
}
.clsMainMenuLink{
	font-weight:bold;
    font-size:12pt;
    color:white;
}