<?xml version="1.0"?>
  <MetraTech>
    <MenuGroup>
      <name>Property Attributes</name>
      <item>
        <name>Attributes</name>
        <link>/MPM/default/dialog/MTFleXML/editxml_extensions.asp?xmlFile=/config/Attributes/attributes.msixdef&amp;Schema=/MPM/default/dialog/MTFleXML/Schema/MSIX/PropertyAttributesSchema.xml</link>
        <target>fmeMain</target>
      </item>

      <item>
        <name>Reason Codes</name>
        <link>/MPM/default/dialog/Adjustments/EditReasonCodes.asp</link>
        <target>fmeMain</target>
      </item>      
      <item>
        <name>Applicability Rules</name>
        <link>/MPM/default/dialog/Adjustments/EditApplicabilityRules.asp</link>
        <target>fmeMain</target>
      </item>

<!--      <item>
        <name>Attribute Values</name>
        <link>/MPM/default/dialog/MTFleXML/editxml_extensions.asp?xmlFile=/config/Attributes/attribute_values.xml&amp;Schema=/MPM/default/dialog/MTFleXML/Schema/MSIX/AttributeValuesSchema.xml</link>
        <target>fmeMain</target>
      </item>

      <item>
        <name>Aggregate</name>
        <link>/MPM/default/dialog/MTFleXML/editxml_extensions.asp?xmlFile=/config/Attributes/attribute_values.xml&amp;Schema=/MPM/default/dialog/MTFleXML/Schema/PCAttributes/AggregateAttributeValuesSchema.xml</link>
        <target>fmeMain</target>
      </item>
      <item>
        <name>Discount</name>
        <link>/MPM/default/dialog/MTFleXML/editxml_extensions.asp?xmlFile=/config/Attributes/attribute_values.xml&amp;Schema=/MPM/default/dialog/MTFleXML/Schema/PCAttributes/DiscountAttributeValuesSchema.xml</link>
        <target>fmeMain</target>
      </item>

      <item>
        <name>Non-Recurring Charge</name>
        <link>/MPM/default/dialog/MTFleXML/editxml_extensions.asp?xmlFile=/config/Attributes/attribute_values.xml&amp;Schema=/MPM/default/dialog/MTFleXML/Schema/PCAttributes/NonRecurringAttributeValuesSchema.xml</link>
        <target>fmeMain</target>
      </item>

      <item>
        <name>Recurring Charge</name>
        <link>/MPM/default/dialog/MTFleXML/editxml_extensions.asp?xmlFile=/config/Attributes/attribute_values.xml&amp;Schema=/MPM/default/dialog/MTFleXML/Schema/PCAttributes/RecurringAttributeValuesSchema.xml</link>
        <target>fmeMain</target>
      </item>

      <item>
        <name>Usage Charge</name>
        <link>/MPM/default/dialog/MTFleXML/editxml_extensions.asp?xmlFile=/config/Attributes/attribute_values.xml&amp;Schema=/MPM/default/dialog/MTFleXML/Schema/PCAttributes/UsageAttributeValuesSchema.xml</link>
        <target>fmeMain</target>
      </item> -->
    </MenuGroup>
    <MenuGroup>
      <name>Extended Properties</name>
      <item>
        <name>Aggregate</name>
        <link>/MPM/default/dialog/MTFleXML/editxml_extensions.asp?xmlFile=/config/ExtendedProp/aggregate.msixdef&amp;Schema=/MPM/default/dialog/MTFleXML/Schema/MSIX/ExtendedPropertiesSchema.xml</link>
        <target>fmeMain</target>
      </item>
        
      <item>
        <name>Discount</name>
        <link>/MPM/default/dialog/MTFleXML/editxml_extensions.asp?xmlFile=/config/ExtendedProp/discount.msixdef&amp;Schema=/MPM/default/dialog/MTFleXML/Schema/MSIX/ExtendedPropertiesSchema.xml</link>
        <target>fmeMain</target>
      </item>

      <item>
        <name>Non-Recurring Charge</name>
        <link>/MPM/default/dialog/MTFleXML/editxml_extensions.asp?xmlFile=/config/ExtendedProp/nonrecurring.msixdef&amp;Schema=/MPM/default/dialog/MTFleXML/Schema/MSIX/ExtendedPropertiesSchema.xml</link>
        <target>fmeMain</target>
      </item>

      <item>
        <name>Pricelist</name>
        <link>/MPM/default/dialog/MTFleXML/editxml_extensions.asp?xmlFile=/config/ExtendedProp/pricelist.msixdef&amp;Schema=/MPM/default/dialog/MTFleXML/Schema/MSIX/ExtendedPropertiesSchema.xml</link>
        <target>fmeMain</target>
      </item>

      <item>
        <name>Product Offering</name>
        <link>/MPM/default/dialog/MTFleXML/editxml_extensions.asp?xmlFile=/config/ExtendedProp/po.msixdef&amp;Schema=/MPM/default/dialog/MTFleXML/Schema/MSIX/ExtendedPropertiesSchema.xml</link>
        <target>fmeMain</target>
      </item>
      
      <item>
        <name>Recurring Charge</name>
        <link>/MPM/default/dialog/MTFleXML/editxml_extensions.asp?xmlFile=/config/ExtendedProp/recurring.msixdef&amp;Schema=/MPM/default/dialog/MTFleXML/Schema/MSIX/ExtendedPropertiesSchema.xml</link>
        <target>fmeMain</target>
      </item>

      <item>
        <name>Usage Charge</name>
        <link>/MPM/default/dialog/MTFleXML/editxml_extensions.asp?xmlFile=/config/ExtendedProp/usage.msixdef&amp;Schema=/MPM/default/dialog/MTFleXML/Schema/MSIX/ExtendedPropertiesSchema.xml</link>
        <target>fmeMain</target>
      </item>
     
    </MenuGroup>

    <MenuGroup>
      <name>Hierarchy</name>
      <item>
        <name>Hierarchy Settings</name>
        <link>/MPM/Default/Dialog/MTFleXML/editxml_extensions.asp?xmlFile=/config/Hierarchy/Hierarchy.xml&amp;Schema=/MPM/default/dialog/MTFleXML/Schema/Hierarchy/Hierarchy.xml</link>
        <target>fmeMain</target>
      </item>

    </MenuGroup>    
    
  </MetraTech>