/* COLOR GUIDE 
green: 007e66
*/

/* START ELEMENT STYLES */

a:link, a:visited {
	color:#007e66
}
a:hover {
	color:#007e66
}
h1, h2, h3, h4, h5, h6 {
	color:#007e66
}
input:hover, textarea:hover, select:hover {
	color: #007e66
}

/* END ELEMENT STYLES */

/* START GLOBAL LAYOUT */

#nav a:hover {
	color:#007e66
}
#headernav a:hover {
	color:#007e66
}
#subnav a:hover {
	color:#007e66
}
.button a:hover {
	color:#007e66;
	text-decoration:none;
}
.bullets li {
	background:url("../images/bullet-green.gif") left 1px no-repeat;
}
.boxheader {
	color:#007e66
}
.strong-field-label {
	color:#007e66
}
/* END GLOBAL LAYOUT */
