A:link {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #0066cc; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #0066cc; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #0066cc; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.searchfield {
	FONT-SIZE: 10px; VERTICAL-ALIGN: middle; COLOR: #003366; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #99ffff
}
.bodycopy {
	FONT-SIZE: 11px; COLOR: #003366; LINE-HEIGHT: 14px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.copyright {
	FONT-SIZE: 9px; COLOR: #666666; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.bodycopyBold {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #003366; LINE-HEIGHT: 14px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.bodycopyItalic {
	FONT-SIZE: 11px; COLOR: #003366; LINE-HEIGHT: 14px; FONT-STYLE: italic; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.DropMenu {
	FONT-SIZE: 9px; COLOR: #003366; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #e1f0ff
}
A.sidelinks:link {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: #cccccc; LINE-HEIGHT: 14px; FONT-FAMILY: Verdana, Helvetica, Arial, Verdana; TEXT-DECORATION: none
}
A.sidelinks:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: #cccccc; LINE-HEIGHT: 14px; FONT-FAMILY: Verdana, Helvetica, Arial, Verdana; TEXT-DECORATION: none
}
A.sidelinks:hover {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.PDFlinks:link {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #003366; FONT-FAMILY: Verdana, Helvetica, Arial, Verdana; TEXT-DECORATION: none
}
A.PDFlinks:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #003366; FONT-FAMILY: Verdana, Helvetica, Arial, Verdana; TEXT-DECORATION: none
}
A.PDFlinks:hover {
	COLOR: #0066cc; TEXT-DECORATION: none
}
.TextField {
	FONT-SIZE: 11px; COLOR: #003366; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
