<!-- This file must be in RMP\config\domainmodel -->
<xmlconfig>
  
  <localizableAssembly>MetraTech.DomainModel.BaseTypes.dll</localizableAssembly>
  <localizableAssembly>MetraTech.DomainModel.Enums.Generated.dll</localizableAssembly>
  <localizableAssembly>MetraTech.DomainModel.AccountTypes.Generated.dll</localizableAssembly>
  <localizableAssembly>MetraTech.DomainModel.ProductOffering.Generated.dll</localizableAssembly>

  <dto-assembly>MetraTech.MetraAR.DomainModel.dll</dto-assembly>
  
  <copy-generated-assemblies-to virtual-dir="MetraNet"/>
  <copy-generated-assemblies-to virtual-dir="MetraView"/>
  
  <version>6.0.1.0</version>
 <!-- Resources (.resx files and assemblies) will be produced for the following languages.
      The outputs will be generated in the bin folder under directories matching the standard language names.
      e.g. If the bin folder is C:\MetraTech\RMP\Bin, then the following files will be generated:
         C:\MetraTech\RMP\Bin\en\MetraTech.DomainModel.en.resx
                                \MetraTech.DomainModel.BaseTypes.Resources.dll 
         :
         :
		 
      The "standard" language code specified below must conform to the ISO 639-1 standard:
	  http://en.wikipedia.org/wiki/List_of_ISO_639-1_codes
 -->
 
  <language metratech="us" standard="en"/>
  <language metratech="de" standard="de"/>
  <!-- 'zh' by itself is not supported. -->
  <language metratech="cn" standard="zh-CN"/>  
  <language metratech="fr" standard="fr"/>
  <language metratech="jp" standard="ja"/>
  <language metratech="it" standard="it"/>
  <language metratech="es" standard="es"/>
  <language metratech="pt-br" standard="pt-br"/>
  <language metratech="es-mx" standard="es-mx"/>
  <language metratech="da" standard="da"/> 

</xmlconfig>
