<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
  <configSections>
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah"/>
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah"/>
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah"/>
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah"/>
      <section name="errorTweet" requirePermission="false" type="Elmah.ErrorTweetSectionHandler, Elmah"/>
    </sectionGroup>
  </configSections>
  <elmah>
    <security allowRemoteAccess="0"/>
    <!--
            Use to log errors into separate XML files that are stored on 
            disk at the path specified in the logPath attribute.  
      -->
    <errorLog type="Elmah.XmlFileErrorLog, Elmah" logPath="~/App_Data/Logs"/>
  </elmah>
  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="100"/>
    </connectionManagement>
  </system.net>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="RemoteOnly" defaultRedirect="~/ErrorPages/Oops.aspx"/>
    <!--
          Set compilation debug="true" to insert debugging
          symbols into the compiled page. Because this
          affects performance, set this value to true only
          during development.
          
          Note:  To detect debug mode to turn off some caching use this: HttpContext.Current.IsDebuggingEnabled
          Note:  Only use debug="false" in production.
    -->
    <compilation debug="false" targetFramework="4.5.1">
      <assemblies>
        <add assembly="Microsoft.VisualC, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.DirectoryServices.Protocols, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.EnterpriseServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.ServiceProcess, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.RegularExpressions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Workflow.Activities, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Workflow.ComponentModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Runtime.Serialization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpHandlers>
      <add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah"/>
    </httpHandlers>
    <httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah"/>
    </httpModules>
    <!-- AUTH -->
    <authentication mode="Forms">
      <forms name="metraviewAuth" loginUrl="login.aspx" protection="All"/>
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>
    <!-- TRACING -->
    <trace enabled="false" requestLimit="500" pageOutput="true" traceMode="SortByTime" localOnly="true"/>
    <!-- GLOBALIZATION -->
    <globalization uiCulture="auto:en" culture="auto:en-US" requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!-- Auth Continued...-->
  <location path="ErrorPages/Oops.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="EntryPoint.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="ForgotPassword.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="favicon.ico">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Styles">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Images">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="JavaScript">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Mobile/Login.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Mobile">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="ShowPDF.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="noframes.html">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="JavaScriptError.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <system.webServer>
    <!-- 
        GZip static file content.  Overrides the server default which only compresses static files over 2700 bytes
      -->
    <httpCompression directory="%SystemDrive%\websites\_compressed" minFileSizeForComp="1024">
      <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll"/>
      <staticTypes>
        <add mimeType="text/*" enabled="true"/>
        <add mimeType="message/*" enabled="true"/>
        <add mimeType="application/javascript" enabled="true"/>
        <add mimeType="application/json" enabled="true"/>
        <add mimeType="application/x-javascript" enabled="true"/>
        <add mimeType="*/*" enabled="false"/>
      </staticTypes>
    </httpCompression>
    <validation validateIntegratedModeConfiguration="false"/>
    <urlCompression doStaticCompression="true"/>
    <staticContent>
      <!-- Set expire headers to 30 days for static content-->
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00"/>
    </staticContent>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah"/>
    </modules>
    <handlers>
      <remove name="WebServiceHandlerFactory-ISAPI-2.0"/>
      <add name="Elmah" verb="POST,GET,HEAD" path="elmah.axd" preCondition="integratedMode" type="Elmah.ErrorLogPageFactory, Elmah"/>
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxQueryString="4096"/>
      </requestFiltering>
    </security>
    <!-- 
    <rewrite>
      <rules>
        <remove name="http-bind"/>
        <rule name="http-bind" patternSyntax="Wildcard" stopProcessing="true">
          <match url="*/http-bind*"/>
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
          </conditions>
          <serverVariables/>
          <action type="Rewrite" url="http://jabber1:5280/http-bind/"/>
        </rule>
      </rules>
    </rewrite>
    -->
  </system.webServer>
  <!-- APPLICATION SETTINGS -->
  <appSettings>
    <add key="DemoMode" value="false"/>
    <add key="AcctUserNameRegex" value="^([\w\-_~!@$]|\s)*$"/>
    <add key="GlobalResourceClassKey" value="Resource"/>
    <add key="ExcludeAccountType" value="Root"/>
    <add key="TimeOut" value="30000"/>
  </appSettings>
  <!-- SERVICE CONFIG -->
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="CustomQuotaBehavior">
          <dataContractSerializer maxItemsInObjectGraph="10000000"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IAddAccountEvents" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" listenBacklog="1000" maxBufferPoolSize="524288" maxBufferSize="65536" maxConnections="1000" maxReceivedMessageSize="65536">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None" protectionLevel="EncryptAndSign"/>
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
        <binding name="NetTcpBinding_IContactUpdateEvents" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" listenBacklog="1000" maxBufferPoolSize="524288" maxBufferSize="65536" maxConnections="1000" maxReceivedMessageSize="65536">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None" protectionLevel="EncryptAndSign"/>
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
        <binding name="NetTcpBinding_ISubscriptionsEvents" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" listenBacklog="1000" maxBufferPoolSize="524288" maxBufferSize="65536" maxConnections="1000" maxReceivedMessageSize="65536">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None" protectionLevel="EncryptAndSign"/>
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
        <binding name="NetTcpBinding_IUpdateAccountEvents" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" listenBacklog="1000" maxBufferPoolSize="524288" maxBufferSize="65536" maxConnections="1000" maxReceivedMessageSize="65536">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None" protectionLevel="EncryptAndSign"/>
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
        <binding name="NetTcpBinding_IMetraTech.Core.Services.AccountService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" listenBacklog="1000" maxBufferPoolSize="524288" maxBufferSize="65536" maxConnections="1000" maxReceivedMessageSize="65536">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None" protectionLevel="EncryptAndSign"/>
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
        <binding name="NetTcpBinding_IMetraTech.Core.Services.PriceListService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" listenBacklog="1000" maxBufferPoolSize="524288" maxBufferSize="65536" maxConnections="1000" maxReceivedMessageSize="65536">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None" protectionLevel="EncryptAndSign"/>
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
        <binding name="NetTcpBinding_IMetraTech.Core.Services.ElectronicPaymentServices" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" listenBacklog="1000" maxBufferPoolSize="524288" maxBufferSize="65536" maxConnections="1000" maxReceivedMessageSize="65536">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None" protectionLevel="EncryptAndSign"/>
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
        <binding name="NetTcpBinding_IGroupSubscriptionsEvents" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" listenBacklog="1000" maxBufferPoolSize="524288" maxBufferSize="65536" maxConnections="1000" maxReceivedMessageSize="65536">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None" protectionLevel="EncryptAndSign"/>
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
        <binding name="NetTcpBinding_IMetraTech.Core.Services.SubscriptionService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" listenBacklog="1000" maxBufferPoolSize="524288" maxBufferSize="65536" maxConnections="1000" maxReceivedMessageSize="65536">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None" protectionLevel="EncryptAndSign"/>
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
        <binding name="NetTcpBinding_IMetraTech.Core.Services.TicketingService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" listenBacklog="1000" maxBufferPoolSize="524288" maxBufferSize="65536" maxConnections="1000" maxReceivedMessageSize="65536">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None" protectionLevel="EncryptAndSign"/>
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
        <binding name="NetTcpBinding_IMetraTech.Core.Services.UsageHistoryService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" listenBacklog="1000" maxBufferPoolSize="524288" maxBufferSize="6553600" maxConnections="1000" maxReceivedMessageSize="999999999">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None" protectionLevel="EncryptAndSign"/>
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
        <binding name="NetTcpBinding_IMetraTech.BusinessEntity.Service.EntityInstanceService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" listenBacklog="1000" maxBufferPoolSize="524288" maxBufferSize="65536" maxConnections="1000" maxReceivedMessageSize="65536">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None" protectionLevel="EncryptAndSign"/>
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
        <binding name="NetTcpBinding_IMetraTech.BusinessEntity.Service.RepositoryService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" listenBacklog="1000" maxBufferPoolSize="524288" maxBufferSize="65536" maxConnections="1000" maxReceivedMessageSize="65536">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None" protectionLevel="EncryptAndSign"/>
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
        <binding name="NetTcpBinding_IMetraTech.BusinessEntity.Service.MetadataService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" listenBacklog="1000" maxBufferPoolSize="524288" maxBufferSize="1000000" maxConnections="1000" maxReceivedMessageSize="1000000">
          <readerQuotas maxDepth="32" maxStringContentLength="2000000" maxArrayLength="16384" maxBytesPerRead="2000000" maxNameTableCharCount="16384"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None" protectionLevel="EncryptAndSign"/>
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
        <binding name="NetTcpBinding_IAccountCreation" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="65536">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None" protectionLevel="EncryptAndSign"/>
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
        <binding name="NetTcpBinding_IAuthService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="65536">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None" protectionLevel="EncryptAndSign"/>
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
        <binding name="NetTcpBinding_IMetraTech.Core.Services.StaticReportsService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" transactionFlow="false" transferMode="StreamedResponse" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="524288" maxBufferSize="65536" maxConnections="10" maxReceivedMessageSize="6553600">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None" protectionLevel="EncryptAndSign">
              <!--
              <extendedProtectionPolicy policyEnforcement="Never" />-->
            </transport>
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
        <binding name="NetTcpBinding_IMetraTech.Core.Services.SpecificationsService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" listenBacklog="1000" maxBufferPoolSize="524288" maxBufferSize="6553600" maxConnections="1000" maxReceivedMessageSize="999999999">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None" protectionLevel="EncryptAndSign"/>
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:99/AddAccountEvents" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IAddAccountEvents" contract="IAddAccountEvents" name="NetTcpBinding_IAddAccountEvents">
        <identity>
          <dns value="ActivityServicesCert"/>
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:99/ContactUpdateEvents" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IContactUpdateEvents" contract="IContactUpdateEvents" name="NetTcpBinding_IContactUpdateEvents">
        <identity>
          <dns value="ActivityServicesCert"/>
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:99/SubscriptionsEvents" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ISubscriptionsEvents" contract="ISubscriptionsEvents" name="NetTcpBinding_ISubscriptionsEvents">
        <identity>
          <dns value="ActivityServicesCert"/>
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:99/UpdateAccountEvents" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IUpdateAccountEvents" contract="IUpdateAccountEvents" name="NetTcpBinding_IUpdateAccountEvents">
        <identity>
          <dns value="ActivityServicesCert"/>
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:99/AccountService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IMetraTech.Core.Services.AccountService" contract="IAccountService" name="NetTcpBinding_IMetraTech.Core.Services.AccountService">
        <identity>
          <dns value="ActivityServicesCert"/>
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:99/PriceListService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IMetraTech.Core.Services.PriceListService" contract="IPriceListService" name="NetTcpBinding_IMetraTech.Core.Services.PriceListService">
        <identity>
          <dns value="ActivityServicesCert"/>
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:99/ElectronicPaymentServices/RecurringPaymentsService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IMetraTech.Core.Services.ElectronicPaymentServices" contract="IRecurringPaymentsService" name="NetTcpBinding_IMetraTech.Core.Services.ElectronicPaymentServices">
        <identity>
          <dns value="ActivityServicesCert"/>
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:99/GroupSubscriptionsEvents" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IGroupSubscriptionsEvents" contract="IGroupSubscriptionsEvents" name="NetTcpBinding_IGroupSubscriptionsEvents">
        <identity>
          <dns value="ActivityServicesCert"/>
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:99/SubscriptionService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IMetraTech.Core.Services.SubscriptionService" contract="ISubscriptionService" name="NetTcpBinding_IMetraTech.Core.Services.SubscriptionService">
        <identity>
          <dns value="ActivityServicesCert"/>
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:99/TicketingService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IMetraTech.Core.Services.TicketingService" contract="ITicketingService" name="NetTcpBinding_IMetraTech.Core.Services.TicketingService">
        <identity>
          <dns value="ActivityServicesCert"/>
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:99/UsageHistoryService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IMetraTech.Core.Services.UsageHistoryService" contract="IUsageHistoryService" name="NetTcpBinding_IMetraTech.Core.Services.UsageHistoryService" behaviorConfiguration="CustomQuotaBehavior">
        <identity>
          <dns value="ActivityServicesCert"/>
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:99/EntityInstanceService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IMetraTech.BusinessEntity.Service.EntityInstanceService" contract="IEntityInstanceService" name="NetTcpBinding_IMetraTech.BusinessEntity.Service.EntityInstanceService">
        <identity>
          <dns value="ActivityServicesCert"/>
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:99/RepositoryService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IMetraTech.BusinessEntity.Service.RepositoryService" contract="IRepositoryService" name="NetTcpBinding_IMetraTech.BusinessEntity.Service.RepositoryService">
        <identity>
          <dns value="ActivityServicesCert"/>
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:99/MetadataService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IMetraTech.BusinessEntity.Service.MetadataService" contract="IMetadataService" name="NetTcpBinding_IMetraTech.BusinessEntity.Service.MetadataService">
        <identity>
          <dns value="ActivityServicesCert"/>
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:99/AccountCreation" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IAccountCreation" contract="IAccountCreation" name="NetTcpBinding_IAccountCreation">
        <identity>
          <dns value="ActivityServicesCert"/>
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:45454/StaticReportsService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IMetraTech.Core.Services.StaticReportsService" contract="IStaticReportsService" name="NetTcpBinding_IMetraTech.Core.Services.StaticReportsService">
        <identity>
          <dns value="ActivityServicesCert"/>
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:99/AuthService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IAuthService" contract="IAuthService" name="NetTcpBinding_IAuthService">
        <identity>
          <dns value="ActivityServicesCert"/>
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:99/SpecificationsService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IMetraTech.Core.Services.SpecificationsService" contract="ISpecificationsService" name="NetTcpBinding_IMetraTech.Core.Services.SpecificationsService">
        <identity>
          <dns value="ActivityServicesCert"/>
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>