<SubsystemProperties Signature="" IsRuntimeApiEnabled="true" IsRuntimeApiPublic="true" IsControlApiEnabled="true" IsControlApiPublic="true">
	<Engines>
		<Engine Id="MetraNet.Extension.GridLayout.Protector" IsDefault="true" RealType="MetraTech.SecurityFramework.DefaultObjectReferenceMapperEngine, MetraTech.SecurityFramework">
			<References>
				<Reference Name="56EABF07-1855-4A0D-9F16-8937D6D7CF97" Value="/%InstDir/%config\\Logging\\logging.xml"/>
				<Reference Name="340A4067-3305-43F2-9498-301A4B407A70" Value="/%InstDir/%config\\Logging\\AccountCreation\\logging.xml"/>
				<Reference Name="A2213097-FBB9-4C55-8FD2-C9B4F0ABD55A" Value="/%InstDir/%config\\Logging\\ActivityServices\\logging.xml"/>
				<Reference Name="50068A1F-1781-4B36-9FAB-51E902685060" Value="/%InstDir/%config\\Logging\\AdminAudit\\logging.xml"/>
				<Reference Name="A85DD0A1-8F2D-4045-864A-E234FDB9E46B" Value="/%InstDir/%config\\Logging\\AR\\logging.xml"/>
				<Reference Name="771E78FE-907C-4D9A-8B87-362BEAD9D14D" Value="/%InstDir/%config\\Logging\\CodeLookup\\logging.xml"/>
				<Reference Name="289F0F4B-4BD7-45ED-8CCE-D72D806521CE" Value="/%InstDir/%config\\Logging\\ConfigLoader\\logging.xml"/>
				<Reference Name="15839297-4695-47EF-81F3-0F08447D74BD" Value="/%InstDir/%config\\Logging\\HighResolutionTimer\\logging.xml"/>
				<Reference Name="0D5177E1-1BFB-46EA-AABE-57C4A3D96DBD" Value="/%InstDir/%config\\Logging\\Install\\logging.xml"/>
				<Reference Name="420A0089-E66C-429E-B6D2-7044CC4D1F0B" Value="/%InstDir/%config\\Logging\\MSIX\\logging.xml"/>
				<Reference Name="02C33CF6-035A-4B94-9CB4-DBEFB703745F" Value="/%InstDir/%config\\Logging\\PCImportExport\\logging.xml"/>
				<Reference Name="55C7D884-458A-4BF4-BAD8-8CEE436D9324" Value="/%InstDir/%config\\Logging\\PerfLog\\logging.xml"/>
				<Reference Name="D0FCBCC5-2AFC-4942-97C8-FD2B43273680" Value="/%InstDir/%config\\Logging\\PluginDebug\\logging.xml"/>
				<Reference Name="0729A0EA-1B60-4DDE-A421-8E6940E370A5" Value="/%InstDir/%config\\Logging\\QueryLog\\logging.xml"/>
				<Reference Name="CB73128F-1AC3-4944-8A99-830C04336924" Value="/%InstDir/%config\\Logging\\Reporting\\logging.xml"/>
				<Reference Name="7C073DA7-2FBF-443A-8F5B-422828B6324C" Value="/%InstDir/%config\\Logging\\XMLDiff\\logging.xml"/>
				<Reference Name="456C0392-CCDE-4E1C-A3D6-D37BA1A7CB74" Value="/MOM/Default/Dialog/MTFleXML/Schema/Logging/LoggingSchema.xml"/>
				<Reference Name="3CBDC05E-8E3E-4C7A-9B63-CCB998065011" Value="/MOM/Default/Dialog/MTFleXML/Styles/Logging/grid_template.html"/>
			</References>
		</Engine>
	</Engines>
</SubsystemProperties>
