<?xml version="1.0" encoding="utf-8"?>
<MetraFlowScript>
    <Name>InvoiceAccountMapper</Name>
    <Description>Generate usage summaries, adjustment summaries and balance forward amounts for invoice calculation.</Description>
    <Parameters>
        <Parameter>
            <Name>TEMP_DIR</Name>
            <SyntaxCheckValue>C:\Temp</SyntaxCheckValue>
            <Description>Directory in which to store temporary files.</Description>
        </Parameter>
        <Parameter>
            <Name>ID_BILLGROUP</Name>
            <SyntaxCheckValue>1000</SyntaxCheckValue>
            <Description>Billing group for which invoices are being processed.</Description>
        </Parameter>
    </Parameters>
    <Script>
      <![CDATA[
ns:select[baseQuery="
SELECT am.id_acc as ns_id_acc, am.nm_space as namespace
FROM
t_billgroup_member bgm
INNER LOOP JOIN t_account_mapper am ON bgm.id_acc=am.id_acc
INNER LOOP JOIN t_namespace n ON am.nm_space=n.nm_space
WHERE
bgm.id_billgroup=%%ID_BILLGROUP%%
AND
n.tx_typ_space='system_mps'
AND
{fn mod(bgm.id_acc, %%NUMPARTITIONS%%)} = %%PARTITION%%",
partitionConstraint="Database"];

ns_part:hashpart[key="ns_id_acc",
partitionConstraint="Database"];

ns_coll:coll[];

ns_write:sequential_file_write[filename="%%TEMP_DIR%%\invoice_t_account_mapper_%1%.mfd"];

ns -> ns_part -> ns_coll -> ns_write;
]]></Script>
</MetraFlowScript>