.clsMenuBody {
  font-family:tahoma, arial, helvetica, sans-serif;
  font-size:10pt;
  color:white;
  padding-top:-3px;
  padding-left:-3px;
	background-color:#003B8E;  
}

clsMenuLink:hover{
	color:#97CE21;
}

.clsTopLevelMenuItem{
  font-family:tahoma, arial, helvetica, sans-serif;
  font-size:10pt;
  font-weight:bold;
  color:white;
  cursor:hand;
}



.clsMenuRoot{
}

.clsMenuRootText{
	font-weight:bold;
    font-size:10pt;
}
.clsTopLevelMenuGroupText {
	font-size:8pt;
  font-weight:bold;
  cursor:hand; 
} 

.clsMenuGroup {

}

.clsMenuGroupText{
	font-size:8pt;
  cursor:hand;    
}

.clsMenuLink {
  font-size:8pt;
  color:white;
  text-decoration:none;
  cursor:hand;
}
.clsMenuRow{
}
.clsMenuItemText{
	
}