/* COLOR GUIDE 
gray: 696969
*/

/* START ELEMENT STYLES */

a:link, a:visited {
	color:#696969
}
a:hover {
	color:#696969
}
h1, h2, h3, h4, h5, h6 {
	color:#696969
}
input:hover, textarea:hover, select:hover {
	color: #696969
}

/* END ELEMENT STYLES */

/* START GLOBAL LAYOUT */

#nav a:hover {
	color:#696969
}
#headernav a:hover {
	color:#696969
}
#subnav a:hover {
	color:#696969
}
.button a:hover {
	color:#696969;
	text-decoration:none;
}
.bullets li {
	background:url("../images/bullet-gray.gif") left 1px no-repeat;
}
.boxheader {
	color:#696969
}
.strong-field-label {
	color:#696969
}
/* END GLOBAL LAYOUT */
